{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/wysi.css') }}"/>
    <script src="{{ asset('assets/js/wysi.js') }}"></script>
{% endblock %}
{% block content %}
<!-- Colonne de gauche-->
<div id="aside" class="col-md-4">
    <div class="box">
        <div class="box-header">
            <div class="float-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {class_cplt:'modal-form'}) }}
                    <a id="lien_modifier" data-placement="bottom" title="{{ 'envoyer_courrier'|trans }}" href="{{ path('courrier_envoi_massif',{'idCourrier':objet_data.primaryKey, 'format':'pdf' }) }}" class="btn btn-warning modal-form force-tooltip">
                        <i class="fa fa-paper-plane"></i>
                    </a>
                    {{ bouton('supprimer') }}
                    {{ bouton('dupliquer') }}
                </div>
            </div>
            {{ 'courrier_numero'|trans }} : {{ objet_data.idCourrier }}
            <h2>{{ objet_data.nom }}</h2>

            <dl class="dl-horizontal">
                <dt>{{ 'date_creation'|trans }} :</dt>
                <dd>{{ objet_data.createdAt|date("d/m/Y") }}</dd>
                <dt>{{ 'statut'|trans }} :</dt>
                <dd>{{ objet_data.statut }}</dd>
                <dt>{{ 'observation'|trans }} :</dt>
                <dd>{{ objet_data.observation }}</dd>
            </dl>
        </div>

    </div>
    {% if objet_data.valeur is iterable %}
    <div class="box">
        <div class="box-header">
            <h5>Variables</h5>
        </div>
        <div class="box-body">
            <h6>Variables à compléter</h6>
            <dl class="dl-horizontal">
                {% for k,valeur in objet_data_ext.varsSpecifiques %}
                <dt>{{ k }} :</dt>
                <dd>{{ valeur }}</dd>
                {% endfor %}
            </dl>
            <h6>Variables logiciel</h6>
            <ul class="list-inline">
                {% for k,valeur in objet_data_ext.varsLogiciel %}
                    <li class="list-inline-item">{{ k }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif%}
</div>


    <div id="contenu" class="col-md-8">
        {% if objet_data.estSms()   %}
        <div class="box">
            <div class="box-header">
                <div class="float-right">
                    <a href="{{ path('courrier_ajouter_bloc',{'idCourrier':objet_data.idCourrier,'canal':'S'}) }}"
                       class="btn btn-success modal-form">Ajout d'un bloc</a>
                </div>
                <h3>Texte du SMS</h3></div>
            <div class="box-body">
                <ul class="sortable list-unstyled">
                {% for bloc_id,bloc in objet_data.blocSms %}
                    <div class="bloc_id clearfix">
                        <div class="float-right">
                        <a href="{{  path('courrier_texte',{'idCourrier':objet_data.primaryKey,'canal':'S','bloc_id':bloc_id})}}" class="btn btn-secondary modal-form">
                            <i class="fa fa-pen-square" aria-hidden="true"></i>
                            Modifier le texte
                        </a>
                        </div>
                        {{ bloc.texte|raw }}
                    </div>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if objet_data.estEmail()   %}

            <div class="box">
                <div class="box-header">
                    <div class="float-right">
                        <a href="{{  path('courrier_options_bloc_email',{'idCourrier':objet_data.primaryKey})}}" class="btn btn-secondary modal-form">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </a>
                       <a href="{{ path('courrier_envoyer_test',{'idCourrier':objet_data.primaryKey}) }}" class="btn btn-warning modal-form">Envoyer un test</a>
                    </div>
                    <h3>Email</h3></div>



                <div class="box-body">


                    <h4>Sujet</h4>
                    <div class="row-fluid">
                        <div class="col-md-8">
                            <span class="xeditable" data-url="{{ path('courrier_email_sujet',{'idCourrier':objet_data.primaryKey}) }}">
                                {% if objet_data.EmailSujet.texte %}
                                    {{ objet_data.EmailSujet.texte }}
                                    {% else %}
                                        Définissez un sujet à votre email
                                {% endif %}
                            </span>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                {%  set variables = objet_data_ext.varsSpecifiques('email_sujet') %}
                                {% for nom_var,val_var in variables %}
                                    <li class="">
                                        {{ nom_var }} : <a class="xeditable" data-url="{{ path('courrier_variable',{'canal':'email_sujet','idCourrier':objet_data.idCourrier })|raw }}" id="{{ nom_var }}">{{  val_var }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                     </div>
                    <div class="clearfix"></div>
                    <hr/>
                    <div class="float-right">
                        <a href="{{ path('courrier_ajouter_bloc',{'idCourrier':objet_data.idCourrier,'canal':'E'}) }}"
                           class="btn btn-sm btn-success modal-form">Ajout d'un bloc</a>
                    </div>
                    <h4>Corps du courriel</h4>
                    <ul class="sortable list-unstyled" data-href="{{ path('courrier_bloc_trier',{'canal':'E','idCourrier':objet_data.getPrimaryKey}) }}">
                    {% for bloc_id,bloc in objet_data.blocEmail %}
                        <li class="bloc_id clearfix"  data-id="{{ bloc_id }}">

                            <div class="panel panel-secondary">
                                <div class="panel-heading ">

                                    <div class="panel-title ">
                                        <div class="float-right">

                                            <a href="{{  path('courrier_texte',{'idCourrier':objet_data.IdCourrier,'canal':'E','bloc_id':bloc_id})}}" class="btn btn-link ajax-remplace" data-cible="#bloc_E_body_{{ bloc_id|sanitize }}">
                                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                                Modifier le texte
                                            </a>
                                            <a data-href="{{  path('courrier_supprimer_bloc',{'idCourrier':objet_data.IdCourrier,'canal':'E','bloc_id':bloc_id})}}" class="btn btn-link " data-confirm="Etes vous certain de vouloir supprimer ce bloc ?" >
                                                <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                                    <span class="muted small">{{ bloc_id }} </span>
                                    </div>


                                </div>
                            <div class="panel-body">
                                    <div class="row-fluid " id="bloc_E_body_{{ bloc_id|sanitize }}">
                                <div class="col-md-8 clearfix">
                                    {{ bloc.texte|raw }}
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        {%  set variables = objet_data_ext.varsSpecifiques('email',bloc_id) %}
                                    {% for nom_var,val_var in variables %}
                                    <li class="">
                                        {{ nom_var }} : <a class="xeditable" data-url="{{ path('courrier_variable',{'canal':'email','bloc_id':bloc_id,'idCourrier':objet_data.idCourrier })|raw }}" id="{{ nom_var }}">{{  val_var }}</a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                    <h4>Les pièces jointes</h4>
                    <ul>
                    {% for pj  in objet_data_ext.PieceJointeEmail %}
                       <li>
                          <a href="{{ path('image',{'id_document':pj.IdDocument}) }}"> <i class="fa fa-file"></i> {{ pj.nom }} -  {{ pj.extension }}</a>
                           <a data-href="{{  path('courrier_supprimer_pj',{'idCourrier':objet_data.idCourrier ,'id_document':pj.IdDocument})}}" class="btn btn-danger" data-confirm="Etes vous sur de supprimer cette piece jointe ?">
                               <i class="fa fa-trash-alt"  aria-hidden="true"></i>
                           </a>
                       </li>
                    {% endfor %}
                    </ul>
                    <h5>Ajouter une piece jointe</h5>
                    {{ form(form_upload_piece_jointe) }}



                </div>
            </div>
        {% endif %}


        {% if objet_data.estLettre()   %}
            <div class="box">
                <div class="box-header">
                    <div class="float-right">
                        <a href="{{  path('courrier_options_bloc_lettre',{'idCourrier':objet_data.idCourrier })}}" class="btn btn-secondary modal-form">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </a>

                        <a href="{{ path('courrier_ajouter_bloc',{'idCourrier':objet_data.idCourrier,'canal':'L'}) }}"
                           class="btn btn-success modal-form">Ajout d'un bloc</a>

                        <div class="btn-group">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Apercu <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a id="lien_modifier" title="Apercu" href="{{ path('courrier_imprimer',{'idCourrier':objet_data.idCourrier ,'format':'pdf','apercu':1}) }}" class="force-tooltip">
                                        <i class="fa fa-file-pdf" aria-hidden="true"></i>  Apercu PDF
                                    </a>
                                </li>
                                <li>
                                    <a id="lien_modifier" title="Apercu" href="{{ path('courrier_imprimer',{'idCourrier':objet_data.idCourrier ,'apercu':1}) }}" class="force-tooltip modal-form">
                                        <i class="fa fa-eye"></i> Apercu HTML
                                    </a>
                                </li>
                            </ul>
                        </div>




                        <a id="lien_modifier" title="Imprimer" href="{{ path('courrier_imprimer',{'idCourrier':objet_data.idCourrier ,'format':'pdf'}) }}" class="btn btn-warning force-tooltip">
                            <i class="fa fa-file-pdf" aria-hidden="true"></i> Imprimer
                        </a>
                    </div>
                    <h3>Texte de la lettre</h3>
                </div>
                <div class="box-body">

                    {% if  objet_data.lettreEstampille %}
                    <h4>Le modele de document</h4>
                    <ul>
                        {% set modele = objet_data_ext.GEDModele %}
                        {% if  modele %}
                            <li>
                                {{ modele.nom }} -  {{ modele.extension }}
                                <a href="{{ path('image',{'id_document':modele.idDocument}) }}"> <i class="fa fa-file"></i> Voir le modele</a>
                                <a href="{{ path('courrier_generer_estampiller',{'idCourrier':objet_data.idCourrier}) }}"> <i class="fa fa-file"></i> Générer le document avec estampillage de l'adresse</a>
                                <a data-href="{{  path('courrier_supprimer_modele',{'idCourrier':objet_data.idCourrier,'id_document':modele.idDocument})}}" class="btn btn-danger" data-confirm="Etes vous sur de supprimer cette piece jointe ?">
                                    <i class="fa fa-trash-alt"  aria-hidden="true"></i>
                                </a>
                            </li>
                        {% else %}
                            <h5>Télécharger le modele du document</h5>
                            {{ form(form_upload_modele) }}


                        {% endif%}

                    </ul>
                    {% else %}

                    <ul class="sortable list-unstyled" data-href="{{ path('courrier_bloc_trier',{'canal':'L','idCourrier':objet_data.getPrimaryKey}) }}">
                    {% for bloc_id,bloc in objet_data.blocLettre %}

                        <li class="bloc_id clearfix" data-id="{{ bloc_id }}">
                            <div class="row-fluid ">
                                <div class="col-md-9 clearfix">

                            <div class="float-right">
                                <a class="xeditable" data-type="select" data-source="{'hautdepage': 'hautdepage','corp': 'corp','basdepage': 'basdepage'}" data-url="{{ path('courrier_position_bloc',{'idCourrier':objet_data.idCourrier })|raw }}" id="{{ bloc_id }}">{{ bloc.position }}</a>

                                <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>

                                <a href="{{  path('courrier_condition',{'idCourrier':objet_data.idCourrier,'canal':'L','bloc_id':bloc_id})}}" class="btn btn-secondary modal-form">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    Condition d'affichage
                                </a>
                                <a href="{{  path('courrier_style',{'idCourrier':objet_data.idCourrier,'canal':'L','bloc_id':bloc_id})}}" class="btn btn-secondary modal-form">
                                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                    Ajuster le style
                                </a>
                                <a href="{{  path('courrier_texte',{'idCourrier':objet_data.idCourrier,'canal':'L','bloc_id':bloc_id})}}" class="btn btn-secondary modal-form">
                                    <i class="fa fa-pen-square" aria-hidden="true"></i>
                                    Modifier le texte
                                </a>
                                <a data-href="{{  path('courrier_supprimer_bloc',{'idCourrier':objet_data.idCourrier,'canal':'L','bloc_id':bloc_id})}}" class="btn btn-danger" data-confirm="Etes vous sur de supprimer ce bloc ?">
                                    <i class="fa fa-trash-alt"  aria-hidden="true"></i>
                                </a>
                            </div>
                            <h4>{{ bloc_id }}</h4>
                            {{ bloc.texte|raw }} </div>
                                <div class="col-md-3">
                                <ul class="list-unstyled">
                                    {%  set variables = objet_data_ext.varsSpecifiques('lettre',bloc_id) %}
                                    {% for nom_var,val_var in variables %}
                                        <li class="">
                                            {{ nom_var }} : <a class="xeditable" data-url="{{ path('courrier_variable',{'canal':'lettre','bloc_id':bloc_id,'idCourrier':objet_data.idCourrier })|raw }}" id="{{ nom_var }}">{{  val_var }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            </div>

                        </li>
                    {% endfor %}
                        </ul>
                    {% endif%}
                </div>
            </div>
        {% endif %}


        <div class="box">

            <div class="box-header">
                <div class="float-right">
                    <a data-href="{{  path('courrierdestinataires_delete',{'idCourrier':objet_data.idCourrier})}}" class="btn btn-danger modal_confirm" data-confirm="Etes vous sure de vider la liste des destinataires ?">Supprimer tous les destinataires</a>
                    {% if conf('general.membrind') %}
                        <a href="{{  path('courrierdestinataire_ajout',{'idCourrier':objet_data.idCourrier})}}" class="btn btn-success modal-form">Ajout de destinataires</a>
                    {% else %}
                        <a href="{{  path('courrierdestinataire_ajout',{'idCourrier':objet_data.idCourrier,'objet':'membre'})}}" class="btn btn-success modal-form">Ajout de membres</a>
                        <a href="{{  path('courrierdestinataire_ajout',{'idCourrier':objet_data.idCourrier,'objet':'individu'})}}" class="btn btn-success modal-form">Ajout d'individus</a>
                    {% endif %}
                </div>
                    <h3>Les destinataires</h3></div>
            <div class="box-body">
                {% include('inclure/table_dyn.html.twig') with{'objet_bloc':'courrierdestinataire','datatable':datatable_destinataire} only %}
             </div>
        </div>



{% endblock %}

