
{% block content %}
    {% include('inclure/table_dyn.html.twig') with{'objet':objet,'tab_col':donneTabCol(objet),'tab_filtres':donneTabFiltre(objet)} only %}
{% endblock %}
 {#todo paiement#}
{#<div class="table-actions">#}
    {#{% set tab_col_exclure= ['created_at'] %}#}
    {#{% set objet_en_cours = _self|trouverObjet %}#}
    {#{% if tab_enfant is not defined %}#}
        {#{% set tab_enfant = false %}#}
    {#{% else %}#}
        {#{%  set objet_en_cours = tab_enfant %}{% endif %}#}

    {#<div class="box box-secondary">#}
        {#<div class="box-header">#}
    {#{% set nom_objet ='piece' %}#}
    {#<h3 class="box-title">  {{ nom_objet|trans }}</h3>#}
            {#<div class="float-right">#}
                {#{{ bouton('ajouter',{'bouton_id':'ajouter_'~nom_objet,#}
                    {#'nom':nom_objet~'_ajouter',#}
                    {#'bt_texte':true,#}
                    {#'objet':nom_objet,#}
                    {#'cle': descr(objet~'.cle'),#}
                    {#'id': id }) }}#}
                {#<a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-secondary"><i class="fa fa-life-ring" aria-hidden="true"></i></a>#}
            {#</div>#}
        {#</div>#}


        {#<div class="box-body">#}
            {#{% set tri =['date_piece','desc'] %}#}
            {#{% set tab_col = donneTabCol('paiement')|exclure_cles(tab_col_exclure) %}#}
            {#{% include('inclure/table_sta.html.twig') with{'objet_bloc':nom_objet,'charger_data':true,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}#}
        {#</div>#}
    {#</div>#}
{#</div>#}

 {#todo origine #}
{#{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}#}
{#<table class="table table-striped">#}
{#&#123;&#35;<table class="table table-striped super_tableau">&#35;&#125;#}
        {#<thead>#}
        {#<tr>#}
            {#<th>{{ 'piece'|trans }}</th>#}
            {#<th>{{ 'Date'|trans }}</th>#}
            {#<th>{{ 'ecriture'|trans }}</th>#}
            {#<th>{{ 'classement'|trans }}</th>#}
            {#<th>{{ 'Libelle'|trans }}</th>#}
            {#<th>{{ 'observation'|trans }}</th>#}
            {#<th>{{ 'journal'|trans }}</th>#}
            {#<th>{{ 'entite'|trans }}</th>#}
            {#<th>{{ 'saisie'|trans }}</th>#}
            {#<th>{{ 'etatprecompta'|trans }}</th>#}
            {#<th>{{ 'Nb lignes'|trans }}</th>#}
            {#<th></th>#}
        {#<tr>#}
        {#</thead>#}
     {#{% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}#}
        {#<tr>#}
            {#&#123;&#35;{% set saisie='piece_'~objet_data.EcranSaisie~'_form' %}&#35;&#125;#}

            {#&#123;&#35;<td>{{ objet_data.idEcriture }}</td>&#35;&#125;#}
            {#<td>{{ objet_data.idPiece }}</td>#}
            {#<td>{{ objet_data.DatePiece|date("d/m/Y") }}</td>#}
            {#<td>{{ objet_data.idEcriture }}</td>#}
            {#<td>{{ objet_data.Classement }}</td>#}
            {#<td>{{ objet_data.Nom }}</td>#}
            {#<td>{{ objet_data.Observation }}</td>#}
            {#<td>{{ objet_data.idJournal }}</td>#}
            {#<td>{{ objet_data.idEntite }}</td>#}
            {#<td>{{ objet_data.EcranSaisie }}</td>#}
            {#<td>{{ objet_data.Etat|getEtatprecompta }}</td>#}
            {#<td>{{ objet_data.NbLigne }}</td>#}
            {#<td class="text-right">#}
                {#<div class="btn-group" role="group" aria-label="...">#}


                    {#{{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}

                    {#{{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}

                    {#{{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}
                {#</div>#}
            {#</td>#}
        {#</tr>#}
    {#{% endfor %}#}
{#</table>#}
