{% if information.message is defined %}
    <div class="box box-secondary">
        <div class="box-header"><h3>Etape d'avancement</h3></div>
        <div class="box-body"></div>
        <table class="table table-striped table-responsive super_tableau" id="avancement">
            <thead>
            <tr>
                <th>{{ 'item'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for message in information.message %}
                {% if message>0 %}
                    <tr>  <td>{{ message }}</td></tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endif %}
