
<!-- Colonne de gauche- pour importation_selection et importfichier -->
<div id="aside" class="col-sm-3">
    <div class="box box-secondary">
        <div class="box-header">
            <div class="float-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {'class_cplt':'modal-form'}) }}
                    {{ bouton('supprimer') }}
                    <a href="{{ path('importation_edit',{"idImportation":objet_data.primaryKey}) }}"
                       title="{{ 'importation'|trans }}"
                       class="btn btn-success ">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <dl class="dl-horizontal">
                <span class="info-box-number">{{ objet_data.IdImportation }}</span>
                <span class="info-box-text"> {{ objet_data.nom }}</span>
                <dt>{{ 'fichier'|trans }} :</dt> <dd>{{ objet_data.Nom }}</dd>
                <dt>{{ 'modele'|trans }} :</dt>  <dd>{{ objet_data.Modele }}</dd>
                <dt>{{ 'avancement'|trans }}  </dt>  <dd>{{ objet_data.avancement }} - {{ objet_data.avancement  }}</dd>
                <dt>{{ 'nb_lignes'|trans }} :</dt>  <dd>{{ objet_data.nbLigne }}</dd>
                <dt>{{ 'ligne_en_cours'|trans }} :</dt> <dd>{{ objet_data.LigneEnCours }}</dd>
                {% if objet_data.document is defined %}
                    <dt>{{ 'import-id_ged'|trans }} :</dt> <dd>
                    <a href="{{ path('image',{'id_ged': objet_data.document  }) }}">
                        <i class="fa fa-file-pdf"></i> {{ objet_data.document }}
                    </a>
                </dd>
                {% endif %}
                {% if information.nb is defined %}
                     {% for cle,message in information.nb %}
                         <dt>{{ cle|trans }} :</dt>
                         <dd>{{ message|raw }}</dd>
                    {% endfor %}
                {% endif %}
                {% if information.erreur is defined %}
                    <dt>{{ 'erreurs'|trans }} :</dt>
                    {% for cle,message in information.erreur %}
                        <dd>{{ message|raw }}</dd>
                    {% endfor %}
                {% endif %}
                {% if information.message is defined %}
                    <dt>{{ 'messages'|trans }} :</dt>
                    {% for cle,message in information.message %}
                        <dd>{{ message|raw }}</dd>
                    {% endfor %}
                {% endif %}
            </dl>
        </div>
    </div>


</div>
