{% extends 'layout'~layout_cplt()~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-3">
        <h4>      {{ sac('objet_action')|trans }}    </h4>
        <p>
            <a href="{{ path('preferences',{'pref':'importation'}) }}"
               class="btn btn-secondary">
                <span class="fa fa-asterisk"></span> Options de l'importation
            </a>
        </p>
    </div>
    <!-- Colonne principal-->
    <div id="contenu" class="col-md-8">


        {% block  contenu %}
            {% block formulaire %}
                {% form_theme form with ['bootstrap_4_horizontal_layout.html.twig'] %}
                {{ form(form) }}
                <script type="application/javascript">

                    $("document").ready(function () {
                        initialisation_composant_form('form[name=importation]');
                    });

                </script>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
