{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}

<!-- Colonne de gauche-->
<div id="aside" class="col-md-4">

    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ico ico-import"></i></span>
        <div class="info-box-content">
            <div class="float-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {'id_importselection':id,'class_cplt':'modal-form'}) }}
                    {{ bouton('supprimer',{'id_importselection':id}) }}
                </div>
            </div>
        </div>
    {#</div>#}
    <div class="box-body">
        <span class="info-box-text">{{ objet_data.idImportselection }} {{ objet_data.modele }}</span>
        </div>
        <dl class="dl-horizontal">
            <dt> {{ 'objet'|trans }}</dt>
            <dd>{{ objet_data.objet|trans }} {{ objet_data.idObjet }}
                {% if objet_data.objet=='compte' %}
                    {{ tab( objet_data.objet~'.'~objet_data.idObjet~'.ncompte') }}-
                {% endif %}
                {{ tab( objet_data.objet~'.'~objet_data.idObjet~'.nom') }}
            </dd>
            <dt>{{ 'entite'|trans }} :</dt><dd>{{ objet_data.idEntite|getNomEntite }}</dd>
            <dt>{{ 'contient'|trans }} :</dt> <dd>{{ objet_data.nom }}</dd>
            <dt>{{ 'ordre'|trans }} :</dt> <dd>{{ objet_data.ordre }}</dd>
            <dt>{{ 'automatique'|trans }} :</dt> <dd>{{ objet_data.getautomatique|ouinon }}</dd>
            <dt>{{ 'actif'|trans }} :</dt>       <dd>{{ objet_data.getactive|ouinon }}</dd>
            <dt>{{ 'liaison_auto'|trans }} :</dt> <dd>{{ objet_data.getliaisonAuto|ouinon }}</dd>
        </dl>
     </div>
    <div class="box box-secondary informations">
        <div class="box-header">
            <h5> {{ 'Informations'|trans }}
            </h5>
        </div>
        <dl class="dl-horizontal">
        <dt>{{ 'observations'|trans }} :</dt>
        <dd>{{ objet_data.observation }}</dd>
            </dl>
    </div>
    {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}
</div>


<!-- Colonne principal-->
<div id="contenu" class="col-md-8">

        {% include('inclure/tab_enfants.twig') %}
    </div>
{% endblock %}

