{%  set objet_en_cours = _self|trouverObjet %}
{% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped ">
    <thead>
    <tr>
        <th>{{ 'ID'|trans }}</th>
        {% if entite_multi %}<th>{{ 'entite'|trans }}</th>{% endif %}
        <th>{{ 'modele'|trans }}</th>
        <th>{{ 'fichier_origine'|trans }}</th>
        <th>{{ 'taille'|trans }}</th>
        <th>{{ 'nb_ligne'|trans }}</th>
        <th>{{ 'ligne_en_cours'|trans }}</th>
        <th>{{ 'avancement'|trans }}</th>
        <th>{{ 'import_id_ged'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'id_filtre':'charge'})%}

        <tr>
            <td>{{ objet_data.IdImport }}</td>
            {% if entite_multi %}<td>{{ objet_data.idEntite|getNomEntite }}</td>{% endif %}
            <td>{{ objet_data.Modele }}</td>
            <td>{{ objet_data.Nom }}</td>
            <td>{{ objet_data.Taille }}</td>
            <td>{{ objet_data.NbLigne }} </td>
            <td>{{ objet_data.LigneEnCours }} </td>
            <td>{{ objet_data.Avancement }} {{  objet_data.Avancement|getListeAvancement  }}</td>
            <td>{{ objet_data.IdGed }} </td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    {%  if (objet_data.avancement < '9' and objet_data.avancement > '0' ) %}
                        {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

