{% extends 'base.html.twig' %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <div class="row">
            <div class="col-md-2">
                <div class="float-left text-center marge-droite">
                <i class="fa fa-4x fa-chevron-down"></i><br/>
                <i class="fa fa-4x fa-inbox"></i>
                </div>
                <h3>Importation</h3>
            </div>

            <div class="col-md-9">

                {%  for objet_import,tab_import in tab_derniere_importation %}
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Importation des {{ objet_import }}</h4>
                        </div>
                    </div>
                    <div class="panel-body">

                            <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>nom</th>
                                <th>Avancement</th>
                                <th>Date</th>
                                <th>action</th>
                            </tr>

                            </thead>
                                <tbody>
                                {%  for imp in tab_import %}

                                <tr>
                                    <th>{{ imp.primaryKey }}</th>
                            <td>{{ imp.nom }}</td>
                            <td>{{ imp.avancement }}</td>
                            <td>{{ imp.createdAt|date('d/m/Y') }}</td>
                            <td>
                                {{ bouton('voir',{'objet':'importation','id':imp.primaryKey}) }}
                             </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        <a href="{{ path('importation_add',{'objet':objet_import}) }}" class="btn btn-success modal-form">Importer un fichier</a>
                    </div>
                </div>
                {%  endfor  %}
            </div>
            <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

