<div class="box box-secondary">
    <div class="box-header"><h3>{{ 'releve_banque'|trans }} : Nouveau</h3></div>
    <div class="box-body">
        <label for="masquer_ok_nouveau">
            <input type="checkbox" id="masquer_ok_nouveau" checked="checked" name="masquer_ok_nouveau"/>
            Masquer les lignes ok
        </label>
        <table class="table table-striped table-responsive super_tableau" id="table_nouveau">
            <thead>
            <tr>
                <th>{{ 'Num'|trans }}</th>
                <th>{{ 'Concerne'|trans }}  </th>
                <th>{{ 'Donnée dans le fichier'|trans }}</th>
                <th>{{ 'Proposition'|trans }}</th>
                <th>{{ 'action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for num,ligne in tab_nouveau %}
                {% include('importation/inter_ecriture_ligne.html.twig') with {'ligne':ligne,'num':num,'id_import':id_import,'information':information} only  %}
            {% endfor %}

            </tbody>
        </table>
    </div>

    <script type="application/javascript">
        $(document).ready(function(){
            conteneur_table_nouveau = $('#table_nouveau');
            $('#masquer_ok_nouveau').change(function () {
                if ($(this).is(':checked')) {
                    $("td:first-child", conteneur_table_nouveau).next(":contains('OK')").parent().hide();
                } else {
                    $("tr", conteneur_table_nouveau).show();
                }
            });
            $('#masquer_ok_nouveau').trigger('change');
            $('a.champs_xeditable_id_activite').editable({ source: {{choice_activite|json_encode|raw}} });
            $('a.champs_xeditable_id_compte').editable({ source: {{choice_compte|json_encode|raw}}  });
        });

    </script>
</div>
