{% set url_xeditable = path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num}) %}
{% set url_xeditable = ligne %}
{% set iecriture = information.modele.ecriture %}
{% set ob0=ligne.propositions.ecriture %}
{% set iobjets = information.options.objets %}
{% set ob_nom = 'ecriture' %}
<tr id="tr_ecr_{{ num }}">
        <td>
        <dd>
            {{ num }}
        </dd>
    </td>
    <td>
        {% if ob0.D.id_ecriture  is defined and ob0.D.id_ecriture>0 %}
            id : {{ ob0.D.id_ecriture }}
        {% endif %}
    </td>
    <td>
        <dl>
             {% set url_xeditable = path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num}) %}
            <dd> objet: {{ ob0.D.nom }} </dd>
            <dd>{{ ob0.D.sens }} Montant : {{ ob0.D.montant }} le {{  ob0.D.date_ecriture }}  </dd>
            {% if ob0.D.observation  >'!'  %}
                <dd>observation {{ ob0.D.observation }}  </dd>
            {% endif %}
        </dl>
        {% if ob0.N is defined %}
            <div>
                <strong>Correction</strong>
            </div>
            {% for champs,valeur in ob0.N %}
                <dd>
                    {{ champs }}: {{ valeur }}
                </dd>
            {% endfor %}
        {% endif %}
    </td>
    <td>
        {#{% if ob0.D.id_ecriture <1 %}#}
            <div>
                {% set url_xeditable = path('import_form',{'action':'modifier_ligne','id_import':id_import}) %}
{# importation_selectio_original {% set url_xeditable= path('import_form',{'action':'variable_ligne','id_import':objet_data.idImport,'num':num}) %}#}
               <a class="champs_xeditable_id_compte" data-type="select" data-pk="{{ num }}" data-url="{{ url_xeditable }}&champs=id_activite"
                        data-title="Choisir un compte">{{ ob0.D.id_compte|getNomIntitule }}
                   </a>

                  <br/>
                <a class="champs_xeditable_id_activite" data-type="select" data-pk="{{ num }}"  data-url="{{ url_xeditable }}&champs=id_activite"
                   data-title="Choisir une activite">Activite: {{ ob0.D.id_activite|getNomActivite }}
                </a>




             </div>
        {#{% endif %}#}
    </td>
    <td class="text-right">
        <div class="btn-group" role="group" aria-label="...">
            {#<a href="{{ path('importselection_form',{'id':ob0.D.id_importselection_compte,'id_import':id_import,'num':num,'objet':'ecriture','selection':'compte'}) }}"#}
               {#title="Modif compte"#}
               {#class="btn btn-warning btn-sm ajax-remplace" data-cible="#tr_{{ ob_nom }}_{{ num }}"><i class="fa fa-pencil-alt"></i></a>#}

            {#<a href="{{ path('importselection_form',{'id':ob0.D.id_importselection_activite,'id_import':id_import,'num':num,'objet':'ecriture','selection':'activite'}) }}"#}
               {#title="Modif activite"#}
               {#class="btn btn-warning btn-sm ajax-remplace" data-cible="#tr_{{ ob_nom }}_{{ num }}"><i class="fa fa-pencil-alt"></i></a>#}
            {#{{ bouton('modifier',{'sans_texte':true, objet:'importselection','id':ob0.D.id_importselection_compte,'id_import':id_import,'num':num,'objet':'importselection'}) }}#}
            {#{{ bouton('modifier',{'sans_texte':true, objet:'importselection','id':ob0.D.id_importselection_activite,'id_import':id_import,'num':num,'objet':'importselection'}) }}#}
            <a href="{{ path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num,'objet':'ecriture'}) }}"
               class="btn btn-info btn-sm ajax-remplace" data-cible="#tr_{{ ob_nom }}_{{ num }}"><i class="fa fa-refresh"></i></a>

            <a href="{{ path('import_form',{'action':'selection_ligne','id_import':id_import,'num':num,'objet':'ecriture','selection':'compte'}) }}"
               title="Modif compte"
               class="btn btn-warning btn-sm ajax-remplace" data-cible="#tr_{{ ob_nom }}_{{ num }}"><i class="fa fa-pencil-alt"></i></a>

            <a href="{{ path('import_form',{'action':'selection_ligne','id_import':id_import,'num':num,'objet':'ecriture','selection':'activite'}) }}"
               title="Modif activite"
               class="btn btn-warning btn-sm ajax-remplace" data-cible="#tr_{{ ob_nom }}_{{ num }}"><i class="fa fa-pencil-alt"></i></a>

            {#<a href="{{ path('import_form',{'action':'enregistre_ligne','id_import':id_import,'num':num,'objet':'ecriture','retour':'nouveau'}) }}"#}
               {#class="btn btn-success ajax-remplace" data-cible="tr_{{ ob_nom }}_{{ num }}"> Créer {{ 'ecriture'|trans }}</a>#}
        </div>

    </td>
</tr>







