{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
    <!-- Colonne de gauche-->
    {% include('importation/bloc_gauche.html.twig') %}
    {#with { 'type':'adres', 'id' : individu.D.IdIndividu,'mots':mot_cle } only#}
    <div id="contenu" class="col-sm-9">
        {% if information.options.objets.0 =='individu' %}
           {% include('importation/inter_individu.html.twig') %}
        {% endif %}
        {% if information.options.objets.0 =='ecriture' %}
            {% include('importation/inter_ecriture.html.twig') %}
        {% endif %}
        {% if information.options.objets.2 is defined and  information.options.objets.2 == 'paiement' %}
            {% include('importation/inter_nouveau.html.twig') %}
        {% endif %}
    </div>



{% endblock %}
