{% set url_xeditable = path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num}) %}
{% set url_xeditable = ligne %}
{% set iindividu = information.modele.individu %}
{% set imembre = information.modele.membre %}
{% set iobjets = information.options.objets %}
{% set ob0=ligne.propositions.individu %}
{% set ob_ordre=0 %}
{% set ob_nom=iobjets[ob_ordre] %}
<tr id="tr_{{ ob_nom }}_{{ num }}">
    <td> <dd>{{ num }}</dd> </td>
    <td> <dd> {{ ob_ordre }} </dd> </td>
    <td>
        {% set xx= '____CRE'~ob_nom %}
        <dd><i class="fa {{ xx|classActionObjet }}">-{{ ob_nom|trans }}</i> </dd>
        id : {{ ob0.D.id_individu }}
    </td>
    <td>
        {% if ob0.D.id_individu is defined and ob0.ut.etat !='nouveau' %}
            OK
        {% else %}
            {{ ob0.ut.msg_interactif }}
        {% endif %}
        {% if information.options.test  %}
            <div>
                <strong>historique</strong>
            </div>
            {{ ob0.ut.compte_rendu }}
        {% endif %}
    </td>
    <td>
        <dl>
            <div>
                <strong>{{ 'original'|trans }}</strong>
            </div>
            {% set url_xeditable = path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num}) %}
            <dd>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.nom_famille">{{ ob0.D.nom_famille }}</span>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.prenom">{{ ob0.D.prenom }}</span>

            </dd>
            <dd>
                {% if ob0.D.naissance is not empty %}
                    <span class="xeditable" data-type="date" data-url="{{ url_xeditable }}"
                          id="ob0.N.naissance">{{ ob0.D.naissance|date('d/m/Y') }}</span>
                {% endif %}
            </dd>
            <dd><span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.email">{{ ob0.D.email }}</span></dd>
            <dd><span class="xeditable" data-type="textarea" data-url="{{ url_xeditable }}"
                      id="ob0.N.adresse">{{ ob0.D.adresse }}</span></dd>
            <dd>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.codepostal">{{ ob0.D.codepostal }}</span>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.ville">{{ ob0.D.ville }}</span>
            </dd>
        </dl>

        {% if ob0.N is defined %}
            <div>
                <strong>Correction</strong>
            </div>
            {% for champs,valeur in ob0.N %}
                <dd>
                    {{ champs }}: {{ valeur }}
                </dd>
            {% endfor %}
        {% endif %}
        {% if ob0.D.id_individu <1 %}
            <a href="{{ path('import_form',{'action':'enregistre_ligne','id_import':id_import,'num':num,'objet':'individu','retour':'nouveau'}) }}"
               class="btn btn-success ajax-remplace" data-cible="tr_{{ ob_nom }}_{{ num }}"> Créer {{ 'individu'|trans }}</a>
        {% endif %}
    </td>
    <td>

        {% if ob0.D.id_individu <1 and ob0.data is defined %}
            <div>
                <strong>Individu</strong>
            </div>
            {% set tab_individu = ob0.data %}
            {% for id_individu,ind in tab_individu %}
                <div>
                    <form>
                        <dl>
                            <dd>{{ id_individu }}</dd>
                            <dd>{{ ind.nom_famille }} {{ ind.prenom }}</dd>
                            <dd>{{ ind.email }}</dd>
                            <dd>{{ ind.adresse }}</dd>
                            <dd>{{ ind.codepostal }}  {{ ind.ville }}</dd>

                            {#{% for ndata,nomchamp in iindividu.nouveau %}#}
                            {#<dd>#}
                            {#{{ ind[nomchamp] }}#}
                            {#</dd>#}
                            {#{% endfor %}#}

                            <a href="{{ path('import_form',{'action':'enregistre_ligne',
                                'id_import':id_import,'num':num,'objet':'individu','num_objet':id_individu,'retour':'nouveau'}) }}"
                               class="btn btn-warning ajax-remplace" data-cible="#tr_ind_{{ num }}"> Choisir cette
                                personne</a>
                        </dl>
                    </form>
                </div>

            {% endfor %}


        {% endif %}
        </div>
    </td>
    <td>
        <a href="{{ path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num,'objet':'individu'}) }}"
           class="btn btn-info btn-sm ajax-remplace" data-cible="#tr_{{ ob_nom }}_{{ num }}"><i
                    class="fa fa-refresh"></i></a>
    </td>
</tr>
{% set ob1=ligne.propositions.membre %}
{% set ob_ordre=1 %}
{% set ob_nom=iobjets[ob_ordre] %}
<tr id="tr_{{ ob_nom }}_{{ num }}">
    <td> <dd>{{ num }}</dd> </td>
    <td> <dd> {{ ob_ordre }} </dd> </td>
    <td>
        {% set xx= '____CRE'~ob_nom %}
        <dd><i class="fa {{ xx|classActionObjet }}">   {{ ob_nom|trans }}</i> </dd>
        {% if ob1.D.id_membre is defined and ob1.D.id_membre> 1 %}
            id : {{ ob1.D.id_membre }}
        {% endif %}
    </td>
    <td>
        {% if ob1.D.id_membre is defined and ob1.ut.etat !='nouveau' %}
            OK
        {% else %}
            {{ ob1.ut.msg_interactif }}
        {% endif %}
        {% if information.options.test  %}
            <div>
                <strong>historique</strong>
            </div>
            {{ ob1.ut.compte_rendu }}
        {% endif %}
    <td>
        <dl>
            <div>
                <strong>{{ 'original'|trans }}</strong>
            </div>
            <dd>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob1.N.nom.">{{ ob1.D.nom }}</span>
            </dd>
         </dl>

        {% if ob1.N is defined %}
            <div>
                <strong>Correction</strong>
            </div>
            {% for champs,valeur in ob1.N %}
                <dd>
                    {{ champs }}: {{ valeur }}
                </dd>
            {% endfor %}
        {% endif %}
        {% if ob1.D.id_membre <1 %}
            <a href="{{ path('import_form',{'action':'enregistre_ligne','id_import':id_import,'num':num,'objet':'membre','retour':'nouveau'}) }}"
               class="btn btn-success ajax-remplace" data-cible="#tr_ind_{{ num }}"> Créer {{ 'membre'|trans }}</a>
        {% endif %}

    </td>
    <td>
        {# todo le 29/04/2018 a mettre en commentaire car propose un choix dr personne déja choisi dans la partie membre avec un numero de membre membre #}
        {% if ob1.D.id_membre <1 and ob1.data is defined %}
            <div>
                <strong>{{ ob_nom|trans }}</strong>
            </div>
            {% for id1data,ob1data in ob1.data %}
                <div>
                    <form>
                        <dl>
                            <dd>{{ id1data }}</dd>
                            {#<dd>{{ ob1data }} </dd>#}

                            {% for ndata,nomchamp in imembre.champs %}
                            <dd>
                            {#{{ ob1data[nomchamp] }}#}
                            </dd>
                            {% endfor %}

                            <a href="{{ path('import_form',{'action':'enregistre_ligne',
                                'id_import':id_import,'num':num,'objet':'individu','num_objet':id1data,'retour':'nouveau'}) }}"
                               class="btn btn-warning ajax-remplace" data-cible="#tr_{{ ob_nom }}_{{ num }}"> Choisir cette
                                personne</a>
                        </dl>
                    </form>
                </div>

            {% endfor %}


        {% endif %}
        {# todo le 29/04/2018 ajouter and pour supprimer l'affichage aprés le choix #}
        {% if ob1.data is defined and ob1.data<1 %}
            <div>
                <strong>{{ 'membre'|trans }}</strong>
            </div>
            {% for id_membre,membre in ob1.data %}
                <div>
                    <form>
                        <dl>
                            <dd>{{ id_membre }}</dd>
                            <dd>{{ membre.nom }}</dd>
                            <a href="{{ path('import_form',{'action':'enregistre_ligne',
                                'id_import':id_import,'num':num,'objet':'membre','num_objet':id_membre,'retour':'nouveau'}) }}"
                               class="btn btn-warning ajax-remplace" data-cible="#tr_ind_{{ num }}"> Choisir cet
                                adherent</a>
                        </dl>
                    </form>
                </div>

            {% endfor %}


        {% endif %}

        </div>
    </td>
    <td>
        <a href="{{ path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num,'objet':'membre'}) }}"
           class="btn btn-info btn-sm ajax-remplace" data-cible="#tr_ind_{{ num }}"><i
                    class="fa fa-refresh"></i></a>
    </td>
</tr>
{% set ob_ordre=2 %}
{% set ob_nom=iobjets[ob_ordre] %}
{% set ob2=ligne.propositions.paiement %}
<tr id="tr_{{ ob_nom }}_{{ num }}">
    <td> <dd>{{ num }}</dd> </td>
    <td> <dd> {{ ob_ordre }} </dd> </td>
    <td>
        {% set xx= '____CRE'~ob_nom %}
        <dd><i class="fa {{ xx|classActionObjet }}">-{{ ob_nom|trans }}</i> </dd>
        {% if ob2.D.id_paiement is defined and ob2.D.id_paiement>1 %}
             id {{ ob2.D.id_paiement }}
        {% endif %}
    </td>
    <td>
        {% if ob2.D.id_paiement is defined and ob1.ut.etat !='nouveau' %}
            OK
        {% else %}
            {{ ob2.ut.msg_interactif }}
        {% endif %}
        {% if information.options.test  %}
            <div>
                <strong>historique</strong>
            </div>
            {{ ob2.ut.compte_rendu }}
        {% endif %}
    </td>
    <td>

        <dl>
            <dd>{{ ob0.D.nom_famille }} {{ ob0.D.prenom }}</dd>
            <dd> {{ ob2.D.id_tresor }} {{ ob2.D.id_tresor|getNomTresor }}  </dd>
            <dd>{{ ob2.D.montant }} € </dd>
            <dd>Le {{ ob2.D.date_enregistrement }} </dd>

        </dl>
        <div><small>Paiement</small></div>
            Proposition de création de paiement
            <dl>
                 <dd>{{ ob2.D.montant }} € </dd>
            </dl>
        {% if ob2.D.id_paiement <1 %}
        <a href="{{ path('import_form',{'action':'enregistre_ligne','id_import':id_import,'num':num,'objet':'paiement','retour':'nouveau'}) }}"
           class="btn btn-success ajax-remplace" data-cible="#tr_{{ ob_nom }}_{{ num }}"> Enregistrer le  {{ 'paiement'|trans }}</a>
        {% endif %}
    </td>
    <td>


    </td>
    <td>
    <a href="{{ path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num,'objet':'servicerendu'}) }}"
       class="btn btn-info btn-sm ajax-remplace" data-cible="#tr_ind_{{ num }}"><i
                class="fa fa-refresh"></i></a>
</td>
</tr>
{% set ob_ordre=3 %}
{% set ob_nom=iobjets[ob_ordre] %}
{% set ob3=ligne.propositions.servicerendu %}
{% set prestation=ligne.propositions.prestation.D %}
{% set ob_ec=iobjets.3 %}
<tr id="tr_{{ ob_ec }}_{{ num }}">
    <td> <dd>{{ num }}</dd> </td>
    <td> <dd>{{ ob_ordre }}  </dd> </td>
    <td>
         {#{% set xx= '____CRE'~iobjets.2 %}#}
        <dd><i class="fa {{ '____CRESR1'|classActionObjet }}">-{{ ob_ec|trans }}</i> </dd>
        {% if ob3.D.id_servicerendu is defined and ob3.D.id_servicerendu>1 %}
            id {{ ob3.D.id_servicerendu }}
        {% endif %}

    </td>
    <td>
        {% if ob3.D.id_servicerendu is defined and ob3.ut.etat !='nouveau' %}
            OK
        {% else %}
            {{ ob3.ut.msg_interactif }}
        {% endif %}
        {% if information.options.test  %}
            <div>
                <strong>historique</strong>
            </div>
            {{ ob3.ut.compte_rendu }}
        {% endif %}
    </td>
    <td>

        <dl>
            <dd>{{ ob0.D.nom_famille }} {{ ob0.D.prenom }}</dd>
            <dd>{{ ob3.D.id_prestation|getNomPrestation  }}</dd>
            <dd>Type {{ tab('prestation.'~prestation.prestation_type~'.prestation_type_nom') }}</dd>
            <dd>{{ ob3.D.montant }} € </dd>
            <dd>du {{ ob3.D.date_debut }} au {{ ob3.D.date_fin }}  </dd>

        </dl>
         <div>
            <div><small>Servicerendu</small></div>
            {% if ob3.D.data is defined %}
                Service rendu déjà enregistré
            {% else %}
                {% if ob3.D.id_prestation is defined or id_prestion_lot is defined %}
                    Proposition de prestation
                {% else %}
                    <dl>
                        <dd>{{ prestation.prestation_type }} </dd>
                        <dd>{{ ob2.D.montant }} € </dd>

                    </dl>
                {% endif %}
            {% endif %}

         </div>

        {% if ob3.D.id_servicerendu <1 %}
        <a href="{{ path('import_form',{'action':'enregistre_ligne','id_import':id_import,'num':num,'objet':'servicerendu','retour':'nouveau'}) }}"
           class="btn btn-success ajax-remplace" data-cible="#tr_{{ ob_ec }}_{{ num }}">
            Enregistrer   {{ tab('prestation.'~prestation.prestation_type~'.prestation_type_nom') }}

        </a>
        {% endif %}
    </td>
    <td>

    </td>
    <td>
        <a href="{{ path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num,'objet':'servicerendu'}) }}"
           class="btn btn-info btn-sm ajax-remplace" data-cible="#tr_ind_{{ num }}"><i
                    class="fa fa-refresh"></i></a>
    </td>
</tr>

