{% set url_xeditable = path('import_form',{'action':'variable_ligne','id_import':id_import,'num':num}) %}
{% set url_xeditable = ligne %}
{% set iindividu = information.modele.individu %}
{% set imembre = information.modele.membre %}
{% set iobjets = information.options.objets %}
<tr id="tr_ind_{{ num }}">
    <td>
        <dd>{{ num }}</dd>
        <dd>--------</dd>
        <dd>
            individu {{ ligne.propositions.individu.ut.etat }}
            {#archive : {{ ligne.propositions.individu.ut }}#}
        </dd>
        <dd>
            membre {{ ligne.propositions.membre.ut.etat }}
        </dd>
    </td>
    <td>
        <dd>{{ 'individu'|trans }}</dd>
        {% if ligne.propositions.individu.D.id_individu is defined and ligne.propositions.individu.ut.etat !='choix' %}
            OK
            {{ ligne.propositions.individu.ut.compte_rendu }}
        {% else %}
            {{ ligne.propositions.individu.ut.msg_interactif }}
        {% endif %}
        <dd>--------</dd>
        <dd>{{ 'membre'|trans }}</dd>
        {% if ligne.propositions.membre.D.id_membre is defined and ligne.propositions.membre.ut.etat =='choix' %}
            OK
        {% else %}
            {% if ligne.propositions.membre.ut.msg_interactif  is defined %}
                {{ ligne.propositions.membre.ut.msg_interactif }}
            {% endif %}
        {% endif %}

    </td>
    <td>
        {% set url_xeditable= path('import_form',{'action':'variable_ligne','id_import':id_import,'num':num}) %}
        <dl>
            <div>
                <strong>{{ 'original'|trans }}</strong>
            </div>
            <dd>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="individu.I.nom_famille">{{ ligne.propositions.individu.D.nom_famille }}</span>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="individu.I.prenom">{{ ligne.propositions.individu.D.prenom }}</span>

            </dd>
            <dd>
                {% if ligne.propositions.individu.D.naissance is not empty %}
                    <span class="xeditable" data-type="date" data-url="{{ url_xeditable }}"
                          id="individu.I.naissance">{{ ligne.propositions.individu.D.naissance|date('d/m/Y') }}</span>
                {% endif %}
            </dd>
            <dd><span class="xeditable" data-url="{{ url_xeditable }}"
                      id="individu.I.email">{{ ligne.propositions.individu.D.email }}</span></dd>
            <dd><span class="xeditable" data-type="textarea" data-url="{{ url_xeditable }}"
                      id="individu.I.adresse">{{ ligne.propositions.individu.D.adresse }}</span></dd>
            <dd>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="individu.I.codepostal">{{ ligne.propositions.individu.D.codepostal }}</span>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="individu.I.ville">{{ ligne.propositions.individu.D.ville }}</span>
            </dd>
        </dl>

        {% if ligne.propositions.individu.I is defined %}
            <div>
                <strong>Correction</strong>
            </div>
            {% for champs,valeur in ligne.propositions.individu.I %}
                <dd>
                    {{ champs }}: {{ valeur }}
                </dd>
            {% endfor %}
        {% endif %}
        {{ ligne.propositions.individu.D.id_individu }}
        {{ ligne.propositions.membre.D.id_membre }}
        {% if ligne.propositions.individu.D.id_individu <1 %}
            <a href="{{ path('import_form',{'action':'enregistre_ligne','id_import':id_import,'num':num,'objet':'individu'}) }}"
               class="btn btn-success ajax-remplace" data-cible="tr_ind_{{ num }}"> Créer {{ 'individu'|trans }}</a>
        {% elseif ligne.propositions.membre.D.id_membre <1 %}
            <a href="{{ path('import_form',{'action':'enregistre_ligne','id_import':id_import,'num':num,'objet':'membre'}) }}"
               class="btn btn-success ajax-remplace" data-cible="#tr_ind_{{ num }}"> Créer {{ 'membre'|trans }}</a>
        {% endif %}

    </td>
    <td>

        {% if ligne.propositions.individu.D.id_individu <1 and ligne.propositions.individu.data is defined %}
            <div>
                <strong>Individu</strong>
            </div>
            {% set tab_individu = ligne.propositions.individu.data %}
            {% for id_individu,ind in tab_individu %}
                <div>
                    <form>
                        <dl>
                            <dd>{{ id_individu }}</dd>
                            <dd>{{ ind.nom_famille }} {{ ind.prenom }}</dd>
                            <dd>{{ ind.email }}</dd>
                            <dd>{{ ind.adresse }}</dd>
                            <dd>{{ ind.codepostal }}  {{ ind.ville }}</dd>

                            {#{% for ndata,nomchamp in i.individu.nouveau %}#}
                            {#<dd>#}
                            {#{{ ind[nomchamp] }}#}
                            {#</dd>#}
                            {#{% endfor %}#}

                            <a href="{{ path('import_form',{'action':'enregistre_ligne',
                                'id_import':id_import,'num':num,'objet':'individu','num_objet':id_individu}) }}"
                               class="btn btn-warning ajax-remplace" data-cible="#tr_ind_{{ num }}"> Choisir cette
                                personne</a>
                        </dl>
                    </form>
                </div>

            {% endfor %}


        {% endif %}
        {% if ligne.propositions.membre.data is defined %}
            <div>
                <strong>Membre</strong>
            </div>
            {% for id_membre,membre in ligne.propositions.membre.data %}
                <div>
                    <form>
                        <dl>
                            <dd>{{ id_membre }}</dd>
                            <dd>{{ membre.nom }} }</dd>
                            <a href="{{ path('import_form',{'action':'enregistre_ligne',
                                'id_import':id_import,'num':num,'objet':'membre','num_objet':id_membre}) }}"
                               class="btn btn-warning ajax-remplace" data-cible="#tr_ind_{{ num }}"> Choisir cet
                                adherent</a>
                        </dl>
                    </form>
                </div>

            {% endfor %}


        {% endif %}

        </div>
    </td>
    <td>
        <a href="{{ path('import_form',{'action':'enregistre_ligne','id_import':id_import,'num':num}) }}"
           class="btn btn-info btn-sm ajax-remplace" data-cible="#tr_ind_{{ num }}"><i
                    class="fa fa-refresh"></i></a>
    </td>
</tr>
