<div class="box box-secondary">
    <div class="box-header"><h3>{{ 'individu'|trans }}:</h3></div>
    <div class="box-body">
        <label for="masquer_ok_nouveau">
            <input type="checkbox" id="masquer_ok_sr" checked="checked" name="masquer_ok_nouveau"/>
            Masquer les lignes ok
        </label>
        <table class="table table-striped table-responsive super_tableau" id="table_nouveau">
            <thead>
            <tr>
                <th>{{ 'Num'|trans }}</th>
                <th> 'O' </th>
                <th>{{ 'Concerne'|trans }}  </th>
                <th>{{ 'etat'|trans }}</th>
                <th>{{ 'Donnée dans le fichier'|trans }}</th>
                <th>{{ 'Proposition'|trans }}</th>
                <th>{{ 'action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for num,ligne in tab_ligne %}
                {% include('importation/inter_individu_ligne.html.twig') with {'ligne':ligne,'num':num,'id_import':id_import,'information':information} only  %}
            {% endfor %}

            </tbody>
        </table>
    </div>

    <script type="application/javascript">
        $(document).ready(function(){
            conteneur_table_ind = $('#table_ind');
            $('#masquer_ok_sr').change(function () {
                if ($(this).is(':checked')) {
                    $("td:first-child", conteneur_table_ind).next(":contains('OK')").parent().hide();
                } else {
                    $("tr", conteneur_table_ind).show();
                }
            });
            $('#masquer_ok_ind').trigger('change');
        });

    </script>
</div>
