{% set url_xeditable = path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num}) %}
{% set url_xeditable = ligne %}
{% set iindividu = information.modele.individu %}
{% set iobjets = information.options.objets %}
{% set ob0=ligne.propositions.individu %}
{% set ob_ordre=0 %}
{% set ob_nom=iobjets[ob_ordre] %}
<tr id="tr_{{ ob_nom }}_{{ num }}">
    <td>
        <dd>{{ num }}</dd>
    </td>
    <td>
        <dd> {{ ob_ordre }} </dd>
    </td>
    <td>
        {% set xx= '____CRE'~ob_nom %}
        <dd><i class="fa {{ xx|classActionObjet }}">-{{ ob_nom|trans }}</i></dd>
           id : {{ ob0.D.id_individu }}
    </td>
    <td>
        {% if ob0.D.id_individu >0 and ob0.ut.etat !='nouveau' %}
            OK
        {% else %}
            {% if ob0.ut.msg_interactif is defined  %}
                {{ ob0.ut.msg_interactif }}
            {% endif %}
        {% endif %}
        {% if information.options.test %}
            <div>
                <strong>historique</strong>
            </div>
            {{ ob0.ut.compte_rendu }}
        {% endif %}
    </td>
    <td>
        <dl>
            <div>
                <strong>{{ 'original'|trans }}</strong>
            </div>
            {% set url_xeditable = path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num}) %}
            <dd>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.nom_famille">{{ ob0.D.nom_famille }}</span>
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.prenom">{{ ob0.D.prenom }}</span>

            </dd>
            <dd>
                {% if ob0.D.naissance is not empty %}
                    <span class="xeditable" data-type="date" data-url="{{ url_xeditable }}"
                          id="ob0.N.naissance">{{ ob0.D.naissance|date('d/m/Y') }}</span>
                {% endif %}
            </dd>
            <dd><span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.email">{{ ob0.D.email }}</span></dd>
            <dd><span class="xeditable" data-type="textarea" data-url="{{ url_xeditable }}"
                      id="ob0.N.adresse">{{ ob0.D.adresse }}</span></dd>
            <dd>
                {% if ob0.D.codepostal is defined %}
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.codepostal">{{ ob0.D.codepostal }}</span>
                {% endif %}

                {% if ob0.D.ville is defined %}
                <span class="xeditable" data-url="{{ url_xeditable }}"
                      id="ob0.N.ville">{{ ob0.D.ville }}</span>
                {% endif %}
            </dd>
        </dl>

        {% if ob0.N is defined %}
            <div>
                <strong>Correction</strong>
            </div>
            {% for champs,valeur in ob0.N %}
                <dd>
                    {{ champs }}: {{ valeur }}
                </dd>
            {% endfor %}
        {% endif %}
        {% if ob0.D.id_individu is defined and ob0.D.id_individu <1 %}
            <a href="{{ path('import_form',{'action':'enregistre_ligne','id_import':id_import,'num':num,'objet':'individu','retour':'individu'}) }}"
               class="btn btn-success ajax-remplace" data-cible="tr_{{ ob_nom }}_{{ num }}">
                Créer {{ 'individu'|trans }}</a>
        {% endif %}
     </td>
    <td>

        {% if ob0.D.id_individu <1 and ob0.data is defined %}
            <div>
                <strong>Individu</strong>
            </div>
            {% set tab_individu = ob0.data %}
            {% for id_individu,ind in tab_individu %}
                <div>
                    <form>
                        <dl>
                            <dd>{{ id_individu }}</dd>
                            <dd>{{ ind.nom_famille }} {{ ind.prenom }}</dd>
                            <dd>{{ ind.email }}</dd>
                            <dd>{{ ind.adresse }}</dd>
                            <dd>{{ ind.codepostal }}  {{ ind.ville }}</dd>

                            {#{% for ndata,nomchamp in iindividu.nouveau %}#}
                            {#<dd>#}
                            {#{{ ind[nomchamp] }}#}
                            {#</dd>#}
                            {#{% endfor %}#}

                            <a href="{{ path('import_form',{'action':'enregistre_ligne',
                                'id_import':id_import,'num':num,'objet':'individu','num_objet':id_individu,'retour':'individu'}) }}"
                               class="btn btn-warning ajax-remplace" data-cible="#tr_ind_{{ num }}"> Choisir cette
                                personne</a>
                        </dl>
                    </form>
                </div>

            {% endfor %}


        {% endif %}
        </div>
    </td>
    <td>
        <a href="{{ path('import_form',{'action':'rafraichir_ligne','id_import':id_import,'num':num,'objet':'individu'}) }}"
           class="btn btn-info btn-sm ajax-remplace" data-cible="#tr_{{ ob_nom }}_{{ num }}"><i
                    class="fa fa-refresh"></i>
        </a>
    </td>
</tr>
</tr>