{% extends 'base.html.twig' %}

{% block content %}
    <div class="box">
        <div class="box-header">
            importation
        </div>
        <div class="box-body">
			
            {% include('inclure/barre_progression.html.twig') with{'url':url,'message':message,'url_redirect':url_redirect} only %}

        </div>
    </div>
{% endblock %}
