{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block content %}
    <!-- Colonne de gauche-->
    {% include('importation/bloc_gauche.html.twig') %}
    <div id="contenu" class="col-md-8">
        <div class="box box-secondary">
            <table class="table table-striped super_tableau">
                <span class="info-box-text">{{ 'Actions réalisées' }} </span>
                <thead>
                <tr>
                    <th>{{ 'Ligne'|trans }}</th>
                    <th>{{ 'detail'|trans }}</th>
                    <th>{{ 'quand'|trans }}</th>
                    <th>{{ 'qui'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for action in objet_data.modification %}
                    {% if action.action is defined %}
                        <tr>
                            <td>{{ action.action }}</td>
                            <td>{{ action.detail }}</td>
                            <td>{{ action.date|date(' h:i:s') }}</td>
                            {# <td>par {{ action.operateur|getNomIndividu }}</td> #}
                        </tr>
                    {% endif %}
                {% endfor %}
                {% for etape in objet_data.modification %}
                    {% if etape.etapes is defined %}
                        <tr>
                            <td>{{ etape.etapes }}</td>
                            <td> a faire</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="box box-secondary">
            <div class="box-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>statut</th>
                <th>proposition</th>
                <th>variable</th>
                <th>observation</th>
            </tr>

            </thead>
            <tbody>
            {%  for ligne in objet_data.lignes %}

                <tr>
                    <th>{{ ligne.ligne }}</th>
                    <td>{{ ligne.statut }}</td>
                    <td>{{ arbre(ligne.variable)}}</td>
                    <td>{{ arbre(ligne.proposition) }}</td>
                    <td>{{ ligne.observation }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

            </div>
            </div>



        {% if objet_data.proposition.m_nom.ligne is defined %}
            <div class="box box-secondary">
                <table class="table table-striped super_tableau_select">
                    <span class="info-box-text">{{ 'modification nom prenom' }} </span>
                    <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés"/>
                    <input type="submit" class="submit" name="bretour" value="Abandon"/>
                    <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
                    <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
                    <thead>
                    <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                        <th>{{ 'ligne'|trans }}</th>
                        <th>{{ 'id'|trans }}</th>
                        <th>{{ 'remplace'|trans }}</th>
                        <th>{{ 'par'|trans }}</th>
                        <th>{{ 'concerne'|trans }}</th>
                        <th>{{ 'objet'|trans }}</th>
                        <th>{{ 'champ destination'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mnom in objet_data.proposition.m_nom %}
                        <tr>
                            <td></td>
                            <td>{{ mnom.ligne }}</td>
                            <td>{{ mnom.id }}</td>
                            <td>{{ mnom.remplace }}</td>
                            <td>{{ mnom.par }}</td>
                            <td>{{ mnom.inform }}</td>
                            <td>{{ mnom.objet }}</td>
                            <td>{{ mnom.champ_destination }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if objet_data.proposition.m_individu.ligne is defined %}
            <div class="box box-secondary">
                <table class="table table-striped super_tableau_select">
                    <span class="info-box-text">{{ 'modifications coordonnées' }} </span>
                    <p class='boutons'>
                        <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés"/>
                        <input type="submit" class="submit" name="bretour" value="Abandon"/>
                        <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
                        <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
                    </p>
                    <thead>
                    <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                        <th>{{ 'ligne'|trans }}</th>
                        <th>{{ 'id'|trans }}</th>
                        <th>{{ 'remplace'|trans }}</th>
                        <th>{{ 'par'|trans }}</th>
                        <th>{{ 'concerne'|trans }}</th>
                        <th>{{ 'objet'|trans }}</th>
                        <th>{{ 'champ destination'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mnom in objet_data.proposition.m_individu %}
                        <tr>
                            <td></td>
                            <td>{{ mnom.ligne }}</td>
                            <td>{{ mnom.id }}</td>
                            <td>{{ mnom.remplace }}</td>
                            <td>{{ mnom.par }}</td>
                            <td>{{ mnom.inform }}</td>
                            <td>{{ mnom.objet }}</td>
                            <td>{{ mnom.champ_destination }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if objet_data.proposition.a_individu.ligne is defined %}
            <div class="box box-secondary">
                <table class="table table-striped super_tableau_select">
                    <span class="info-box-text">{{ 'Ajout individus' }} </span>
                    <p class='boutons'>
                        <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés"/>
                        <input type="submit" class="submit" name="bretour" value="Abandon"/>
                        <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
                        <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
                    </p>
                    <thead>
                    <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                        <th>{{ 'ligne'|trans }}</th>
                        <th>{{ 'nom_famille'|trans }}</th>
                        <th>{{ 'prenom'|trans }}</th>
                        <th>{{ 'ville'|trans }}</th>
                        <th>{{ 'objet'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mnom in objet_data.proposition.a_individu %}
                        <tr>
                            <td></td>
                            <td>{{ mnom.ligne }}</td>
                            <td>{{ mnom.nom_famille }}</td>
                            <td>{{ mnom.prenom }}</td>
                            <td>{{ mnom.ville }}</td>
                            <td>{{ mnom.objet }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if objet_data.proposition.m_membre.ligne is defined %}
            <div class="box box-secondary">
                <table class="table table-striped super_tableau_select">
                    <span class="info-box-text">{{ 'ajout Membres' }} </span>
                    <p class='boutons'>
                        <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés"/>
                        <input type="submit" class="submit" name="bretour" value="Abandon"/>
                        <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
                        <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
                    </p>
                    <thead>
                    <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                        <th>{{ 'ligne'|trans }}</th>
                        <th>{{ 'nom'|trans }}</th>
                        <th>{{ 'objet'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mnom in objet_data.proposition.a_membre %}
                        <tr>
                            <td></td>
                            <td>{{ mnom.ligne }}</td>
                            <td>{{ mnom.nom }}</td>
                            <td>{{ mnom.objet }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if objet_data.proposition.m_cot.ligne is defined %}
            <div class="box box-secondary">
                <table class="table table-striped super_tableau_select">
                    <span class="info-box-text">{{ 'Modifications cotisations' }} </span>
                    <p class='boutons'>
                        <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés"/>
                        <input type="submit" class="submit" name="bretour" value="Abandon"/>
                        <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
                        <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
                    </p>
                    <thead>
                    <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                        <th>{{ 'ligne'|trans }}</th>
                        <th>{{ 'id'|trans }}</th>
                        <th>{{ 'remplace'|trans }}</th>
                        <th>{{ 'par'|trans }}</th>
                        <th>{{ 'concerne'|trans }}</th>
                        <th>{{ 'objet'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mnom in objet_data.proposition.m_cot %}
                        <tr>
                            <td></td>
                            <td>{{ mnom.ligne }}</td>
                            <td>{{ mnom.id }}</td>
                            <td>{{ mnom.remplace }}</td>
                            <td>{{ mnom.par }}</td>
                            <td>{{ mnom.inform }}</td>
                            <td>{{ mnom.objet }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if objet_data.proposition.m_cotp.ligne is defined %}
            <div class="box box-secondary">
                <span class="info-box-text">{{ 'Modifications paiements' }} </span>
                <p class='boutons'>
                    <input type="submit" class="submit" name="benregistre" value="Enregistrer les lignes cochés"/>
                    <input type="submit" class="submit" name="bretour" value="Abandon"/>
                    <INPUT type="button" name="tout" value="coche tout" onClick="cocher_tout()"/>
                    <INPUT type="button" name="rien" value="décoche" onClick="decocher_tout()"/>
                </p>
                <table class="table table-striped super_tableau_select">
                    <thead>
                    <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                        <th>{{ 'ligne'|trans }}</th>
                        <th>{{ 'id'|trans }}</th>
                        <th>{{ 'remplace'|trans }}</th>
                        <th>{{ 'par'|trans }}</th>
                        <th>{{ 'concerne'|trans }}</th>
                        <th>{{ 'objet'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mnom in objet_data.proposition.m_cotp %}
                        <tr>
                            <td></td>
                            <td>{{ mnom.ligne }}</td>
                            <td>{{ mnom.id }}</td>
                            <td>{{ mnom.remplace }}</td>
                            <td>{{ mnom.par }}</td>
                            <td>{{ mnom.inform }}</td>
                            <td>{{ mnom.objet }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    </div>
    </div>
    </div>

{% endblock %}
