{#{% for k,objet in objets %}#}
    <div class="box-header"><h3>Choisir</h3>
        <div class="box-body">
            <ul class="nav navbar-nav">
               <li> <label for="masquer_ok_ind">
                    <input type="checkbox" id="masquer_ok_ind" checked="checked" name="masquer_ok_ind"/>
                    Masquer les lignes OK
                </label>
               </li>
            </ul>
                <table class="table table-striped table-responsive super_tableau" id="table_ind">
                    <thead>
                        <tr>
                            <th>{{ 'Numéro de ligne'|trans }}</th>
                            <th>{{ 'etat'|trans }}</th>
                            <th>{{ 'Donnée dans le fichier'|trans }}</th>
                            <th>{{ 'Proposition'|trans }}</th>
                            <th>{{ 'Action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for num,ligne in tab_choix %}

                        {% include('importation/inter_choix_ligne.html.twig') with {'ligne':ligne,'num':num,'id_import':id_import,'information':information} only  %}

                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
<div class="box box-secondary">
    <script type="application/javascript">
        $(document).ready(function(){
            conteneur_table_ind = $('#table_ind');
            $('#masquer_ok_ind').change(function () {
                if ($(this).is(':checked')) {
                    $("td:first-child", conteneur_table_ind).next(":contains('OK')").parent().hide();
                } else {
                    $("tr", conteneur_table_ind).show();
                }
            })
            $('#masquer_ok_ind').trigger('change');
            initialisation_ajax_remplace('#contenu');
        });
    </script>
</div>
