        <div class="box box-secondary">
            <div class="box-header"><h3>Service rendu & Paiement : Rapprochement</h3></div>
            <div class="box-body">
                <label for="masquer_ok_ind">
                    <input type="checkbox" id="masquer_ok_sr" checked="checked" name="masquer_ok_sr"/>
                    Masquer les lignes ok
                </label>

                <table class="table table-striped table-responsive super_tableau" id="table_ind">
                    <thead>
                    <tr>
                        <th>{{ 'Numéro de ligne'|trans }}</th>
                        <th>{{ 'etat'|trans }}</th>
                        <th>{{ 'Donnée dans le fichier'|trans }}</th>
                        <th>{{ 'Proposition'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for num,ligne in tab_modifie %}
                        {% set prop_ind=ligne.propositions.individu.D %}
                        {% set prop_membre=ligne.propositions.membre.D %}
                        {% set prop_sr=ligne.propositions.servicerendu.D %}
                        {% set prop_paiement=ligne.propositions.paiement.D %}
                        {% set prestation=ligne.propositions.prestation.D %}

                        <tr>
                            <td>{{ num }}</td>
                            <td>
                                {% if prop_sr.id_prestation is defined or prop_sr.id_prestation_lot is defined %}
                                    OK
                                {% else %}
                                    A compléter
                                {% endif %}
                            </td>
                            <td>

                                <dl>
                                    <dd>{{ prop_ind.nom_famille }} {{ prop_ind.prenom }}</dd>
                                    <dd>{{ prestation.prestation_type }} </dd>
                                    <dd>{{ prop_paiement.montant }} € </dd>

                                </dl>
                            </td>
                            <td>
                                <div>
                                    <div><small>Servicerendu</small></div>
                                    {% if prop_sr.data is defined %}
                                        Service rendu déjà enregistré
                                    {% else %}
                                        {% if prop_sr.id_prestation is defined or id_prestion_lot is defined %}
                                        Proposition de prestation
                                        {% else %}
                                        <dl>
                                            <dd>{{ prestation.prestation_type }} </dd>
                                            <dd>{{ prop_paiement.montant }} € </dd>

                                        </dl>
                                        {% endif %}
                                    {% endif %}

                                    <div><small>Paiement</small></div>
                                    {% if prop_sr.data is defined %}
                                        Paiement déjà enregistré
                                    {% else %}
                                        Proposition de création de paiement
                                        <dl>
                                            <dd>{{ prestation.prestation_type }} </dd>
                                            <dd>{{ prop_paiement.montant }} € </dd>
                                        </dl>
                                    {% endif %}
                                </div>


                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <script type="application/javascript">
                $(document).ready(function(){
                    conteneur_table_ind = $('#table_ind');
                    $('#masquer_ok_sr').change(function () {
                        if ($(this).is(':checked')) {
                            $("td:first-child", conteneur_table_ind).next(":contains('OK')").parent().hide();
                        } else {
                            $("tr", conteneur_table_ind).show();
                        }
                    });
                    $('#masquer_ok_ind').trigger('change');
                });

            </script>

        </div>
