{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
<!-- Colonne de gauche-->
<div id="aside" class="col-md-4">

        <div class="box box-secondary">
            <div class="box-header">
                <h2>{{ page|trans }} : {{ objet_data.Nom }}</h2>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }}</dd>
                </dl>
            </div>
        </div>
    {% if objet_data.observation is not empty %}
        <div class="box box-secondary informations">
            <div class="box-header">
                <h4> {{ 'informations'|trans }}</h4>
                <dl class="dl-horizontal">
                    {% if objet_data.observation %}
                        <dt>{{ 'observation'|trans }}</dt>
                        <dd>{{ objet_data.observation }}</dd>
                    {% endif %}
                    {#todo ajouté la ged#}
                </dl>
            </div>
        </div>
    {% endif %}
    {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}
    <div class="box-secondary retour">
        <div class="back">
            <a href='{{ path('compte_liste') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }} des {{ 'comptes'|trans }}</a>
            <a href='{{ path('piece_liste') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }} des {{ 'pieces'|trans }}</a>
        </div>

    </div>
</div>
<div id="contenu" class="col-md-8">
    {% set id_poste  = objet_data.idPoste %}
    {% include('inclure/table_bloc.html.twig') with{'dyn':true,'charger_data' : true,'objet_bloc':'compte','tab_col':donneTabCol('compte'),'tab_filtres':donneTabFiltre('compte'),'filtres_statiques':{ id_poste: objet_data.IdPoste}} only %}
//todo filtre a voir
    {% endblock %}

