{% set objet_en_cours = _self|trouverObjet %}
{% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}


<table class="table table-striped super_tableau">
	<thead>
		{#<th>{{ 'id'|trans }}</th>#}
		<th>{{ 'nomcourt'|trans }}</th>
		<th>{{ 'nom'|trans }}</th>
		<th>{{ 'observations'|trans }}</th>
		{#<th>{{ 'Nb Compte'|trans }}</th>#}
		<th></th>
	</thead>

	 {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
	<tr>

		{#<td>{{ objet_data.idPoste }}</td>#}
		<td>{{ objet_data.Nomcourt }}</td>
		<td>{{ objet_data.Nom }}</td>
		<td>{{ objet_data.Observation }}</td>
		{#<td>{{ poste.getcountcomptes(id_entite)|getPasDeZezo(poste.getcountcomptes( id_entite)) }}</td> le filtre ne fonctionne pas#}
		{#<td>{{ poste.getcountComptes(poste.idPoste) }}</td>#}
		{# todo lles nombres ne sont pas correct voir SELECT count(*) FROM `assc_comptes`where id_entite=1 group by id_poste#}
		{# todo la transformation du 0 en blanc a été ajoutée dans la fonction simplasso-postes #}
		<td class="text-right">
			<div class="btn-group" role="group" aria-label="...">


				{{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

				{{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

				{{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
			</div>
		</td>
	</tr>
{% endfor %}

</table>

