{% extends 'base'~layout_cplt()~'.html.twig' %}
{#{% set objet_data = charger_objet() %}#}
{% block content %}
<!-- Colonne de gauche-->
<div id="aside" class="col-md-4">

        <div class="box box-secondary">
            <div class="box-header">
                <h2>{{ 'poste'|trans }} : {{ objet_data.Nom }}</h2>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }}</dd>
                    {#<dt>{{ 'actif'|trans }} :</dt>#}
                    {#<dd>{{ objet_data.Actif }}</dd>#}
                    {#<dt>{{ 'nombre'|trans }} :</dt>#}
                    {#<dd>{{ objet_data.Nombre }}</dd>#}
                </dl>
            </div>
        </div>
    {% if objet_data.observation is not empty %}
        <div class="box box-secondary informations">
            <div class="box-header">
                <h4> {{ 'informations'|trans }}</h4>
                <dl class="dl-horizontal">
                    {% if objet_data.observation %}
                        <dt>{{ 'observation'|trans }}</dt>
                        <dd>{{ objet_data.observation }}</dd>
                    {% endif %}
                    {#todo ajouté la ged#}
                </dl>
            </div>
        </div>
    {% endif %}
    {#{% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}#}
    <div class="box-secondary retour">
        <div class="back">
            <a href='{{ path('compte_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }} des {{ 'comptes'|trans }}</a>
            <a href='{{ path('piece_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }} des {{ 'pieces'|trans }}</a>
        </div>

    </div>
</div>
    <div class="col-md-8">
        <div class="box box-secondary">
            <div class="box-header">
                <h4>Liste des comptes</h4>
                <div class="float-right">
                    {{ bouton('ajouter',{'objet':'compte','id':'','args':{'id_poste':objet_data.idPoste},'redirect':url_courante(),'bt_texte':true,'class_cplt':'modal-large'}) }}
                </div>
            </div>
            <div class="box-body">
                {#todo revoir syntaxe ou manque #}
                {#{% include('inclure/table_sta.html.twig') with{'objet_bloc':'compte','datatable':compte_table,'redirect':url_courante() } only %}#}
            </div>
        </div>
    </div>
    {% endblock %}

