<div class="page{% if page_css is defined %} {{ page_css }}{% endif %}">
    {% if header is defined %}
    <div class="header">
        {{ header|raw }}
    </div>
    {% endif %}
    <div class="content {{ content_css }}">
        {{ content|raw }}
    </div>
    {% if footer is defined %}
    <div class="footer">
        {{ footer|raw }}
    </div>
    {% endif %}
</div>