<style type="text/css">
    <!--




    body {
        position: relative;
        font-family: 'Ubuntu', cursive;
        font-size:14px;
        margin: 0;
        padding: 0;


    }

    .arial {
        font-size:11px;
        font-family: 'arial';
    }

    .page {
        position:relative;

        margin: 0;
        padding: 0;
    }

    .petite_police{
        font-size:10px;
    }


    .nouvelle_page {
        page-break-before: always;
        margin-left: 0;
        padding: 0;
        position:relative;
    }

    .content {
        position:relative;
        padding:0 5mm;
        text-align: justify;
    }
    .padding_zero {
        padding:0;
    }


    .fond-gris {
        text-align: center;
        background-color: #444;
        color: #ffffff;
        font-weight: bold;
        padding: 2mm;
        font-size:1.1em;
        text-transform:uppercase;
    }
    .espaceur{
      padding:0.5em ;

    }

    .nom{
        font-size:1.1em;

    }

    .adherent{
        padding :0.5em 0;
    }

    .carte_adherent{
        font-size:10px;
        margin-right: 10px;
    }
    b{
        font-weight: 700;

    }
    img {
        margin-left: 10px;
        margin-bottom: 10px;
    }


    .logo_petit{  width: 10mm;
        margin-right: 1em;}
    .logo_petit img{  width: 10mm;}


    .header{
        position:relative;
    }

    .corp{
        position:relative;
        padding: 5mm;
    }

    .footer{
         position:absolute;
         bottom: 0;
        width: 100%;
        text-align: center;
     }


    .heure{ width: 20mm; }


    table { page-break-inside:auto;margin:0;padding:0; }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group  }
    tfoot { display:table-footer-group }
    td {vertical-align: top;padding:4px 2px; text-align:justify;line-height: 1.5;}
    th {padding:2px;}


    .sans_marge{line-height: 1.1; margin:0;padding:0;}
    hr.hachure{ border: 2px #333 dashed;}
    .largeur50{width:50%}

    {% if css is defined %}
        {{ css }}
    {% endif %}

	.grande_carte{	font-size:8pt;}
	.grande_carte .small{	font-size:6pt;}
	.grande_carte .barcode_num{	font-size:10px;}

    .recap{
        margin-top: 2em;
    }
    td.texte_a_droite
    {
        text-align: right;
    }

.logo img{
    max-width: 32mm;
    max-height: 32mm;
}
{{ css }}
    -->
</style>









