<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        <!--
        body {
            padding: 0;
            margin: 0;

        }
        .entete {
            position: relative;
            font-family: 'Ubuntu', cursive;
            font-size: 8pt;
            padding: 0;
            margin: 0
        }
        .titre {

        }
        -->
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="entete">
    <div class="titre">
        {{ titre }}
    </div>
</div>
</body>
</html>

