{% form_theme form with ['form_large.html.twig'] %}

{% if texte is defined %}
    <p>{{ texte }}</p>
{% endif %}

    {{ form(form) }}

<script type="application/javascript">
    $(document).ready(function() {
        conteneur_form = $('form[name={{ form.vars.name }}]');
        initialisation_composant_form(conteneur_form);
        initialisation_zone_form(conteneur_form);


    });

    function initialisation_zone_form(conteneur_form){

        if (conteneur_form === undefined)
        	conteneur_form='body';
    	conteneur_form = $('form[name={{ form.vars.name }}]');
         $('#zoneform_zoneGeo',conteneur_form).before('<div id="map_zone" class="map_form carte"></div>')
  		$('#zoneform_zoneGeo',conteneur_form).hide();
        var objet = new Array();
        {% include('geo/init_carte.js.twig') with{'id_map':'_zone'} %}

        var drawnItems = new L.FeatureGroup();
        map_zone.addLayer(drawnItems);

        // Initialise the draw control and pass it the FeatureGroup of editable layers
        var drawControl = new L.Control.Draw({
            edit: {
                featureGroup: drawnItems
            },
            'draw':{marker:false}

        });
        map_zone.addControl(drawControl);
        geojson=$('#zoneform_zoneGeo',conteneur_form).val()
        if (geojson){
            var objet = JSON.parse(geojson);
            var len = objet.length;
            for (i = 0; i < len; i++) {
                type = objet[i]['type'];

                geojson=objet[i]['geojson']
                if (type=='circle'){
                    latlng0=L.latLng(
                            geojson['geometry']['coordinates'][1],
                            geojson['geometry']['coordinates'][0]
                    );
                    layer=L.circle(latlng0, objet[i]['plus']['radius']);
                }
                else if (type=='rectangle') {
                    latlng0=L.latLng(
                            geojson['geometry']['coordinates'][0][0][1],
                            geojson['geometry']['coordinates'][0][0][0]
                    );
                    latlng1=L.latLng(
                            geojson['geometry']['coordinates'][0][2][1],
                            geojson['geometry']['coordinates'][0][2][0]
                    );

                    layer=L.rectangle(L.latLngBounds(latlng0,latlng1));
                }
                else if (type=='polyline') {
                    var lenj = geojson['geometry']['coordinates'][0].length;
                    var tab_coords = new Array();
                    var j= 0;
                    for (j = 0; j < lenj; j++) {
                        tab_coords.push(L.GeoJSON.coordsToLatLng(geojson['geometry']['coordinates'][0][j]))
                    }
                    layer=L.polyline(tab_coords);
                }
                else if (type=='polygon') {
                    var lenj = geojson['geometry']['coordinates'][0].length;
                    var tab_coords = new Array();
                    var j= 0;
                    for (j = 0; j < lenj; j++) {
                        tab_coords.push(L.GeoJSON.coordsToLatLng(geojson['geometry']['coordinates'][0][j]))
                    }
                    layer=L.polygon(tab_coords);
                }
                drawnItems.addLayer(layer);
            }
        }

        // add an OpenStreetMap tile layer
        L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ3VpbGxhdW1ldyIsImEiOiJiREFkR3IwIn0.-CUhlefzCSV-FTSQTcre9g', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map_zone);



        map_zone.on('draw:created', function (e) {
            var type = e.layerType,
                    layer = e.layer;
            drawnItems.addLayer(layer);
            simplasso_maj_zone_geo()

        });

        if(drawnItems)
            map_zone.fitBounds(drawnItems.getBounds());

        function simplasso_maj_zone_geo(){

            var tab_layers = drawnItems.getLayers()
            var len = tab_layers.length;
            objet=new Array();
            for (i = 0; i < len; i++) {
                layer=tab_layers[i]
                plus=new Array();
                type="polyline"
                if (layer instanceof L.Circle) {
                    plus={'radius':layer.getRadius()};
                    type="circle"
                }
                else if (layer instanceof L.Rectangle) {
                    type="rectangle"

                }
                else if (layer instanceof L.Polygon) {
                    type="polygon"
                }
                objet.push({'type':type,'geojson':layer.toGeoJSON(),'plus':plus})
            }
            if(objet.length>0)
                $('#zoneform_zoneGeo').val(JSON.stringify(objet));
            else
                $('#zoneform_zoneGeo').val('');
        }

        map_zone.on('draw:edited', simplasso_maj_zone_geo);
        map_zone.on('draw:deleted',simplasso_maj_zone_geo);


    }


 </script>