{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block title %}Edit {{ sac('objet') }}{% endblock %}

{% block body %}
    <h1>Edit sac('objet')</h1>
    {% block formulaire %}
        {{ include('geo/zone/_form.html.twig', {'button_label': 'Update'}) }}
    {% endblock %}
{% endblock %}