{% extends 'objet/index.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}



