{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">

        {#<div id="contenu" >#}
        <div class="box box-secondary">
            <div class="box-header">
                <div class="float-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'class_cplt':'modal-form'}) }}
                        {{ bouton('supprimer') }}
                    </div>
                </div>
                {% set zonegroupe =  objet_data.zonegroupe %}
                <dl class="dl-horizontal">
                    <span class="info-box-number">{{ objet_data.IdZone }}</span>
                    <span class="info-box-text">{{ objet_data.nom }}</span>
                    <dt>{{ 'descriptif'|trans }} :</dt>
                    <dd>{{ objet_data.Descriptif }}</dd>
                    <dt>{{ 'zonegroupe'|trans }} :</dt>
                    <dd><a href="{{ path('zonegroupe_show',{'idZonegroupe':zonegroupe.idZonegroupe}) }}" > {{ zonegroupe.nom }} </a> </dd>

                </dl>
            </div>
        </div>
        {# {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}#}

        <div class="back">
            <a href='{{ path('zonegroupe_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }}</a>
        </div>



    </div>
    <div id="contenu" class="col-md-8">
        <div class="box box-secondary">
            <div class="box-header"><h4>Emprise spaciale</h4></div>
            <div class="box-body">

                    {% include 'inclure/carte_zone_geo.html.twig' %}
            </div>
        </div>

        <div class="box box-secondary">
            <div class="box-header">
                <h4>Liste des individus</h4>
                <div class="float-right">
                    <a href="{{ path('zone_lier',{'objet':'individu','idZone':objet_data.idZone}) }}" class="btn btn-success">Recalculer</a>
                </div>
            </div>
            <div class="box-body">
            
                {% include('inclure/table_dyn.html.twig') with{'objet_bloc':'individu','datatable':individu_table,'redirect':url_courante() } only %}
        
            </div>
        </div>

       {# {% include('inclure/tab_enfants.twig') %}#}
    </div>

{% endblock %}
