{% extends 'base.html.twig' %}

{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/wysi.css') }}"/>
    <script src="{{ asset('assets/js/wysi.js') }}"></script>
{% endblock %}

{% block content %}

            <div id="aside" class="col-md-4">
                <div class="box">
                    <div class="box-body">
                        <div class=" float-right">
                            {{ bouton('modifier') }}
                            {{ bouton('dupliquer') }}
                            {{ bouton('supprimer') }}
                        </div>
                        <div class="numero">{{ objet_data.primaryKey }}</div>
                        <div class="nom h2">{{ objet_data.nom }}</div>
                        <div class="votation"><a href="{{ path('votation_show',{'idVotation':objet_data.votation.primaryKey}) }}">{{ objet_data.votation.nom }}</a></div>
                        <div class="texte ">{{ objet_data.texte|raw }}</div>
                    </div>
                </div>

                <a href="{{ path('votation_show',{'idVotation':objet_data.votation.primaryKey}) }}" class="btn btn-secondary"><i class="fa fa-backward"></i> Retour à la votation</a>
            </div>

        <div id="contenu" class="col-md-8">
    <div class="box">
        <div class="box-header">
            <div class="float-right">
                <a href="{{ path('votechoix_new',{'idVoteproposition':objet_data.primaryKey,'redirect':url_courante()}) }}" class="btn btn-success modal-form"><i class="fa fa-plus"></i> Ajouter un choix</a>
                <a href='{{ path('preference_edit',{'pref':'votation|voteproposition','redirect': url_courante()}) }}' class="btn btn-secondary modal-form"><i class="fa fa-cog"></i></a>
            </div>

            <div class="box-title">Liste des choix</div>

        </div>
        <div class="box-body">
            <ul class="list-group sortable" data-href="{{ path('voteproposition_trier_choix',{'idVoteproposition':objet_data.primaryKey}) }}">

                {% for id_choix,choix in objet_data_ext.listeChoix %}
                    <li class="list-group-item" data-id="{{ id_choix }}">
                        <div class="float-left">
                            <div class="btn drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        </div>
                        <div class="float-right">

                            {%if choix.par_defaut %}
                            <a class="btn btn-primary btn-sm"  href="{{ path('voteproposition_choix_par_defaut',{'idVoteproposition':objet_data.primaryKey,'idVotechoix':id_choix,'redirect':url_courante()}) }}">
                            <i class="fa fa-crown"></i> Choix par défaut
                            </a>
                            {% else %}
                                <a class="btn btn-secondary btn-sm"  href="{{ path('voteproposition_choix_par_defaut',{'idVoteproposition':objet_data.primaryKey,'idVotechoix':id_choix,'redirect':url_courante()}) }}">
                                    <i class="fa fa-crown"></i>
                                </a>
                            {% endif %}


                            <div class="btn-group">

                                {{ bouton('modifier', {'objet':'votechoix','id':id_choix,'redirect':url_courante(),'class_cplt':'btn-sm modal-form'}) }}
                                {{ bouton('supprimer', {'objet':'votechoix','id':id_choix,'redirect':url_courante(),'class_cplt':'btn-sm'}) }}
                            </div>
                        </div>
                        {{ choix.nom }}
                        <small>{{ choix.texte|raw }}</small>
                        <div class="clearfix"></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

        </div>




{% endblock %}