{% extends 'base.html.twig' %}
{% set id= objet_data.primaryKey%}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}

<!-- Colonne de gauche-->
<div id="aside" class="col-md-4">

    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ico ico-entite"></i></span>

        <div class="info-box-content">
            <div class="float-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {'id_entite':id,'class_cplt':'modal-form'}) }}
                    {{ bouton('supprimer',{'id_entite':id}) }}
                </div>
            </div>
            <span class="info-box-text">{{ objet_data.IdEntite }}</span>
            <span class="info-box-number">{{ objet_data.nom }}</span>
            <span class="info-box-number">{{ objet_data.nomcourt }}</span>

            {% if objet_data.ville %}
                <div class="float-left">
                    <a href="{{ path('carte',{objet:'entite','action':'positionner','id': objet_data.IdEntite}) }}"
                       class="btn modal-form modal-large{% if not objet_data.estGeoreference  %} text-danger{% endif %}" id="btn_carte{{ objet_data.IdEntite }}"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
                </div>
                <div class="el npai">
                    {{ objet_data.adresse }}<br/>
                    {{ objet_data.codePostal }} {{ objet_data.ville }}
                </div>
            {% endif %}
            {% if objet_data.email %}
                <div class="el npai">
                    {{ objet_data.email|lien_courriel }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="box box-secondary logo">
        <div class="box-header">
            <h5> {{ 'Logo'|trans }} </h5>
        </div>
        <div class="box-body">
            {% set has_logo = objet_data_ext.hasImage %}
            {% include('inclure/logo.html.twig') with { 'objet':'entite', 'has_logo' : has_logo,'objet_data':objet_data } only %}
        </div>
    </div>


    <div class="box box-secondary informations">
        <div class="box-header">
            <h5> {{ 'Informations'|trans }}
            </h5>
        </div>
        <div class="box-body">

        </div>
    </div>
</div>


<!-- Colonne principal-->
<div id="contenu" class="col-md-8">
</div>
{% endblock %}

