{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        <div class="info-box">
            <div class="box-header">
                {#<span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>#}

                <div class="info-box-content">
                    <div class="float-right">
                        <div class="float-right">
                            {{ bouton('modifier') }}
                            {{ bouton('supprimer') }}
                        </div>
                    </div>
                </div>
                <div class="btn-group-horizontal">
                    <dl class="dl-horizontal">
                        <dt>{{ 'ecriture'|trans }} :</dt><dd>{{ objet_data.primaryKey }} - {{ objet_data.Nom }}
                        <dt>{{ 'piece'|trans }} :</dt><dd> {{ objet_data.piece.idPiece }}</dd>
                        <dt>{{ 'date_ecriture'|trans }} :</dt>
                        <dd>{{ objet_data.dateEcriture|date('d/m/Y') }}</dd>

                        <dt>{{ 'libelle'|trans }} :</dt>
                        <dd>{{ objet_data.Nom }}</dd>

                        <dt>{{ 'debit'|trans }} :</dt>
                        <dd>{% if objet_data.debit!=0 %}
                                {{ objet_data.debit }}
                            {% endif %}</dd>

                        <dt>{{ 'credit'|trans }} :</dt>
                        <dd>{% if objet_data.credit!=0 %}
                                {{ -objet_data.credit }}
                            {% endif %}
                        </dd>

                        <dt>{{ 'compte'|trans }} :</dt>
                        <dd>{{ objet_data.compte.idCompte }} {{ objet_data.compte.nom }}</dd>
                        <dt>{{ 'journal'|trans }} :</dt>
                        <dd>{{ objet_data.journal.idJournal }} {{ objet_data.journal.nom }}</dd>
                        <dt>{{ 'activite'|trans }} :</dt>
                        <dd>{{ objet_data.activite.idActivite }} {{ objet_data.activite.nom }}</dd>
                        <dt>{{ 'entite'|trans }} :</dt>
                        <dd>{{ objet_data.entite.idEntite }} - {{ objet_data.entite.nom }}</dd>
                        <dt>{{ 'Lettrage'|trans }} :</dt>
                        <dd>{{ objet_data.lettrage }} le {{ objet_data.dateLettrage|date('d/m/Y') }}</dd>
                        <dt>{{ 'pointage'|trans }} :</dt>
                        <dd> pointage est nouveau voir structure</dd>
                        {#<dd>{{ objet_data.pointage }}</dd>#}
                        <dt>{{ 'etatprecompta'|trans }} :</dt>
                        <dd>{{ objet_data.piece.etatPrecompta }}</dd>
                        <dt>{{ 'contrepartie'|trans }} :</dt>
                        <dd>{{ objet_data.contrePartie }}</dd>
                    </dl>
                </div>
            </div>

            {% if objet_data.observation is not empty %}
                <div class="box box-secondary informations">
                    <div class="box-header">
                        <h4> {{ 'informations'|trans }}</h4>
                        <dl class="dl-horizontal">
                            {% if objet_data.observation %}
                                <dt>{{ 'classement'|trans }} :</dt>
                                <dd>{{ objet_data.classement }} </dd>
                                <dt>{{ 'observation'|trans }}</dt>
                                <dd>{{ objet_data.observation }}</dd>
                            {% endif %}
                            {#todo ajouté la ged#}
                        </dl>
                    </div>
                </div>
            {% endif %}
            {#{% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}#}
            <div class="box-secondary retour">
                <div class="back">
                    <a href='{{ path('piece_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }} des {{ 'pieces'|trans }}</a>
                    <a href='{{ path('compte_index') }}' class="btn btn-secondary"> des {{ 'comptes'|trans }}</a>
                    <a href='{{ path('journal_index') }}' class="btn btn-secondary"> des {{ 'journals'|trans }}</a>
                    <a href='{{ path('activite_index') }}' class="btn btn-secondary"> des {{ 'activites'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-secondary">
            <div class="box-header">
                <h4>Liste des ecritures  de la {{ 'piece'|trans }} : {{ objet_data.piece.idPiece }} --  {{ objet_data.Nom }}  </h4>
                <div class="float-right">
                    {{ bouton('ajouter',{'objet':'piece','id':'','args':{'id_activite':objet_data.primaryKey},'redirect':url_courante(),'bt_texte':true,'class_cplt':'modal-large'}) }}
                </div>
            </div>
            <div class="box-body">
                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'ecriture','datatable':ecriture_table,'redirect':url_courante(),'charger_data':true,'filtres_statiques':{ 'id_piece': objet_data.piece.idPiece,'charger_data':true} } only %}
            </div>
        </div>
    </div>
    {#<div id="contenu" class="col-md-8">#}
        {#{% set id_piece  = objet_data.idPiece %}#}
        {#{% include('inclure/table_bloc.html.twig') with{'dyn':true,'charger_data' : true,'objet_bloc':'ecriture','tab_col':donneTabCol('ecriture'),#}
        {#'tab_filtres':donneTabFiltre('ecriture'),#}
        {#'filtres_statiques':{ 'id_piece': objet_data.IdPiece}} only %}#}
    {#</div>#}
{% endblock %}
