{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}
    <div id="aside" class="col-md-4">
                <div id="contenu" class="box">
                    <div class="box-body">
                        <div class=" float-right">
                            {{ bouton('modifier') }}
                            {{ bouton('supprimer') }}
                        </div>
                        <div class="numero">{{ objet_data.primaryKey }}</div>
                        <div class="nom h2">{{ objet_data.nom }}</div>
                <dl class="dl-horizontal descriptif">
                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }}</dd>
                    <dt>{{ 'nom_groupe'|trans }} :</dt>
                    <dd>{{ objet_data.nomGroupe }}</dd>
                    <dt>{{ 'descriptif'|trans }} :</dt>
                    <dd>{{ objet_data.Descriptif }}</dd>
                    <dt>{{ 'prestationType'|trans }} :</dt>
                    <dd>{{ tab('prestation.'~objet_data.idPrestation~'.prestation_type_nom') }}</dd>
                    <dt>{{ 'beneficiaire'|trans }} :</dt>
                    <dd>{{ tab('prestation.'~objet_data.idPrestation~'.objet_beneficiaire')|join(',') }}</dd>
                    <dt>{{ 'periodique'|trans }} :</dt>
                    <dd>{{ tab('prestation.'~objet_data.idPrestation~'.libelle') }}</dd>
                    <dt>{{ 'Retard en jours'|trans }} :</dt>
                    <dd>{{ objet_data.retardJours }}</dd>
                    {% if objet_data.prestationType==2 %}
                        <dt>{{ 'nombre_numero'|trans }} :</dt>
                        <dd>{{ objet_data.nombreNumero }}</dd>
                        <dt>{{ 'prochain_numero'|trans }} :</dt>
                        <dd>{{ objet_data.prochainNumero }}</dd>
                    {% endif %}
                    <dt>{{ 'active'|trans }} :</dt> <dd>{{ objet_data.active|ouinon }}</dd>
                    <dt>{{ 'prixlibre'|trans }} :</dt> <dd>{{ objet_data.prixlibre|ouinon  }}</dd>
                    <dt>{{ 'saisie d\'une quantite'|trans }} :</dt> <dd>{{ objet_data.quantite|ouinon  }}</dd>

                    {% if conf('module.pre_compta') %}

                    <dt>{{ 'compte_gestion'|trans }} :</dt>
                    <dd>
                        {% if objet_data.compte  %}
                        {{ objet_data.compte.nom }} - {{ objet_data.compte.ncompte }}
                        {% endif %}</dd>

                    <dt>{{ 'activite_gestion'|trans }} :</dt>
                    <dd>{% if objet_data.activite  %}{{ objet_data.activite }} {% endif %}</dd>

                    {% endif %}

                    {% if objet_data.unite %}
                    <dt>{{ 'unite'|trans }} :</dt>
                    <dd>{{ objet_data.unite.idUnite }} - {{ objet_data.unite.nom }}</dd>
                    {% endif %}
                    <dt>{{ 'nb_voix'|trans }} :</dt> <dd>{{ objet_data.getNbVoix }}</dd>
                    </div>
                </div>


                <a href="{{ path(objet_en_cours()~'_index') }}" class="btn btn-secondary"><i class="fa fa-backward"></i> back to list</a>
            </div>

        <div id="contenu" class="col-md-8">
 			<div class="box box-secondary">
            <div class="box-header">
                <h4>Liste des prix</h4>
                <div class="float-right">
                    {{ bouton('ajouter',{'objet':'prix','id':'','args':{'id_prestation':objet_data.idPrestation},'redirect':url_courante(),'bt_texte':true,'class_cplt':'modal-large'}) }}
                </div>
            </div>
            <div class="box-body">
                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'prix','datatable':prix_table,'redirect':url_courante() } only %}
            </div>
        </div>
        </div>





{% endblock %}