<p><strong>Objet</strong> : Reçu Fiscal</p>

<p>Cher adhérent,</p>

<p>Veuillez trouver ci-dessous le reçu correspondant au montant du don que vous avez octroyé à l'association sur l'année {{ annee_fiscal }}.</p>

<p>Nous vous remercions pour ce soutien.</p>

<p>Cordialement,</p>

<p>Le conseil d'administration</p>


