<p><strong>Chers adhérents,</strong></p>

<p>A ce jour, sauf erreur de notre part, vous n'avez pas encore réglé votre {{ prestation_nom }} {{ relance_annee }} à l'association
    {{ entite_nom }}.</p>

<p> Chaque cotisation est importante : elle contribue à notre équilibre financierde l'association.</p>

<p>Vous pouvez déposer votre {{ prestation_nom }} de {{ prestation_montant }} au local de préférence par chèque ou
    l'envoyer par courrier au {{ entite_adresse }} {{ entite_codepostal }} {{ entite_ville }}. </p>

<p>Merci de votre compréhension et de votre engagement dans notre association, </p>