

<p>Pouvoir pour  l'assemblée générale</p>
<p>Au cas où vous ne pourriez être présents à l'assemblée générale, merci de penser à déposer au local ou à renvoyer à {{ entite_nom }} ( {{ entite_adresse}}, {{ entite_codepostal }}{{ entite_ville }}) le pouvoir ci-dessous, complété.</p>
<p>--------------------------------------------------------------------------------------------------------------</p>
<p>Je soussigné (e), {{ individu_prenom }} {{ individu_nom }} adhérent-e de {{ entite_nom }}, demeurant à {{ individu_ville }}
<p>donne pouvoir à .......................................................... pour me représenter lors de l'assemblée générale de {{ entite_nom }} le {{ date_ag }}.</p>
<p>Le  .. / .. / ....   à ....................................................</p>
<p>Signature</p>