<h3>Reçu Fiscal Association {{ annee_fiscal }}<br/>
    <small>Modèle obligatoire (art. 87 de la loi n° 81-1160 du 30-12-81)</small>
</h3>

<p><strong>OBJET : {{ objet_associatif }}.</strong></p>
<table>
    <tr>
        <td>Numéro d'ordre :</td>
        <td>{{ annee_fiscal }} / {{ numero_ordre }}</td>
    </tr>
    <tr>
        <td>Nom de l'association :</td>
        <td>{{ entite_nom }} <br/>
            n° 59-1675, J.O. des 15 et 16 mars 1982</td>
    </tr>
    <tr>
        <td>Adresse du siège :</td>
        <td>{{ entite_adresse }} <br/>
            {{ entite_codepostal }} {{ entite_ville }}
        </td>
    </tr>
    <tr>
        <td>
            Donateur :
        </td>
        <td>
            {{ individu_civilite }} {{ individu_nom_famille }} {{ individu_prenom }}<br>
            {{ individu_adresse }}<br>
            {{ individu_codepostal }} {{ individu_ville }}
        </td>
    </tr>
</table>
<p>L'association reconnaît avoir reçu à titre de don : <strong>{{ don_montant }} €</strong> au cours de
    l'année {{ annee_fiscal }}.</p>
<p>Somme en toutes lettres : <strong>{{ don_montant_en_toutes_lettres }}</strong></p>


<p></p>
<p>Fait à {{ entite_ville }} le {{ date_du_jour }}.</p>


