{% form_theme form with ['form_large.html.twig'] %}


{% set mode_saisie = 'tortue' %}{% if pref(objet_en_cours()~'.form.mode_saisie')==1 %}{% set mode_saisie = 'lievre' %}{% endif %}
	<div class="formulaire {{ mode_saisie }}">
    	<div class="en_haut_a_droite float-right option_form ">


    	{% if pref_exist(objet_en_cours()~'|form') and form_pref is not defined %}
            {% set form_pref = objet_en_cours()~'|form' %}
        {% endif %}
            {% if form_pref is defined %}
            <a href="{{ path('preference_edit',{'pref': form_pref}) }}"    class="btn btn-sm btn-secondary modal-form">
                <i class="fa fa-cog"></i>
            </a>
             {% endif %}
		</div>
    
    
{{ form_start(form) }}

{% set section = sac('objet')~'_liste' %}
{% set prestation_type = sac('alias_valeur') %}



  

            {% form_theme form with ['bootstrap_4_horizontal_layout.html.twig'] %}

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <fieldset class="fieldset_servicerendu">
                <div class="panel-group" id="accordion">

                    {% if form.objet_beneficiaire is defined %}
                        {{ form_row(form.objet_beneficiaire) }}
                        {{ form_row(form.id_objet_beneficiaire) }}
                    {% endif %}

                    {% if not modification %}
                       		 {{ form_row(form.id_entite) }}

                             {% if lot %}
                                 {{ form_row(form.id_prestationlot) }}
                                {% for i in 0..nb_prestation-1 %}
                                    {% set nom_pr = 'pr'~i %}
                                    {% set form_prestation = form[nom_pr] %}

                                    <div class="panel panel-secondary panneau_prestation" id="prestation{{ i }}">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapse{{ i }}">Prestation {{ i }}</a>
                                            </h4>
                                        </div>
                                        <div id="collapse{{ i }}" class="panel-collapse collapse">
                                            <div class="panel-body">

                                                {% include('asso/servicerendu/form_line.html.twig'  )  with {'form_prestation':form[nom_pr],'modification':modification} %}

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}

                              {% include('asso/servicerendu/form_line.html.twig'  ) with {'form_prestation':form['pr0'],'modification':modification}  %}
                            {% endif %}


     	            {% else %}

                      {% include('asso/servicerendu/form_line.html.twig'  ) with {'form_prestation':form,'modification':modification} %}


                    {% endif %}
                   

                      
                </div>


            </fieldset>

            {% if not modification %}

            {{ form_row(form.reglement_question) }}

            <fieldset class="fieldset_reglement">
                <legend>Réglement</legend>
                <div class="panel">
                    <div class="panel-title">Nouveau paiement
                    </div>
                    <div class="panel-body">
                        {{ form_row(form.reglement.montant) }}
                        {{ form_row(form.reglement.tresor) }}

                        <div class="form-group">
                                <div class="row">
                                {{ form_errors(form.reglement.date_cheque) }}
                                {{ form_errors(form.reglement.date_enregistrement) }}

                                {{ form_label(form.reglement.date_enregistrement) }}
                                <div class="col-sm-3">
                                    {{ form_widget(form.reglement.date_enregistrement) }}
                                </div>
                                    {{ form_label(form.reglement.date_cheque) }}
                                <div class="col-sm-3 champs_date_enregistrement">
                                    {{ form_widget(form.reglement.date_cheque) }}
                                </div>

                                </div>
                            </div>

                            {{ form_row(form.reglement.numero) }}
                            {{ form_row(form.reglement.observation) }}

                    </div>
                </div>
                    {% if  form.service_paiement.solde is defined %}
                    <div class="panel">
                        <div class="panel-title">Utiliser un paiement existant non assigné.</div>
                        <div class="panel-body">
                        {{ form_widget(form.service_paiement.solde) }}
                        </div>
                    </div>
                        {% else %}
                            {{ form_widget(form.service_paiement) }}
                    {% endif %}
            </fieldset>
            {% endif %}
            {{ form_end(form) }}


            <script type="application/javascript">
                {% if not modification %}
                    var variable_servicerendu_form = {
                        combinaison: {{ tab_prochains_servicerendu|json_encode|raw }},
                        periode: {{ periode|json_encode|raw }},
                        nb_prestation: {{ nb_prestation }},
                        lot: {% if lot %}true{% else %}false{% endif %},
                        {% if lot %}
                        combinaison_lot: {{ tab_prestationlot|json_encode|raw }},
                        {% endif %}
                        objet_beneficiaire:'{{objet_beneficiaire }}',
                        prestation_type:'{{prestation_type }}',
                        soldes:{{ tab_soldes|json_encode|raw }},
                        modepaiement:{{ tab_modepaiements|json_encode|raw }},
                        nom_formulaire: '{{ form_name }}',
                        modification: {{ modification }}+0

                    };

                    init_servicerendu_form(variable_servicerendu_form);
                {% endif %}
            </script>

{{ form_end(form) }}
</div>

