{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block title %}Create {{ sac('objet') }}{% endblock %}

{% block content %}
<div class='box'>
<div class='box-header'>
	<h3>Ajout de cotisation en masse</h3>
</div>	<div class="box-body">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-secondary" id="formulaire_ajout_massif">
    			<div class="panel-body">
                  {% block formulaire %}
            	   {{ include('inclure/form.html.twig', {'button_label': 'Create'}) }}
                {% endblock %}
                </div>
        	</div>
    	</div>

    	<div class="col-md-9">	
			<div class="panel panel-secondary" id="resultat">
        		<table class="table table-striped">
        		<thead>
        		<tr><th>Adhérent</th><th>Coordonnées</th><th>Cotisation</th><th>Paiement</th><th>Action</th></tr>
        		</thead>
        		<tbody>
        		</tbody>
        		</table>
			</div>
		<script type="application/javascript">
		function retour_ajout(data){

			 if (data.ok){
					args = data.data;
					args['url_adherent'] = '{{ path('membrind_show',{'idIndividu':'++id++'})|raw }}';
					args['url_adherent'] = args['url_adherent'].replace("++id++",data.data.membre.id);
				 	args['url_supprimer'] = '{{ path('cotisation_en_masse',{'action':'supprimer'}) }}&id='+data.data.tab_servicerendu[0];

					args.reglement.tresor = getTresor(args.reglement.id_tresor)['nom'];
			        $('#resultat table tbody').append( Mustache.render(window['templates']['cotisation_en_masse_ligne.html'](), data.data));
 			        nouvelle_ligne = $('#ligne'+data.data.tab_servicerendu[0]);
 			        $('.bt_sup',nouvelle_ligne).click(function(){

					 $.getJSON( $(this).attr('data-href'), function( data ) {

	 			            if(data.ok){
		 			            $('#ligne'+data.id).remove();
	 			            }
	 			        });
						return false;
					});


			        toastr.success(data.message,'', {timeOut: 3000,progressBar:true,positionClass:'toast-bottom-left',newestOnTop:true});
			        $('#formulaire_ajout_massif form').html(data.html)



			    }
			    else{

			    	$('#formulaire_ajout_massif form').html(data.html)
			        toastr.error(data.message,'', {timeOut: 3000,progressBar:true,positionClass:'toast-bottom-left',newestOnTop:true});


			    }
			 ii = $('#formulaire_ajout_massif form');
			 initialisation_composant_form(ii);
			 init_form_ajout_massif();

			}

		$('document').ready(function(){
			init_form_ajout_massif();

		});

		function init_form_ajout_massif(){

			var options = {
	                dataType:  'json',
	                data: { json: '1' },
	                success: retour_ajout,
	                clearForm: false
	            };
         		formulaire =  $('#formulaire_ajout_massif form')
	            $(formulaire).ajaxForm(options);

				$('#cotisation_en_masse_membre').focus();

			}

		</script>
		</div>
	</div>
</div>
{% endblock %}