{% form_theme form with ['form_large.html.twig'] %}


    {{ form_row(form_prestation.prestation) }}


<div class="form-group">
    <div class="row">
    {{ form_label(form_prestation.date_enregistrement) }}
    <div class="col-sm-4">
        {{ form_widget(form_prestation.date_enregistrement) }}
    </div>
    </div>

    {#
    <div class="form-group ">
        <div class="col-sm-4"> </div>
    
        
        <label class="col-sm-1 control-badge badge_tva">tva</label>
        <div class="col-sm-4 champs_taux">
            {{ form_widget(form_prestation.taux) }}
        </div>
        {{ form_errors(form_prestation.taux) }}
        
    
    #}
</div>


<div class="form-group champs_dates">
    <div class="row">
    {{ form_label(form_prestation.periode) }}
    <div class="col-sm-9">
        {{ form_widget(form_prestation.periode) }}
    </div>
    {{ form_errors(form_prestation.periode) }}
    {{ form_errors(form_prestation.periode) }}
    </div>
</div>

<div class="form-group champs_dates">
    <div class="row">
    {{ form_label(form_prestation.date_debut) }}
    <div class="col-sm-4">
        {{ form_widget(form_prestation.date_debut) }}
    </div>
    <label class="col-sm-1 control-label champs_date_fin">au</label>
    <div class="col-sm-4 champs_date_fin">
        {{ form_widget(form_prestation.date_fin) }}
    </div>
    {{ form_errors(form_prestation.date_debut) }}
    {{ form_errors(form_prestation.date_fin) }}
    </div>
</div>

<div class="form-group champs_abo">
    <div class="row">
    {{ form_label(form_prestation.premier) }}
    <div class="col-sm-4">
        {{ form_widget(form_prestation.premier) }}
    </div>
    <label class="col-sm-1 control-label champs_date_fin">au</label>
    <div class="col-sm-4 champs_date_fin">
        {{ form_widget(form_prestation.dernier) }}
    </div>
    {{ form_errors(form_prestation.premier) }}
    {{ form_errors(form_prestation.dernier) }}

</div>
</div>
<div class="form-group">
    <div class="row">

        {{ form_label(form_prestation.montant) }}
        <div class="col-sm-3">
            {{ form_widget(form_prestation.montant) }}
        </div>


        <div class="col-sm-2 champs_quantite" >
            <label class="control-label">*</label>
            {{ form_widget(form_prestation.quantite) }}
        </div>
        <label class="col-sm-1 control-label champs_total"> = </label>
        <div class="col-sm-3">
            {{ form_widget(form_prestation.total) }}
        </div>

    </div>


</div>

{{ form_row(form_prestation.observation) }}