{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block title %}Create {{ sac('objet') }}{% endblock %}

{% block body %}


    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-2">
        {% block aside %}
            <div class="box informations">
                <dl class="dl-horizontal">
                {% if modification %}
                    <dt>{{ objet|trans }}  {{ 'numero'|trans }} :</dt>
                    <dd class="numero"> {{ objet_data.idServicerendu }} </dd>
                    <dt>{{ 'cree_le'|trans }} {{ objet_data.createdAt|date('d/m/Y') }} </dt>
                    <dt> {{ 'modifie_le'|trans }}  {{ objet_data.updatedAt|date('d/m/Y') }}</dt>
                    <dt><a href="{{ path(objet,{'id_servicerendu':objet_data.idServicerendu}) }}">
                        <span class="fa fa-info-circle"
                              aria-hidden="true"></span>
                            {{ 'Voir la fiche'|trans }}
                        </a></dt>

                    <dt><a href="{{ path('membre_edit',{'id_membre':objet_data.idMembre}) }}">
                        <span class="fa fa-plus-circle" aria-hidden="true">
                            {{ 'ajouter'|trans }}</span></a>
                    </dt>
                    <dt><a href="#" data-href="{{ path('membre_delete',
                        {'id_servicerendu':objet_data.idServicerendu,
                            'id_membre':objet_data.idMembre,
                            'retour_parent':'membre'}) }}"
                           data-toggle="modal" data-target="#confirm-delete">
                            <span class="fa fa-times" aria-hidden="true"/>
                            {{ 'Supprimer'|trans }}
                        </a></dt>
                {% elseif objet_action is defined and objet_action is not empty %}
                    <dd>{{ objet_action|trans }} {{ 'nouveau'|trans }}</dd>
                {% endif %}
                </dl>
            </div>

            <div class="back">
                <a href='{{ path('membre_index') }}' class="btn btn-secondary">{{ 'membre_index'|trans }}</a>
            {% if modification %}
                <a href='{{ path(objet_beneficiaire,{'id_objet':id_objet_beneficiaire,'objet_beneficiaire' : objet_beneficiaire}) }}'
                    class="btn btn-secondary">{{ 'membre_retour'|trans }}</a>
            {% endif %}
            </div>
        {% endblock %}
    </div>
     <div id="aside" class="col-sm-10">
     <h1>Create {{ sac('objet') }}</h1>
      {% block formulaire %}
	  
       {{ include('asso/servicerendu/_form.html.twig', {'button_label': 'Create'}) }}
	
    {% endblock %}
    </div>


{% endblock %}