{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}

<div id="aside" class="col-md-4">

    <div class="box box-secondary">
        <div class="box-header">
            <span class="info-box-icon bg-green"><i class="fa fa-flag"></i></span>
            <h3>Service rendu {{  objet_data.primaryKey }}</h3>

            <div class="info-box-content">
                <div class="float-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {% if not objet_data.estCloture %}
                            {{ bouton('modifier', {'class_cplt':'modal-form','tooltip':false}) }}
                            {{ bouton('supprimer',{'tooltip':false}) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal descriptif">
                <dt>{{ 'ID'|trans }}</dt><dd>{{ objet_data.idServicerendu }}</dd>
                <dt>{{ 'date_debut'|trans }}</dt>
                <dd>{{ objet_data.DateDebut|format_datetime('medium', 'none',  locale='fr') }}</dd>
                <dt>{{ 'date_fin'|trans }}</dt>
                <dd>{{ objet_data.DateFin|format_datetime('medium', 'none',  locale='fr') }}</dd>
                {% if suc('multientite') %}
                    <dt>{{ 'entite'|trans }}</dt>
                    <dd>{{ objet_data.entite.nom }}</dd>
                {% endif %}
                <dt>{{ 'prestation'|trans }}</dt>
                <dd>{{ objet_data.prestation.nom }}  :
                    {{ tab('prestation.'~objet_data.prestation.idPrestation~'.prestation_type_nom')}}</dd>
                <dt>{{ 'membre'|trans }}</dt>
                <dd>{% set membre = objet_data.getMembre() %}{% if membre %}{{ membre.getNom() }}{% endif %}</dd>
                <dt>{{ 'montant'|trans }}</dt>
                <dd>{{ objet_data.Montant }}</dd>
                {% if  (objet_data.Quantite != 1) %}
                    <dt>{{ 'quantite'|trans }}</dt>
                    <dd>{{ objet_data.Quantite }}</dd>
                    <dt>{{ 'total'|trans }}</dt>
                    <dd>{{ objet_data.Montant * objet_data.Quantite }}</dd>
                {% endif %}
                   <dt>{{ 'regle'|trans }}</dt> <dd>{{ objet_data.getRegle }}  </dd>
                    {#{% if objet_data.idPiece >0 %}
                    <dt>{{ 'comptabilisé'|trans }} </dt>
                    <dd>
                    {{ objet_data.idPiece }}#}
                    {#todo rechercher l'état de la pièce si 1     {%  set compabilise='valiser la piece' %}#}
                  {#  <a href="{{ path('piece',{'id_piece':objet_data.idPiece,'redirect': path('servicerendu',{'servicerendu':objet_data.idServicerendu})}) }}"
                       class="btn">
                            <span class="fa fa-plus-circle" aria-hidden="true">
                            {{ 'piece_voir'|trans }}</span>
                    </a>
                </dd>
                <dd> {{ objet_data.idPiece }}
                    <a href="{{ path('recette',{'action':'ged','id_piece':objet_data.idPiece,'redirect': path('servicerendu',{'servicerendu':objet_data.idServicerendu})}) }}"
                       class="btn">
                                <span class="fa fa-plus-circle" aria-hidden="true">
                                {{ 'piece_ged'|trans }}</span>
                    </a>
                </dd>
                {% else %}
                    {%  set comptabilise = 'comptabiliser' %}
                {% endif %}#}
                <dt>{{ 'observations'|trans }}</dt>
                <dd>{{ objet_data.observation }}</dd>
            </dl>

            {% if autoriser('OBJET_generique_MOD') %}
                <a href="{{ path('sr_remboursement',{'idServicerendu':objet_data.primaryKey,"redirect":url_courante()}) }}" class="btn btn-info modal-form">
                    <i class="fa fa-backward" ></i> Rembourser ce service rendu
                 </a>
            {% endif %}

        </div>


    </div>

 {#   {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %} #}

</div>

<div id="contenu" class="col-md-8">

    {% set tab_bloc = ['paiement'] %}
    {% for objet_bloc,database in databases %}
        {% include('inclure/table_bloc.html.twig') with{'objet_bloc':objet_bloc,'datatable':database,'redirect':url_courante() } only %}
    {% endfor %}


    <div class="box box-secondary">

        <div class="box-header">
            Liste des opérations liées
        </div>
        <div class="box-body">
        <table class="table">
    {% for sr in srs %}
        <tr>
            <td>{{ sr.idServicerendu }}</td>
            <td>Remboursement</td>
            <td>{{ sr.quantite }}</td>
            <td>
                {% if  sr.dateEnregistrement  %}
                {{ sr.dateEnregistrement|format_datetime('medium', 'none',  locale='fr') }}
                {% endif %}
            </td>
            <td>
                {% if  sr.observation  %}
                    {{ sr.observation }}
                {% endif %}
            </td>
            <td>
                {{ bouton('modifier', {'class_cplt':'modal-form','tooltip':false,'id':sr.idServicerendu}) }}
                {{ bouton('supprimer',{'tooltip':false,'id':sr.idServicerendu,'redirect':url_courante()}) }}
            </td>
        </tr>
    {% endfor %}
        </div>
    </table>
    </div>


</div>
{% endblock %}

