{% for nom_filtre,filtre in filtres %}
    <div class="filtre">
        {{ nom_filtre }}
        <ul class="list-inline">
            {% for key,f in filtre.options %}

                <li class="list-inline-item">
                    {% set nom_champs = filtre.nom  %}
                    {% if f.groupe is defined  %}{% set nom_champs=f.groupe  %}  {% endif %}
                        <a {% if f.on is defined and f.on %}class="btn btn-primary" {% endif %}
                            href="?{{ nom_champs }}={{ f.valeur }}" name="{{ nom_champs }}{% if filtre.multiple is defined %}[]{% endif %}" data-value="{{ f.valeur }}">
                            {{ f.libelle }}{% if f.nb is defined  %} <span class="badge">{{ f.nb }}</span>{% endif %}

                        </a>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}