<footer class="main-footer clearfix">
    <div class="container-fluid">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> <a href="{{ path('credits') }}">{{ version }}</a>
        </div>
        <strong>{{ application_nom }}</strong> Logiciel Libre
        <small>porté par <a href="http://www.declic3000.com" target="_blank">Déclic 3000</a>.</small>
    </div>
</footer>