<script type="application/javascript">
    $(document).ready(function() {

        conteneur_form = $('form[name="{{ form.vars.name }}"]');
        initialisation_composant_form(conteneur_form);
        {%  if js_init is defined and js_init is not empty %}
            {%  if js_init_args is defined %}
            options ={
                {% for k,arg in js_init_args %}
                '{{ k }}' : '{{ arg|raw }}' {% if not loop.last %},{% endif %}
                {% endfor %}
            };
            initialisation_{{ js_init }}(conteneur_form,options);
        {% else %}
            initialisation_{{ js_init }}(conteneur_form);
        {% endif %}
        {% endif %}
    });
    {%  if js is defined and js is not empty %}
    {%  if js_options is not defined %}
    {% set js_options = [] %}
    {% endif %}
    {% include 'inclure/js/'~ js ~'.js.twig' with { 'name':form.vars.name, 'options': js_options } %}
    {% endif %}
</script>