<script type="application/javascript">
$(document).ready(function () {

    {%  if options is not defined %}{% set options = {} %}{% endif %}
	options = {{ options_datatable(objet_bloc,datatable,options)|raw}};
    
    container = 'super_tableau_{{ objet_bloc }}';
    url= '{{ path(objet_bloc~'_index',{ 'action' : 'datagrid'}) }}';
   
    intiatiliseParcours(url,options);
});
</script>