
    {% block head %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{% block title %}{{ title }}{% endblock %}{%if organisation is not empty %} - {{ organisation }}{%endif%}</title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="Logiciel Libre pour gerer son association en toute simplicité">
        <meta name="author" content="L'association Simplasso">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" type="text/css" title="Main CSS"
              media="screen"/>

    {% endblock %}
