<div class="box">
    <div class="box-header">
        <h3 class="box-title">{{ 'Liste des documents'|trans }}</h3>
    </div>
    <div class="box-body">
        <ul class="list-inline">
            {% for doc in documents %}
                <li  class="list-inline-item text-center">
                    <a href="{{ path('image',{'id_document':doc.idDocument}) }}">
                        <i class="fa fa-file-{{ doc.extension }} fa-3x"></i>
                        <div class="">{{ doc.nom }}</div>
                        <div class="small">{{ doc.createdAt.format('d-m-Y H:i') }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if documents is empty %}
            <p>Aucun document</p>
        {% endif %}
    </div>
</div>


