

<div class="nav flex-column nav-pills left-menu">
    {% for code_prestation,libelle in tab_prestationtype %}
      <a href="{{ path('statistique_'~libelle)}}" class="nav-link {% if page_en_cours() == 'statistique_'~libelle %}active{% endif %}" >{{ libelle }}</a>
    {% endfor %}
</div>
{% if selection %}
    <div class="panel">
        <div class="panel-body">
            <p>Les statistiques sont construites à de la selection courante d'adhérent :</p>
            <ul class="list-unstyled">
                {% for k,sel in selection %}
                    {% if k=='search' %}
                        {% if sel.value!='' %}
                            <li class="list-inline-item">{{ k }} : {{ sel|join(', ') }}</li>
                        {% endif %}
                    {% else %}
                        <li class="list-inline-item">{{ k }} : {{ sel|join(', ') }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p><a href="{{ path('statistique') }}" class="btn btn-secondary btn-block">Statistique sur les adhérents</a></p>
        </div>
    </div>
{% endif %}
