{% set mot = mot('npai_'~type) %}
{% if mot %}
    <div class="float-right bt-npai">
    {% set actif = mot.id_mot in mots|keys %}
    {% if conf('npai.saisie_unique') %}
        {% if npai %}
            <span class="badge badge-xs badge-warning" title="{{ mot.nom }}" ><i class="fa fa-exclamation-triangle"></i></span>
        {% endif %}
    {% else %}
        <a class="btn  {% if mot.id_mot in mots|keys %}btn-warning{% else %}btn-secondary{% endif %} btn-sm force-tooltip npai" data-href="{{ path('individu_npai',{'idIndividu':id,'type':type}) }}"
           title="Marquer {{ mot.nom }}" data-placement="bottom" id="lien_retour_courrier{{ type }}_{{ id }}">
            <i class="fa fa-exclamation-triangle"></i>
        </a>
    {% endif %}
    </div>
{% endif %}