<div class="el rgpd">
    <div class="titre">{{ 'RGPD'|trans }}</div>
    <ul class=" list-inline" data-url="{{ path('individu_rgpd', {'idIndividu':objet_data.idIndividu}) }}">
        {% set  tab_rgpd = tab('rgpd_question') %}
        {% set  tab_rgpd_checked = objet_data_ext.rgpd() %}
        {% for rgpd in tab_rgpd %}
            <li class="list-inline-item">
                <a id="rgpd-{{ objet_data.idIndividu }}-{{ rgpd.id_rgpd_question }}"
                   class="switch badge {% if tab_rgpd_checked[rgpd.id_rgpd_question] %}badge-primary{% else %}badge-secondary{% endif %}"
                   data-question="{{ rgpd.id_rgpd_question }}"
                   data-value="{% if tab_rgpd_checked[rgpd.id_rgpd_question] %}0{% else %}1{% endif %}">{{ rgpd.nomcourt }}</a>
            </li>
        {% endfor %}
    </ul>
    <script type="application/javascript">
        initialisation_rgpd_compact();
    </script>
</div>