<div class="box box-secondary informations box-rgpd">
    <div class="box-header">
        <h4><i class="fa fa-check-square" aria-hidden="true"></i> {{ 'Utilisation des données personnelles'|trans }}
        </h4>
    </div>
    <div class="box-body">

            {% set  tab_rgpd = tab('rgpd_question') %}
            {% set  tab_rgpd_checked = objet_data.rgpd() %}
            {% for rgpd in tab_rgpd %}


                        {% if autoriser('OBJET_generique_MOD') %}
                            <div class="pretty p-switch p-fill">
                                <input class="bs_switch_rgpd" type="checkbox" name="rgpd_{{ rgpd.id_rgpd_question }}"
                                       id="rgpd_{{ rgpd.id_rgpd_question }}" data-action="{{ path('individu_rgpd', {'idIndividu':objet_data.idIndividu}) }}"
                                       value="{{ rgpd.id_rgpd_question }}" {% if tab_rgpd_checked[rgpd.id_rgpd_question] is defined and tab_rgpd_checked[rgpd.id_rgpd_question] == true %} checked{% endif %} />

                                <div class="state p-primary">
                                    <label for="rgpd_{{ rgpd.id_rgpd_question }}">{{ rgpd.nom }}</label>
                                </div>

                            </div>
                            <div class=""></div>
                        {% else %}
                            {% if tab_rgpd_checked[rgpd.id_rgpd_question] is defined and tab_rgpd_checked[rgpd.id_rgpd_question] == true %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        {% endif %}
            {% endfor %}

        <script type="application/javascript">
            initialisation_rgpd();
        </script>
    </div>
</div>