<div class="box box-secondary">
    <div class="box-header">
        <h3 class="box-title"> {{ 'autorisation_liste'|trans }}</h3>
    </div>
    <div class="box-body">
        {% set tab_entite = tab('entite') %}
        {% for id_entite,entite in tab_entite %}
        {% if suc('entite.multi') %}
        <h4>{{ entite.nom }}</h4>
        {% endif %}
        {% if autorisations[id_entite] is defined   %}
        <table class="table table-striped">
            <thead>
            <th>Profil</th>
            <th>Droit</th>
            <th>
                Restriction sur les données
            </th>
            </thead>
            <tbody>

            {% for autorisation in autorisations[id_entite] %}
            <tr>
                <td>{{ autorisation.profil|getAutorisationProfil }}</td>
                <td>{{ autorisation.niveau|getAutorisationNiveau }}</td>
                <td>


                    {% if autorisation.restrictions is empty %}
                    Aucune


                    {% else %}
                    {% for restriction in autorisation.restrictions %}
                    {{ restriction.nom }}
                    {% endfor %}
                    {% endif %}
                    <a href="{{ path('autorisation_restriction_lier',{'idAutorisation':autorisation.IdAutorisation,'redirect':url_courante()}) }}" class="btn btn-sm btn-secondary modal-form">Ajuster les restrictions</a>

                </td>
            </tr>

            {% endfor %}

            </tbody>

        </table>

        <a href="{{ path('autorisation_form',{'idIndividu':objet_data.primaryKey,'redirect':url_courante()}) }}" class="btn btn-warning modal-form">Modifier</a>

        {% else %}
        <a href="{{ path('autorisation_form',{'idIndividu':objet_data.primaryKey,'redirect':url_courante()}) }}" class="btn btn-success modal-form">Ajouter des autorisations</a>

        {% endif %}
        {% endfor %}

    </div>
</div>