{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/wysi.css') }}"/>
    <script src="{{ asset('assets/js/wysi.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="aside" class="col-sm-3">

        {#<div id="contenu" >#}
        <div class="box box-secondary">
            <div class="box-header">
                <div class="float-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'class_cplt':'modal-form'}) }}
                        {{ bouton('supprimer') }}
                    </div>
                </div>

                <span class="info-box-number">{{ objet_data.IdBloc }}</span>
                <span class="info-box-text">{{ objet_data.nom }}</span>
                <dl class="dl-horizontal">
                    <dt>{{ 'canal'|trans }} :</dt>
                    <dd>{{ objet_data.canal }}</dd>
                    <dt>{{ 'valeurs'|trans }} :</dt>
                    <dd>{{ objet_data.valeurs }}</dd>
                </dl>
            </div>
        </div>

        <div class="back">
            <a href='{{ path('bloc_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }}</a>
        </div>


    </div>
    <!-- Colonne principal-->
    <div id="contenu" class="col-md-8">


        <div class="row-fluid">
            <div class="col-sm-6">
                <div class="box box-secondary">
                    <div class="box-header">
                        <h2>{{ 'texte'|trans }}</h2>
                    </div>
                    <div class="box-body">
                        {{ objet_data.texte|raw }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box box-secondary">
                    <div class="box-header">
                        <h2>{{ 'style'|trans }}</h2>
                    </div>
                    <div class="box-body">
                        {%  if objet_data.css.position is defined  %}
                            <dl class="dl-horizontal">
                                <dt>{{ 'position'|trans }} :</dt>
                                <dd>{{ objet_data.css.position }}</dd>
                                <dt>{{ 'top'|trans }} :</dt>
                                <dd>{{ objet_data.css.top }}</dd>
                                <dt>{{ 'left'|trans }} :</dt>
                                <dd>{{ objet_data.css.left }}</dd>
                                <dt>{{ 'width'|trans }} :</dt>
                                <dd>{{ objet_data.css.width }}</dd>
                                <dt>{{ 'height'|trans }} :</dt>
                                <dd>{{ objet_data.css.height }}</dd>
                                <dt>{{ 'css'|trans }} :</dt>
                                <dd>{{ objet_data.css.style }}</dd>
                            </dl>
                        {%  endif  %}
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}



