{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block title %}Creer {{ sac('objet') }}{% endblock %}

{% block body %}
    <h1>Edit sac('objet')</h1>
    {% block formulaire %}
        {{ include('sys/restriction/_form.html.twig', {'modification':false,'button_label': 'Créer'}) }}
    {% endblock %}
{% endblock %}