{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}

    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">

        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ico ico-restriction"></i></span>

            <div class="info-box-content">
                <div class="float-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'class_cplt':'modal-form'}) }}
                        {{ bouton('supprimer') }}
                    </div>
                </div>
            </div>

            <div class="float-left">
                <dl class="dl-horizontal">
                    <span class="info-box-text">{{ 'numero'|trans }} :{{ objet_data.IdRestriction }}</span>
                    <span class="info-box-number">{{ 'nom' |trans }} :{{ objet_data.nom }}</span>
                    <dt>{{ 'descriptif'|trans }} :</dt>
                    <dd>{{ objet_data.descriptif }}</dd>
                    <dt>{{ 'actif'|trans }} :</dt>
                    <dd>{{ objet_data.Actif }}</dd>
                </dl>
            </div>

        </div>
        <div class="box box-secondary informations">
            <div class="box-header">
                <h4> {{ 'Informations'|trans }}
                </h4>
            </div>

        </div>
    </div>

    <!-- Colonne principal-->
    <div id="contenu" class="col-md-8">
        <div class="panel panel-secondary ">
            <div class="panel-header">
                <h3>{{ 'Concerne'|trans }}{{ ' : ' }} <span class="small">{{ individu_table.nb }}</span></h3>
            </div>
            <div class="panel-body">
                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'individu','datatable':individu_table} only %}
            </div>
        </div>
        <div class="box box-secondary informations">
            <div class="box-header">
                <h4> {{ 'Filtre'|trans }}{{ ' : ' }}
                </h4>
                <table class="table table-striped super_tableau">
                    <thead>
                    <tr>
                        <th>{{ 'Objet'|trans }}</th>
                        <th>{{ 'Valeurs'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for objet,var in vars %}
                        <tr>
                            <td>{{ objet |trans }}</td>
                            <td>
                                <ul>
                                {% for champs,v in var %}
                                    <li><strong>{{ champs }}</strong> :
                                        {% if v is iterable %}
                                            {{ v|join('|') }}
                                        {% else %}
                                            {{ v }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

