{% extends 'objet/index.html.twig' %}
{% block menu_page_droite %}
    <li>
        {{ bouton('ajouter',{'bt_texte':true,'synthese':'membre_liaison_individu' }) }}
    </li>
{% endblock %}

{% block index_navbar %}

    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a href="{{ path('paiement_synthese') }}" class="nav-link">
                <span class="fa fa-cog"></span> Synthese
            </a>
        </li>
        <li class="nav-item">
            {%  set pref =  'paiement|export'  %}
            <a id="pref_paiement_export"
               href="{{ path('preference_edit',{'pref': pref,'redirect':  path('paiement_export')}) }}"
               class="nav-link modal-form">
                <span class="fa fa-file-download"></span> Exportation vers tableur
            </a>
        </li>
        {% if conf('module.remise_banque')  %}
        <li class="nav-item">
            <a href="{{ path('remise_en_banque')}}" class="nav-link">
                <span class="fa fa-th-list"></span> {{ 'deposer'|trans }}
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="{{ documentation_lien('remise_en_banque','toto') }}" target="_blank"
               class="nav-link "><i class="fa fa-life-ring" aria-hidden="true"></i></a>
        </li>

        </ul>

{% endblock %}


