{% extends 'base'~layout_cplt()~'.html.twig' %}



{% block content %}
 <div id="aside" class="col-md-4">
        <div class="box box-secondary">
            <div class="box-header">
                <h2>{{ "paiement"|trans }} : {{ objet_data.idPaiement }}</h2>
            </div>
            <div class="float-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {% if not objet_data.estCloture %}
                        {{ bouton('modifier', {'id_paiement':objet_data.idPaiement,'class_cplt':'modal-form','redirect': url_courante(),'tooltip':false}) }}
                        {{ bouton('supprimer',{'id_paiement':objet_data.idPaiement,'tooltip':false}) }}
                    {% endif  %}
                </div>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal descriptif">
                    {#<dt>{{ 'ID'|trans }}</dt><dd>{{ objet_data.idPaiement }}</dd>#}
                    <dt>{{ 'date_cheque'|trans }}</dt>
                    <dd>{{ objet_data.Datecheque|format_datetime('medium', 'none',  locale='fr') }}</dd>
                    <dt>{{ 'date_enregistrement'|trans }}</dt>
                    <dd>{{ objet_data.Dateenregistrement|format_datetime('medium', 'none',  locale='fr') }}</dd>
                    <dt>{{ 'numero'|trans }}</dt>
                    <dd>{{ objet_data.numero }}</dd>
                {% if suc('multientite') %}
                    <dt>{{ 'entite'|trans }}</dt>
                    <dd>{{ objet_data.entite.nom }}</dd>
                {% endif %}
                    <dt>{{ 'tresor'|trans }}</dt>
                    <dd>{{ objet_data.tresor.nom }}</dd>
                    <dt>{{ 'membre'|trans }}</dt>
                    <dd>{{ objet_data_ext.NomTitulaire }}</dd>
                    <dt>{{ 'montant'|trans }}</dt>
                    <dd>{{ objet_data.Montant }}</dd>
                    <dt>{{ 'remise'|trans }}</dt>
                    <dd>{% if objet_data.piece %}
                        {{ objet_data.Remise }}
                        {# todo rechercher l'état de la pièce si 1 a valider 2 on affiche     {%  set compabilise='valider la piece' %}#}
                        <a href="{{ path('remise_en_banque_document',{'id_piece':objet_data.piece.idPiece,'remise':objet_data.Remise,'redirect':url_courante()}) }}"
                           class="btn">
                                <span class="fa fa-plus-circle" aria-hidden="true">
                                {{ 'remise_voir'|trans }}</span>
                        </a>
                        {% else %}
                            {%  set comptabilise = 'remise_en_banque' %}
                        {% endif %}
                        {% if conf('module.pre_compta') %}
                            {% if comptabilise is defined  and comptabilise=='valider la piece' <2%}
                                <a href="{{ path('remise_en_banque_depot',{'redirect': url_courante()}) }}">
                                    <span class="fa fa-sign" aria-hidden="true"> {{ comptabilise|trans }}
                                    </span>
                                </a>
                            {% endif %}
                            {% if comptabilise is defined  and comptabilise=='remise_en_banque' <2%}
                                <a href="{{ path('piece',{'id_piece':objet_data.idPiece,'redirect': url_courante()}) }}"
                                   class="btn">
                                <span class="fa fa-plus-circle" aria-hidden="true">
                                {{ 'piece_voir'|trans }}</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </dd>
                    {% if conf('module.pre_compta') %}
                        <dt>{{ 'comptabilisé'|trans }} </dt>
                        <dd>
                            {% if objet_data.piece %}
                            {{ objet_data.piece.idPiece }}
                            {# todo rechercher l'état de la pièce si 1     {%  set compabilise='valiser la piece' %} #}
                            <a href="{{ path('piece_show',{'idPiece':objet_data.piece.idPiece,'redirect': path('paiement_show',{'idPaiement':objet_data.idPaiement})}) }}"
                               class="btn">
                                <span class="fa fa-plus-circle" aria-hidden="true">
                                {{ 'piece_voir'|trans }}</span>
                            </a>
                        {% endif %}
                        </dd>
                    {% endif %}
                    <dt>{{ 'observations'|trans }}</dt>
                    <dd>{{ objet_data.observation }}</dd>
                    <dt>{{ 'cree_le'|trans }}</dt>
                    <dd>{{ objet_data.createdAt|format_datetime('medium', 'none',  locale='fr') }}</dd>
                    <dt>{{ 'modifie_le'|trans }}</dt>
                    <dd>{{ objet_data.updatedAt|format_datetime('medium', 'none',  locale='fr') }}</dd>
                </dl>
            </div>
        </div>


    {#{% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}#}

  </div>
    <div id="contenu" class="col-md-8">
     {% set tab_bloc = ['servicerendu'] %}
        {% for objet_bloc,database in databases %}
            {% include('inclure/table_bloc.html.twig') with{'objet_bloc':objet_bloc,'datatable':database,'redirect':url_courante() } only %}
        {% endfor %}
     </div>


{% endblock %}


