{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block breadcrumb %}{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <h1>Synthese des paiements</h1>

            <div class="box box-secondary">
                {% for annee,tab1 in tab %}
                <div class="box-header">
                    <h2>annee {{ tab_annee[annee] }}</h2>
                    <p class="lead">Total : <span class="text-primary">{{ tab1.cumul }} €</span></p>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Répartion par prestation</h4>
                            <table class="table">
                                {% for pt,tab3 in tab1.prestation %}
                                    <tr>
                                        <td colspan="2"><strong>{{ tab('prestation_type.'~pt~'.nom') }}</strong></td>
                                    </tr>
                                    {% for id_prestation,tab4 in tab3 %}
                                        <tr>
                                            <td>
                                                {{ tab_prestation[id_prestation]['nom'] }}
                                            </td>
                                            <td>
                                                <div class="depliable">
                                                    {{ tab4.cumul }} €
                                                    {% if tab4.cumul > 0 and tab4|length > 2 %}
                                                        <a class="gachette">voir détails</a>
                                                        <div class="depliant">
                                                            <table class="table">
                                                                {% for periode,montant in tab4 %}
                                                                    {% if periode != 'cumul' %}
                                                                        <tr>
                                                                            <td>
                                                                                {{ tab_periode[periode] }} </td>
                                                                            <td> {{ montant }} €
                                                                            </td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </table>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </table>
                        </div>
                        {% if tab1.tresor is defined %}
                            <div class="col-md-6">
                                <h4>Répartion par moyen de paiement</h4>
                                <table class="table">
                                    {% for d,montant in tab1.tresor %}
                                        <tr>
                                            <td>{{ tab_tresor[d] }} </td>
                                            <td>{{ montant }} €</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                        <div class="row">
                            {% for mois,tab2 in tab1.mensuel %}
                                {% if mois != 'cumul' %}
                                    <div class="col-md-4 col-lg-3 col-xl-3">
                                        <h3>mois {{ mois }}</h3>
                                        <p class="lead">Total : <span>{{ tab2.cumul }} €</span></p>
                                        {% if tab2.tresor is defined %}
                                            <table class="table">
                                                {% for d,montant in tab2.tresor %}
                                                    <tr>
                                                        <td>{{ tab_tresor[d] }} </td>
                                                        <td>{{ montant }} €</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% endif %}



                                        {% for pt,tab3 in tab2.prestation %}
                                            <strong>{{ tab('prestation_type.'~pt~'.nom') }}</strong>
                                            <table class="table">
                                                {% for id_prestation,tab4 in tab3 %}
                                                    <tr>
                                                        <td>
                                                            {{ tab_prestation[id_prestation]['nom'] }}
                                                        </td>
                                                        <td>
                                                            <div class="depliable">{{ tab4.cumul }} €

                                                                {% if tab4.cumul>0 %}
                                                                    <a class="gachette">voir détails</a>
                                                                    <div class="prescisions depliant">
                                                                        {% if tab4.tresor is defined %}
                                                                            <h5>Moyen de paiements</h5>
                                                                            <table class="table">
                                                                                {% for d,montant in tab4.tresor %}
                                                                                    <tr>
                                                                                        <td>{{ tab_tresor[d] }} </td>
                                                                                        <td>{{ montant }} €</td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            </table>
                                                                        {% endif %}

                                                                        <h5>Périodes</h5>
                                                                        <table class="table">
                                                                            {% for periode,montant in tab4 %}
                                                                                {% if periode != 'cumul' and periode !='tresor' %}
                                                                                    <tr>
                                                                                        <td>
                                                                                            {{ tab_periode[periode] }} </td>
                                                                                        <td> {{ montant }} €
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </table>
                                                                    </div>
                                                                {% endif %}

                                                            </div>

                                                        </td>
                                                    </tr>

                                                {% endfor %}
                                            </table>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
