@import "functions";
@import "variables";
@import "mixins";
@import "variables_perso";

//////////////////////////////

@import "table";


.navbar-brand {
  padding-top: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

body {
  background: transparent url("../images/fond.jpg") no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  min-height: 100%;
}

.wrapper {
  position: relative;
  min-height: calc(100% - 3em);
  height: auto;

}

.content-wrapper {
  position: relative;
}

.info-box{
  .progress{ height: 10px;}
}

.hide {
  display: none !important;
}

#main {
  background-color: transparent;
  margin: 0 15px;

  input.petit {
    width: 150px;
    display: inline-block;
  }
  .help-block {
    display: inline-block;
    margin-left: 1em;
  }

  .panel-heading > .btn-group {
    margin-top: -5px;
  }

}




.option_form {
  margin-top: -4em;
}


form {
  .champs_court{width: 10em;}
}



.divider-vertical {
  height: 40px;
  width: 5px;
  margin: 5px;
  border-left: 1px solid $gray-300;
  text-align: center;
}

.type_var {
  display: inline-block;
  margin-right: 1em;
  color: $red;
  font-size: 0.9em;
}

.btn-app{
  height: auto; padding:10px 5px 5px 5px; border:none;
}

.fa-life-ring{
  color:$red;
}

.color-success {
  color:$success;
}
.color-info {
  color:$info;
}
.color-warning {
  color:$warning;
}
.color-danger {
  color:$danger;
}



.select2-container .select2-selection--single .select2-selection__rendered{
  margin-top:-2px;

}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: $black;
}
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{
  height:28px;
}
.select2-container--bootstrap .select2-selection{
  font-size:$font-size-base;

}
.select2-container--bootstrap .select2-selection--multiple{
  min-height:28px;
}
.select2-container--bootstrap .select2-selection--single{
  height:28px;
}

.ajax-upload-dragdrop {
  width:100%;
  min-height: 80%;
}


.form-check{display: inline-block;}
.checkbox{display: inline-block;}
.help-block{display: inline-block;color:$info;}


.puce{
  display: inline-block;
width: 10px;
height: 10px;
  margin-right:5px;
  border-radius: 1px;
  cursor: pointer;
}
.puce.puce-moins{
  background-color:$primary;
}
.puce.puce-plus{
  background-color:$success;
}
.puce:hover{ background-color:$danger;
}

/////////////////////////////////////////////////////////
// HEADER
/////////////////////////////////////////////////////////

header.main-header {
  .navbar{
    background-color: transparent;
    .navbar-nav{
      >li{
        >a{
          color:$gray-100;// text-transform:uppercase;font-weight: 600;
          margin-top: 4px;
          padding-top: 13px;
          padding-bottom: 13px;
          letter-spacing: 1px;
        }
        >a:hover {  background-color: $vert-trans; }
        >a:focus {  background-color: transparent; }

        }
      >li.dropdown.open {
        > a.dropdown-toggle {
          background-color: $vert-trans;

        }
      }
    }
  }
#notifications_panel{
  position:relative;
  #nb_notification{
    position:absolute;right:5px;top:8px;
  }
  ul.menu{
    width: 100%; height: 200px;
  }
  .notification_simple{
    .message{clear:both;float:left;width:80%;padding:0.25em 0.5em;}
    .action{float:right;width:18%;text-align: right;padding:0.25em;}


  }

}
.user-header{
  background-color: $vert;

}

}

/////////////////////////////////////////////////////////////
// BREADCRUMB
////////////////////////////////////////////////////////////

.main-header{
  max-height: none;
  .navbar {


    #navbar-search-input.form-control{
      background-color: $white-trans20;
      color:$gray-700;

    }
     #navbar-search-input.form-control::-moz-placeholder{ color: $gray; }
     #navbar-search-input.form-control:-ms-input-placeholder{ color: $gray; }
     #navbar-search-input.form-control::-webkit-input-placeholder{ color: $gray; }

  }



}



.content-header{
  padding-top:0;
  padding-bottom:0;
  height:27px;
  overflow: hidden;



#fil_ariane{
    margin-top:4px;
    .breadcrumb {
      font-size: 0.9em;
      background-color: $white-trans;
      border-bottom-left-radius: 0;border-bottom-right-radius: 0;
      padding:4px 8px;
      margin:0;
      a{color:$gray-600;}
    }
  }
}


/////////////////////////////////////////////////////////////
// ASIDE
////////////////////////////////////////////////////////////

#aside {
  padding-left: 0px;
  background-color: transparent;
  .info-box-image { float:left;width:80px;margin:0.5em; }
  .info-box-content { }
  dl.descriptif{
    margin-top:0.5em;
    margin-right: 40px; overflow: hidden;
    dt{float:left;vertical-align: top;clear:none;width:80px;color:gray;font-size:0.9em;padding: 0.15em 0;}
    dd{margin-left:100px;min-height: 1em;}

  }
  .informations {
    background-color: $white;
    padding: 0.5em;
    dd.numero {
      text-align: center;
      font-size: 3em;
    }
    .lien_fiche {
      display: inline-block;
      width: 95%;
      line-height: 1.5;
      margin: 0.25em auto;
    }
  }
  .actions {
    border-top-left-radius: 0;border-top-right-radius: 0;
  }

}

/////////////////////////////////////////////////////////////
// CONTENU
////////////////////////////////////////////////////////////
.a_cheval{

  >.box{border-top:0 none; border-top-left-radius: 0;border-top-right-radius: 0;}
}


#contenu {
  .navbar{ border-top-left-radius:0;border-top-right-radius-radius:0; }
  padding-right: 0;
  margin-bottom: 3em;
  padding-bottom: 1em;
  h2 {
    margin-bottom: 1em;
  }

  .haut_de_table{
  	margin:0.25em 1em;
    #nb_resultat{display: inline-block;padding-right: 2em;}
    #pagination_haute{display: inline-block;padding-right: 2em;}
    .select2{display: inline-block;}

  }


  .table caption + thead tr:first-child td, .table caption + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table thead:first-child tr:first-child td, .table thead:first-child tr:first-child th {
    border-top: 0 none;
  }

}

.histo_operation {
  background-color: $white;
  margin: 0 1em 1em 0;
  padding: 0.5em;

  ul {
    margin: 0 1em;
    padding: 0;
    list-style: none;
    li {
      margin: 0.5em;
      padding: 0;
      .date {
        color: $gray;
      }
    }
  }

}

.histo_instruction {
  background-color: $white;
  margin: 0 1em 1em 0;
  padding: 0.5em;

  ul {
    margin: 0 1em;
    padding: 0;
    list-style: none;
    li {
      margin: 0.5em;
      padding: 0;
      .date {
        color: $gray;
      }
    }
  }

}

.postit {
  background-color: $white;
  margin: 0 1em 1em 0;
  padding: 1em;
  p.bg-warning {
    padding: 1em;
  }
  a {
    color: $gray;
  }

}

.message_gestionnaire {
  padding: 1em;
  margin: 0 1em 1em 0;
}

.liste_prescriptions {

  ul li {
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
  }

}

.select2-dropdown {
  z-index: 90000000000001;
}


.groupe_mot {

  li {
    border-radius: $border-radius;
    padding: 0 0.25em;
    margin: 0.25em;
    cursor: pointer;
  }
  li:hover{
    background-color: $warning;
    text-decoration: none;
  }

  li.selected {
    background-color: $success;
    color: $white;

  }
  li.selected:hover{
    text-decoration: none;
  }

  }


.tab-content{padding-top:2em}


/////////////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////////////

footer.main-footer { background-color: transparent; border-top:0 none;  width: 100%; padding:0.5em 1em; color:$gray-700;}


/////////////////////////////////////////////////////////
// top link
/////////////////////////////////////////////////////////

#top-link-block.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  bottom: -122px; /* negative of the offset - height of link element */
  left: 10px; /* padding from the left side of the window */
}

#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 58px; /* height of link element */
  left: 10px; /* padding from the left side of the window */
}

//////////////////////////////////////////////////////////////////////////
//////////////////// typeahead /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

.twitter-typeahead{
  width: 100%;
  .tt-query, .tt-hint {
    margin-bottom: 0;
  }

}
.form-inline{
  .twitter-typeahead{
    width: auto;
  }
}



.tt-menu {
  min-width: 250px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 100%;

  .empty-message {padding: 5px;}

}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion:hover {
  color: #fff;
  cursor: pointer;
  background-color: $primary;

}

.tt-suggestion:hover a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-cursor {
  background-color: $primary;
  color: $white;
}

.editor {
  overflow: scroll;
  max-height: 300px;
  min-height: 200px;
}

.formulaire .en_haut_a_droite {
float:right;margin-right:1.5em;

}



.modal{
  .panel-body{
    form{position:relative;}
  }
  .modal-body .tortue_lievre {float:right;

    margin-left: 0.5em;
  }

}



form {




  .form-group {

    input.small6 {
      width: 6em;
    }

  }

  .input-group-btn > .btn-majuscule_magique{
    font-size: 12px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }


}

#choix_selection {

  .selection {
    border-bottom: $gray-300 1px solid;
    padding: 0.5em 0;
    cursor: pointer;
    .nom {
      font-size: 1.3em;
    }
    .description {
      color: $gray-800;
    }
  }
  .selection:hover {
    background-color: $gray-100;
  }

}






//////////////////////////////////////////////////////////////////////////
///   Logo
/////////////////////////////////////////////////////////////////////////
.box-logo {
  position: relative;

  .btn-group {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    transition: 0.5s;
    opacity: 0.25;
    filter: alpha(opacity=25);
  }

}

.box-logo:hover {
  .btn-group {

    opacity: 1;
    filter: alpha(opacity=100);
  }

}


form.form_logo {
  .control-label {
    display: none;
  }

  .form-group > div {
    width: 100%;
  }
}




//////////////////////////////////////////////////////////////////////////
///   CARTE
/////////////////////////////////////////////////////////////////////////

.carte_adherent .badge { color: white;}

.label-carte { }
.label-carte0 { background-color:$secondary }
.label-carte1 { background-color: $red;}
.label-carte2 { background-color: $yellow;}
.label-carte3 { background-color: $orange;}
.label-carte4 { background-color: $vert;}

.carte{height:400px;}

//////////////////////////////////////////////////////////////////////////
///   LOG
/////////////////////////////////////////////////////////////////////////




.tootip{z-index: 3003}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: $white;
}




.bloc_id{margin:3em 0 ;}


.depliable{
  .gachette{font-weight: bold;
    i{ color:$yellow; }
  }
  .gachette:hover{background-color:$gray-100;border-radius: $border-radius;cursor: pointer;}
  .depliant{display:none;padding:1em;margin: 1em 0;
    border: 1px solid $gray-100;border-radius: $border-radius;}

}
.depliable.deplie{
  .depliant{display:block;}

}

.voir_plus{
  position:relative;
  overflow:hidden;
  margin-bottom: 0;
  .voile_degrade{
    position:absolute;
    height: 60px;
    width: 100%;
    bottom:0;
    background: linear-gradient(177deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    margin:0;

  }
}



.navbar-nav > li > a{
padding-top:1em;
padding-bottom:1em;
}




.champs_quantite{
  label{ display:inline-block;padding-right:0.5em; }
  input.form-control{ display:inline-block;width: 75%; }
}







/// Panel
.panel{
  position: relative;
  border : 3px double $gray-300;
  border-radius: 3px;
  margin-top: 0.5em;
  margin-bottom: 2em;
  .panel-title{
    position: absolute;
    display: inline-block;
    padding:0.25em 1em 0.25em 1em; top:-1em; font-size: 1.1em;font-weight: bold; background-color: white;
  }
  .panel-body{
    padding:1em 1em 0.5em 1em;
  }
}



//////////////////////////////////////////
// TABS
////////////////////////////////////////

.tabs{

   .nav-tabs {
     border-bottom-color: $gray-400 ;
     .nav-item.show .nav-link,  .nav-link.active {

      background-color: transparent;
      border-color: transparent ;
      border-bottom: 4px solid $success;
      font-weight: bold;
  }
   .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color:$gray-800;
     transition:0.5s;
  }
   .nav-link:hover {
     border-bottom: 4px solid $gray-400;
     transition:0.1s;
  }
   }
  .tab-content{
    padding-top: 0.5em;
  }
}


.cell_procuration {
  .badge-success{ margin: 1em 0;}

  .bt_vote.voted{
    .btn{
      display:none;
    }
  }
  .liste_procuration{
    clear:right;margin-top:0.5em; color:$gray-600;
    .titre{
      border-bottom: 1px $gray-500 solid;margin-bottom: 0.5em;
    }
  }
  .bt_vote.voted:hover{
    .btn{
      display:inline-block;
    }
  }


}

