@import "functions";
@import "variables";
@import "variables_perso";
.plage_choix_tri_colonne{

  width: 400px;
  font-size:0.9em;
  max-width: 100%;
  height: 300px;
  background-color: $gray-100;
  position: relative;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  div{
    overflow-y: auto;

  }
  ul {
    padding: 0.25em;
    list-style: none;
    min-height: 200px;
    li {
      margin: 0.25em;
      padding: 0.25em 0.5em;
      border: 1px $gray solid;
      border-radius: 0.5em;
    }

    li:hover {

    }
  }

  .colonne_choisi{
    background-color: $gray-100;
    width: 60%;
    ul{

      li{
        border: 1px $gray-300 solid;
      }
      li:hover{

      }
    }
  }

  .colonne_non_choisi{
    width: 40%;
    background-color: $gray-300;
  }

}