@import "functions";
@import "variables";
@import "variables_perso";
/*
 * Page: Login & Register
 * ----------------------
 */

.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  a {
    color: #444;
  }
}

.login-page,
.register-page {
  background: $gray;
}

.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
  @media (max-width: $grid-breakpoints('sm')) {
    width: 90%;
    margin-top: 20px;
  }
}

.login-box-body,
.register-box-body {
  background: $white-trans20;
  border-radius: $border-radius;
  padding: 10px 20px;
  border-top: 0;
  color: #666;
  .form-control-feedback {
    color: #777;
  }

  .checkbox_remember {
    input[type="checkbox"]{ vertical-align: bottom; }
    label{font-weight : normal;}
     }
}

.mdpp{
  padding: 10px;
  background: $white-trans20;
  text-align: center;
  a{ color:$gray;}
  a:visited{ color:$gray;}
  a:hover{ color:$gray-700;}

}


.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.social-auth-links {
  margin: 10px 0;
}
