@import "functions";
@import "variables";
@import "variables_perso";

.periode_slider div.swiper-slide{  padding: 0.25em; text-align: center;}

.periode_slider div.swiper-slide.on{ background-color: $success; color:white;}
.btn_date{ border: 1px solid transparent;border-radius: 3px;padding:0 2px;color:#AAA;}
.btn_date.active{ background-color:$primary;color:#FFF;}