


.menu_filtres{

  position:relative;


  .navbar-nav > li .form-group label{
    padding-top:0.25em;
    margin:0;
  }

  ul.menu {
    display:inline-block;
    margin: 0 1em;
    font-size:1.1em;

    > li.list-inline-item {
      padding: 0.5em 1em;
      cursor: pointer;
      border-bottom: 3px solid transparent;
    }
    li.list-inline-item.on {

      border-top: 2px solid $green;

    }
    li.list-inline-item:hover {

      border-bottom: 1px solid $green;
    }

  }




  .panneau {
    display: none;
    padding:2em 1em;
    clear:left;

    margin-bottom:0;
    background-color: $white-trans20;
    .souscat {
      font-size: 1.1em;
      font-weight: bold;
    }
    .btn-validation{margin-top:2em;margin-left:1em;}

    .form-group {
      margin: 0.5em 0;
    }
    .form-check{
      display: inline-block;
    }

    label{
      display: block; font-weight: normal;font-size: 0.9em;
      color: $gray-600; margin:0;}

    ul  {display:block;float:none;}

    ul.list-expanded {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      li{ cursor:pointer;user-select : none;}
      li:hover {
        background-color: $vert_clair;
      }
      li.on {
        background-color: $vert; color:white;
      }
    }

    ul.list-inline {
      li {
        padding: 0.15em 0.75em 0.15em 0.75em;border-radius: $border-radius-sm;
        margin:0.1em 0;
      }
    }

    ul.col {

      list-style: none;
      margin: 1em 0 ;
      padding:  0 ;
      li {
        display:inline-block;
        padding: 0.25em 0.5em ;
      }
    }


  }
}




#filtre_en_cours{
  margin : -0.75em 1em 0;
  min-height:70px;
  vertical-align:top;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select : none;
  #btn_selection{ margin-right:0.5em; }
  .titre{ font-size:0.9em;float:left;margin :0.5em 1em;}
  .titre_ko{ color:$gray;}
  ul{margin : 0;
    li{cursor: pointer;
      padding : 0.5em 1em; margin:0 0.25em 2em;border-top:$vert 1px solid ;
    }
    li:hover{background-color:$vert_clair;
    }
  }
}


//////////////////////////////////////////////////////////////////////////
///   Querybuilder
/////////////////////////////////////////////////////////////////////////

#liste_query{
  li{
    padding:0.5em 1em;
    border-bottom:1px $gray-300 solid;
    font-size:1.3em;
  }
  li:hover{
    background-color: $gray-100;
  }
}


//////////////////////////////////////////////////////////////////////////
///   Sortable
/////////////////////////////////////////////////////////////////////////


ul.sortable{
  li{
    padding:0.5em ;margin:0.25em 0; border-bottom:1px solid $gray-100;
    .bouts{ float:right;font-size:0.9em;margin-top:-0.5em;}
  }


}


//////////////////////////////////////////////////////////////////////////
///   Form
/////////////////////////////////////////////////////////////////////////

.menu_filtres .panneau .form-group{
  label.icheck_ind{
    cursor:pointer;font-size: 1em;
    padding: 0.15em 0.5em;
    border-radius: 3px;
    margin: 0.1em 0 0.1em 1em;


  }
  label.icheck_ind:hover{
    background-color: $vert_gris_clair;

  }

  label.icheck_ind.on {
    background-color: $success;
    color: white;
    input:before{
      content: "\f0c4";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
    }
  }

  label.icheck_ind.off {
    background-color: $danger;
    text-decoration: line-through;
    color: white;
    :before{
      content: "odsjfps";
    }
  }

  label.icheck_ind.on, label.icheck_ind.off{
    color: white;
  }


}