@import "functions";
@import "variables";
@import "variables_perso";

.tree {
  margin: 0;
  padding: 0;
  list-style: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 1em;
    position: relative;

    li:before {
      content: "";
      display: block;
      width: 10px;
      height: 0;
      border-top: 1px solid;
      margin-top: -1px;
      position: absolute;
      top: 1em;
      left: 0
    }

    ul {
      margin-left: .5em
    }

  }
  ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
  }
  li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;

    position: relative
  }
  li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
  }

  li a {
    text-decoration: none;
    color: #369;
  }
  li button, li button:active, li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
  }


  .puce{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right:5px;
    border-radius: 1px;
    cursor: pointer;
  }
  .puce.puce-moins{
    background-color:$primary;
  }
  .puce.puce-plus{
    background-color:$success;
  }
  .puce:hover{ background-color:$danger;
  }


}
.indicator {
  color: #369;
  margin-right: 5px;
}
