@import "functions";
@import "variables";
@import "variables_perso";


.trier_par {


  margin:0 1em;
  .etat{display:none;}
  .trier_par_selection {

    a.on {
      background-color: $primary;
      color: white;
    }

  }
  .tri_clause{
    display: inline-block;padding:0.25em 0.5em;margin:0 0.5em ; border-top:1px $primary solid;
    .delete { display: inline-block;padding: 0 0.5em; }

  }

}