
$blue : #113145;
$whitetrans50:rgba(255,255,255,0.5);
$blacktrans50: rgba(194, 194, 194, 0.3);

$light-blue: #3c8dbc;
//Danger
$red: #dd4b39;
//Success
$green: #00a65a;
$olive: rgba(41, 153, 33, 0.69);
//Info
$aqua: #00c0ef;
//Warning
$yellow: #f39c12;
$blue: #0073b7;
$navy: #001F3F;
$teal: #39CCCC;

$lime: #01FF70;
$orange: #FF851B;
$fuchsia: #F012BE;
$purple: #605ca8;
$maroon: #D81B60;
$black: #111;
$gray: #d2d6de;


$redcool: lighten($red, 35%);

$vert_gris_clair : #e9ecd2;
$vert_clair : #d8e8b0;
$vert :$success;

$vert_fonce :  darken($success, 6.5%);
$vert-trans : rgba(92, 184, 92, 0.50);

$white-trans :  rgba(255,255,255,0.5);
$white-trans20 :  rgba(255,255,255,0.2);
$white-trans80 :  rgba(255,255,255,0.8);
