<div class="grande_carte">
<div class="espaceur">
    <div class="nom">{{ individu_civilite }} {{ individu_nom_famille}} {{ individu_prenom}}</div>
    {% if individu_adresse_cplt is not empty %}
    {{ individu_adresse_cplt }}<br />
    {% endif %}
    {{ individu_adresse }}<br />
    {{ individu_codepostal }} {{ individu_ville }}<br />
    <div class="barcode">{{barcode}}</div>
    <div class="barcode_num">{{individu_id_individu}}</div>
    <div class="small">{{ entite_nom }} - {{ entite_adresse }} {{ entite_codepostal }} {{ entite_ville }} - {{ entite_telephone }}</div>
</div>
</div>
