{% extends 'base.html.twig' %}



{% block content %}


            <div id="aside" class="col-md-4">
                <div id="contenu" class="box">
                    <div class="box-body">
                        <div class=" float-right">
                            {{ bouton('modifier') }}
                            {{ bouton('supprimer') }}
                        </div>
                        <div class="numero">{{ objet_data.primaryKey }}</div>
                        <div class="nom h2">{{ objet_data.nom }}</div>
                        <dl class="dl-horizontal descriptif">
                            <dt>Date</dt>
                            <dd>
                                {% if  objet_data.dateAssemblee %}
                                {{ objet_data.dateAssemblee.format('d/m/Y H:i') }}
                                {% endif %}
                            </dd>

                            {% if objet_data.selectionJson is not empty %}
                                <dt>Selection</dt>
                                <dd>{{ objet_data.selectionJson.nom }}</dd>
                            {% endif %}

                        </dl>
                    </div>
                </div>

                <a href="{{ path(objet_en_cours()~'_index') }}" class="btn btn-secondary"><i class="fa fa-backward"></i> back to list</a>
            </div>

        <div id="contenu" class="col-md-8">
            {%  if  objet_data.figee %}
                {% set objet_bloc = 'assembleeinvite' %}
                {% set datatable = datatable_invites %}
            {% else %}
                {% set objet_bloc = 'membre' %}
                {% set datatable = datatable_invites %}
            {% endif %}

            <div id="contenu-emargement" class="box">
                <div class="box-header">
                    <div class="float-right">
                        {% if not objet_data.clos %}
                            <a class="modal-form btn btn-success" href="{{ path('assembleeinvite_ajouter',{'idAssemblee':objet_data.primaryKey}) }}">Ajouter un participant</a>
                        {% endif %}
                        <a href='{{ path('preference_edit',{'pref':objet_bloc~'|reception|datatable','redirect': url_courante()}) }}' class="btn btn-secondary modal-form"><i class="fa fa-cog"></i></a>
                    </div>
                    <h3><i class="fa fa-file"></i>  Liste d'émargement</h3>

                    <p>

                        {%  if objet_data.figee %}
                            {%  if objet_data.figee %}
                                <span class="badge badge-info">Liste figée</span>
                                <a class="btn btn-warning btn-sm" data-confirm="Êtes-vous certain de revenir à la liste dynamique ? Cette opération supprimera les présences déjà enregistrée" data-href="{{ path('assembleeinvite_ouvrir',{'idAssemblee':objet_data.primaryKey}) }}">Retour à la liste ouverte</a>
                                <a class="btn btn-warning btn-sm" data-confirm="Êtes-vous certain de vouloir clore la liste ?" data-href="{{ path('assembleeinvite_clore',{'idAssemblee':objet_data.primaryKey}) }}">Clore la liste</a>
                            {% else %}
                                <span class="badge badge-info">Liste close</span>
                            {% endif %}
                        {% else %}
                            <span class="badge badge-info">Liste ouverte</span>
                            <a class="btn btn-warning btn-sm" data-confirm="Êtes-vous certain de vouloir figer la liste ?" data-href="{{ path('assembleeinvite_figer',{'idAssemblee':objet_data.primaryKey}) }}">Figer la liste</a>

                        {% endif %}

                    </p>
                </div>

                <div class="box-body">

                    <div id="super_tableau_{{ objet_bloc }}">

                        <div id="filtres"  class="filtres  menu_filtres">
                            <nav class="navbar navbar-expand-lg">
                            {% include('inclure/barre_filtre.html.twig') with{'objet':objet_bloc,'tab_filtres':datatable.filtres} only %}
                            </nav>
                            <div class="clearfix"></div>
                            {% include('inclure/barre_filtre_panneau.html.twig') with{'objet':objet_bloc,'tab_filtres':datatable.filtres} only %}
                        </div>

                        <div class="haut_de_table">
                            {% include('inclure/trier_par.html.twig') with{'tab_tri':datatable.tab_tri} only %}
                            {% include('inclure/nb_resultat.html.twig') with{'objet_bloc':objet_bloc}  only %}
                        </div>
                        {% include('inclure/table_col.html.twig') with{'tab_col':datatable.colonnes,class : 'ajaxdatatable'} only %}

                    {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
                    </div>
                    <p>
                        <a href="{{ path('assemblee_liste_emargement',{'idAssemblee':objet_data.primaryKey}) }}" class="modal-form btn btn-secondary">
                            <i class="fa fa-file-pdf"></i> Générer la feuille d'émargement au format PDF
                        </a>
                        <a href="{{ path('assemblee_liste_emargement_tableur_pref',{'idAssemblee':objet_data.primaryKey}) }}" class="modal-form btn btn-secondary">
                            <i class="fa fa-table"></i> Exporter la feuille d'émargement en tableur

                        </a>
                    </p>






            </div>
            </div>

            <div id="contenu-courrier" class="box">
                <div class="box-header">
                    <div class="box-title">
                        <i class="fa fa-envelope"></i> Courrier d'invitation
                    </div>
                </div>
                <div class="box-body">
                    {% if objet_data.courrier %}
                        <a href="{{ path('courrier_show',{'idCourrier':objet_data.courrier.primaryKey}) }}" >Voir le courrier : "{{ objet_data.courrier.nom }}"</a>
                    {% else %}
                        <a href="{{ path('courrier_new',{'idAssemblee':objet_data.primaryKey}) }}" class="modal-form btn btn-success">Ecrire un courrier d'invitation</a>
                    {% endif %}
                </div>
            </div>


            <div id="contenu-courrier" class="box">
                <div class="box-header">
                    <div class="box-title">
                        <i class="ico ico-vote"></i> Votation
                    </div>
                </div>
                <div class="box-body">
                    {% if objet_data.votation %}
                        <a href="{{ path('votation_show',{'idVotation':objet_data.votation.primaryKey}) }}" >Voir la votation: "{{ objet_data.votation.nom }}"</a>
                    {% else %}
                        <a href="{{ path('votation_new',{'idAssemblee':objet_data.primaryKey}) }}" class="modal-form btn btn-success">Ajouter une votation</a>
                    {% endif %}
                </div>
            </div>


        </div>





{% endblock %}