#super_tableau_membre{
  tr.presence_non {
    #lien_absence { display:none; }
    #lien_print_vote { display:none; }
  }
  tr.presence_oui {
    #lien_presence { display:none; }
  }
  tr.vote_non {
    #lien_print_vote { display:none; }
  }
}