@import "functions";
@import "../variables";
@import "../variables_perso";


.fiche_individu,.fiche_membre {

  .btn-group-vertical {
    margin-left:0.5em

  }


  .box-title {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  div.el {
    padding: 0.3em 0 0.5em 0;
    border-left: 3px white solid;

    .titre {
      float: left;
      margin-right: 1em;
    }


    .btn-sm {
      line-height: 1.3;
      font-size: 0.9em;
      padding: 0.1em 0.25em;
    }


  }


  //////////////////////////////////////////////////////////////////////////
  ///   NPAI
  /////////////////////////////////////////////////////////////////////////

  div.el.npai {

    border-left: 3px white solid;

    a.btn {
      opacity: 0;
      margin-top: -2px;
    }

    a.btn-warning {
      transition: 0.5s;
      opacity: 1;
    }
  }

  div.el.npai:hover {

    border-left: 3px $gray-300 solid;
    background-color: $gray-100;

    a.btn {
      opacity: 1;
    }

  }


  div.npai.disable {
    background: repeating-linear-gradient(
                    45deg,
                    $gray-100,
                    $gray-100 7px,
                    white 7px,
                    white 14px
    );
  }

  div.npai:hover {

    border-left: 3px $gray-300 solid;
    background-color: $gray-100;

    a.btn {
      opacity: 1;
    }

  }

  //////////////////////////////////////////////////////////////////////////
  ///   infolettre
  /////////////////////////////////////////////////////////////////////////

  div.el.infolettre {


    a.btn {
      opacity: 0;
      margin-top: -2px;
    }


  }
  div.el.infolettre:hover {
    border-left: 3px $gray-300 solid;
    background-color: $gray-100;
    a.btn {
      opacity: 1;
    }
  }


  //////////////////////////////////////////////////////////////////////////
  ///   tag
  /////////////////////////////////////////////////////////////////////////

  div.el.mot {

    border-left: 3px white solid;

    a.btn {
      opacity: 0;
      margin-top: -2px;
    }

    a.btn-warning {
      transition: 0.5s;
      opacity: 1;
    }
  }

  div.el.mot:hover {

    border-left: 3px $gray-300 solid;
    background-color: $gray-100;

    a.btn {
      opacity: 1;
    }

  }


  //////////////////////////////////////////////////////////////////////////
  ///   RGPD
  /////////////////////////////////////////////////////////////////////////
  .box-rgpd {
    .pretty {
      padding: 0.75em 0;
    }
  }

  div.rgpd {

    .titre {
      float: left;
      font-weight: bold;
      font-size: 0.85em;
      color: $gray-900;
      margin-right: 1em;
    }

    ul {
      padding: 0 0.5em;

      li {
        padding: 0;

        a.switch {
          cursor: pointer;
          font-size: 0.9em;
        }
      }
    }
  }
}
