#voteproposition{
  .titre{ font-size:1.2em; font-weight: bold;margin:0.25em;}
  .groupe{
    margin-left:3em;
    .texte{ padding:0.5em 0;}

  }
  .props{
    .titre{ font-size:1.1em; font-weight: bold;}
  }
  .choix{ margin-left:1em;font-size: 0.9em; display: inline-block;
    ul{
      display: inline-block;
    }
  }
}