{% extends 'base.html.twig' %}



{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div id="aside">
                <div id="contenu" class="box">
                    <div class="box-body">
                        <div class=" float-right">
                            {{ bouton('modifier') }}
                            {{ bouton('supprimer') }}
                        </div>
                        <div class="numero">{{ objet_data.primaryKey }}</div>
                        <div class="nom h2">{{ objet_data.nom }}</div>

                    </div>
                </div>
                <div id="contenu" class="box">
                    <div class="box-body">

                    </div>
                </div>
                <a href="{{ path(objet_en_cours()~'_index') }}" class="btn btn-secondary"><i class="fa fa-backward"></i> back to list</a>
            </div>
        </div>

    </div>





{% endblock %}