<div class="table-actions">
    {% set objet_en_cours = _self|trouverObjet %}
    {% if tab_enfant is not defined %}
        {% set tab_enfant = false %}
    {% else %}
        {%  set objet_en_cours = tab_enfant %}{% endif %}

    <div class="box box-secondary">
        <div class="box-header">
            {% set nom_liste =objet~'_liste' %}
            <h3 class="box-title">  {{ nom_liste|trans }}</h3>
            <div class="float-right">
                {{ bouton('ajouter',{'bouton_id':'ajouter_'~objet,
                    'nom': objet~'_ajouter',
                    'bt_texte':true,
                    'objet':objet,
                    'cle': descr(objet~'.cle'),
                    'id': id } )
                }}
                <a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-secondary"><i class="fa fa-life-ring" aria-hidden="true"></i></a>
            </div>
        </div>


        <div class="box-body">


            {% set tri =['nom','asc'] %}
            {#{% set tab_col = donneTabCol('paiement')|exclure_cles(tab_col_exclure) %}#}
            {% include('inclure/table_sta.html.twig') with{'objet_bloc':objet,'charger_data':true,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{}} only %}


        </div>

    </div>
</div>

{#{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}#}
{#<table class="table table-striped">#}
    {#<thead>#}
    {#<tr>#}
        {#&#123;&#35;            <th>{{ 'id'|trans }}</th>&#35;&#125;#}
        {#<th>{{ 'nomcourt'|trans }}</th>#}
        {#<th>{{ 'nom'|trans }}</th>#}
        {#<th>{{ 'compte'|trans }}</th>#}
        {#<th>{{ 'actif'|trans }}</th>#}
        {#<th>{{ 'mouvement'|trans }}</th>#}
        {#<th>{{ 'observation'|trans }}</th>#}
        {#{% if entite_multi %}#}
            {#<th>{{ 'Entite'|trans }}</th>#}
        {#{% endif %}#}
        {#<th></th>#}

    {#</tr>#}
    {#</thead>#}
     {#{% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}#}
        {#<tr>#}

            {#&#123;&#35;<td>{{ journal.idJournal }}</td>&#35;&#125;#}
            {#<td>{{ objet_data.Nomcourt }}</td>#}
            {#<td>{{ objet_data.Nom }}</td>#}
            {#<td>{{ objet_data.idCompte|getNomIntitule }}</td>#}
            {#<td>{{ objet_data.actif|ouinon }} </td>#}
            {#<td>{{ objet_data.mouvement }}</td>#}
            {#<td>{{ objet_data.observation }}</td>#}
            {#{% if entite_multi %}#}
                {#<td>{{ objet_data.idEntite }}</td>#}
            {#{% endif %}#}
            {#<td class="text-right">#}
                {#<div class="btn-group" role="group" aria-label="...">#}

                    {#{{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}

                    {#{{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}

                    {#{{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}#}
                {#</div>#}
            {#</td>#}
         {#</tr>#}
    {#{% endfor %}#}

{#</table>#}



{#<div class="table-actions">#}
	{#<a href="{{ path('journal_form',{'id_entite':id_entite}) }}" class="btn btn-success" role="button">{{  'journal_ajout'|trans }}</a>#}
{#</div>#}
