{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}

    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        {#<div class="box box-secondary logo">#}
        {#<div class="box-header">#}
        {#<h5> {{ 'Logo'|trans }} </h5>#}
        {#</div>#}
        {#<div class="box-body">#}
        {#&#123;&#35;{{ image_mini('entite',objet_data.IdEntite)|raw }}&#35;&#125;#}
        {#&#123;&#35;<span class="info-box-icon bg-green"><i class="ico ico-journal"></i></span>&#35;&#125;#}

        {#</div>#}
        {#</div>#}

        <div class="info-box">

            <div class="info-box-content">
                <div class="float-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier') }}
                        {{ bouton('supprimer') }}
                    </div>
                </div>
            </div>
            <div class="btn-group-horizontal">
                <dl class="dl-horizontal">
                <span class="info-box-text">
                <dt>{{ 'journal'|trans }} :</dt>   <dd>{{ objet_data.primaryKey }} - {{ objet_data.Nom }}
                    <dt>{{ 'nomcourt'|trans }} :</dt>   <dd>{{ objet_data.Nomcourt }}</dd>
                    <dt>{{ 'actif'|trans }} :</dt> <dd>{{ objet_data.actif|ouinon }}</dd>
                    <dt>{{ 'mouvement'|trans }} :</dt>   <dd>{{ objet_data.mouvement }}</dd>
                    <dt>{{ 'idexterne'|trans }} :</dt>   <dd>{{ objet_data.idExterne }}</dd>
                    <dt>{{ 'iban'|trans }} :</dt>   <dd>{{ objet_data.iban }}</dd>
                    <dt>{{ 'bic'|trans }} :</dt>   <dd>{{ objet_data.Bic }}</dd>
                    <dt>{{ 'compte'|trans }} :</dt>
                    <dd>{{ objet_data.compte.idcompte }} - {{ objet_data.compte.ncompte }} - {{ objet_data.compte.nom }}</dd>
                    <dt>{{ 'entite'|trans }} :</dt>
                    <dd>{{ objet_data.entite.idEntite }} - {{ objet_data.entite.nom }}</dd>
                 </dl>
            </div>
        </div>
        {% if objet_data.observation is not empty %}

            <div class="box box-secondary informations">
                <div class="box-header">
                    <h3> {{ 'informations'|trans }}</h3>
                </div>
                <dl class="dl-horizontal">
                    <div class="remarque">
                        <strong>{{ 'observation'|trans }}</strong> :
                        {{ objet_data.observation|raw }}
                    </div>
                </dl>
            </div>
        {% endif %}

            {#{% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}#}
          <div class="box-secondary retour">
             <div class="back">
                <a href='{{ path('piece_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }} des {{ 'pieces'|trans }}</a>
                <a href='{{ path('compte_index') }}' class="btn btn-secondary"> des {{ 'comptes'|trans }}</a>
                <a href='{{ path('journal_index') }}' class="btn btn-secondary"> des {{ 'journals'|trans }}</a>
                <a href='{{ path('activite_index') }}' class="btn btn-secondary"> des {{ 'activites'|trans }}</a>
            </div>
        </div>

        </div>
    </div>


    <!-- Colonne principal-->
    <div id="contenu" class="col-md-8">
  			<div class="box box-secondary">
            <div class="box-header">
                <h4>Liste des ecritures du  {{ 'journal'|trans }} : {{ objet_data.Nom }}</h4>
                <div class="float-right">
                    {{ bouton('ajouter',{'objet':'piece','id':'','args':{'id_compte':objet_data.primaryKey},'redirect':url_courante(),'bt_texte':true,'class_cplt':'modal-large'}) }}
                </div>
            </div>
            <div class="box-body">
                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'ecriture','datatable':ecriture_table,'redirect':url_courante() } only %}
            </div>
        </div>
    </div>

{% endblock %}
