{% extends 'sys/inspecteur.html.twig' %}


{% block tableau %}
    <ul class="list-inline">
        {% for id_liste,tab_inscrit in tab_infolettre %}
            <li class="list-inline-item">
                <a href="{{ path('inspecteur_infolettre_spip',{'id_liste':id_liste}) }}">{{ tab('infolettre.'~id_liste~'.nom') }}</a>
            </li>
        {% endfor %}
    </ul>



    {% if tab is defined %}
        {% for id_liste,liste in tab %}
            <h2>{{ id_liste }} - {{ tab('infolettre.'~id_liste~'.nom') }}</h2>
            {% if liste.message is defined %}
                {{ liste.message }}
            {% endif %}
            {% if liste.nb_ok is defined %}
                <p>Email inscrit sur cette liste ovh : {{ liste.nb_ok }}</p>
            {% endif %}
            {% if liste.nb_ko is defined %}
                <p>
                    Email qui devrait être mais qui ne le sont pas : {{ liste.nb_ko }}
                    {% if liste.nb_ko is defined %}
                        <a href="{{ path('infolettre_edit',{action:'egalise_simplasso_vers_spip','id_infolettre':liste.id_infolettre}) }}">Corriger
                            les erreurs</a>

                    {% endif %}
                </p>
            {% endif %}
            <table class="table table-striped ">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Individu</th>
                    <th>Dans la liste SPIP</th>
                    <th>Dans la liste simplasso</th>
                    <th>action</th>
                </tr>


                </thead>
<tbody>


                {% for email,d in liste %}
                    <tr>
                        <td>{{ email }}</td>
                        <td>
                            {% if d['id_individu'] is defined and d['id_individu']>0 %}
                                <a href="{{ path('individu_show',{'idIndividu': d['id_individu']}) }}">{{ d['nom'] }} - {{ d['id_individu']  }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if d['spip'] %} X {% endif %}
                        </td>
                        <td>
                            {% if d['simplasso'] %} X {% endif %}
                        </td>
                        <td>
                            {% if (d['simplasso'] != d['spip']) %}
                                {% if d['spip'] %}
                                    <a href="{{ path('infolettre_rectification',{'idInfolettre':id_liste,'base':'distant','action':'delete','email':email}) }}">Désinscrire de spip</a> -
                                    <a href="{{ path('infolettre_rectification',{'idInfolettre':id_liste,'base':'simplasso','action':'add','email':email}) }}">Inscrire de simplasso</a>
                                {% else %}
                                    <a href="{{ path('infolettre_rectification',{'idInfolettre':id_liste,'base':'distant','action':'add','email':email}) }}">Inscrire de spip</a> -
                                    <a href="{{ path('infolettre_rectification',{'idInfolettre':id_liste,'base':'simplasso','action':'delete','email':email}) }}">Désinscrire de simplasso</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
</tbody>
            </table>

        {% endfor %}
    {% endif %}


    <a href="{{ path('infolettre_synchro') }}" class="btn btn-primary">Synchroniser les liste des inscrits SPIP - Simplasso</a>

{% endblock %}
