{% extends 'objet/index.html.twig' %}
{% block menu_page_droite %}

{% endblock %}

{% block index_navbar %}
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a href="{{ path('transaction_reception') }}" class="nav-link"><i class="fa fa-inbox"></i> Réception</a>
        </li>
        {% if not conf('transaction.validation_automatique') %}
            <li class="nav-item">
                <a href="{{ path('transaction_validation') }}" class="nav-link"><i class="fa fa-check"></i> Validation</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}