{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block title %}Transaction : cheque en attente{% endblock %}

{% block content %}
    <div class='box'>
        <div class='box-header'>
            <h3>Reception des cheques en attente</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">


                    <div class="panel panel-secondary" id="formulaire_ajout_massif">
                        <div class="panel-body">
                            {% block formulaire %}
                                {{ include('inclure/form.html.twig', {'button_label': 'Create'}) }}
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="haut_de_table">
                        <a href='{{ path('preference_edit',{'pref':objet_bloc~'|reception|datatable','redirect': url_courante()}) }}'
                           class="btn btn-secondary modal-form float-right"><i class="fa fa-cog"></i></a>
                        {% include('inclure/trier_par.html.twig') with{'tab_tri':datatable.tab_tri} only %}
                        {% include('inclure/nb_resultat.html.twig') with{'objet_bloc':objet_bloc}  only %}
                    </div>
                    {% include('inclure/table_dyn.html.twig') with{'objet_bloc': objet_bloc,'datatable':datatable,'options_js':options_js} only %}
                    <script type="application/javascript">
                        function retour_ajout(data) {

                            if (data.ok) {
                                args = data.data;
                                args['url_adherent'] = '{{ path('membrind_show',{'idIndividu':'++id++'})|raw }}';
                                args['url_adherent'] = args['url_adherent'].replace("++id++", data.data.membre.id);
                                args['url_supprimer'] = '{{ path('cotisation_en_masse',{'action':'supprimer'}) }}&id=' + data.data.tab_servicerendu[0];

                                args.reglement.tresor = getTresor(args.reglement.id_tresor)['nom'];
                                $('#resultat table tbody').append(Mustache.render(window['templates']['cotisation_en_masse_ligne.html'](), data.data));
                                nouvelle_ligne = $('#ligne' + data.data.tab_servicerendu[0]);
                                $('.bt_sup', nouvelle_ligne).click(function () {

                                    $.getJSON($(this).attr('data-href'), function (data) {

                                        if (data.ok) {
                                            $('#ligne' + data.id).remove();
                                        }
                                    });
                                    return false;
                                });


                                toastr.success(data.message, '', {
                                    timeOut: 3000,
                                    progressBar: true,
                                    positionClass: 'toast-bottom-left',
                                    newestOnTop: true
                                });
                                $('#formulaire_ajout_massif form').html(data.html);

                            } else {

                                $('#formulaire_ajout_massif form').html(data.html);
                                toastr.error(data.message, '', {
                                    timeOut: 3000,
                                    progressBar: true,
                                    positionClass: 'toast-bottom-left',
                                    newestOnTop: true
                                });


                            }
                            init_form_ajout_massif();
                            $('#cotisation_en_masse_id_membre').focus().select();

                        }

                        $('document').ready(function () {
                            init_form_ajout_massif()
                        });

                        function init_form_ajout_massif() {

                            var options = {
                                dataType: 'json',
                                data: {json: '1'},
                                success: retour_ajout,
                                clearForm: true
                            };
                            formulaire = $('#formulaire_ajout_massif form')
                            $(formulaire).ajaxForm(options);
                            url1 = '{{ path('membrind_index',{'action':'autocomplete','search':{ 'value':'--QUERY--'},'royal':1 })|raw }}';
                            cible = '.autocomplete_membre';
                            initialisation_champs_autocomplete(cible, formulaire, 'id', 'cotisation_en_masse_id_membre', url1, autocomplete_reponse_membind, 'Aucun {{ 'membrind'|trans }} n\'a été trouvé');
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}