{% extends 'objet/show.html.twig' %}

{% block index_navbar %}
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a href="{{ path('transaction_reception') }}" class="nav-link"><i class="fa fa-inbox"></i> Réception</a>
        </li>
        {% if not conf('transaction.validation_automatique') %}
        <li class="nav-item">
            <a href="{{ path('transaction_validation') }}" class="nav-link"><i class="fa fa-check"></i> Validation</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
 <div id="aside" class="col-md-4">
        <div class="box box-secondary">
            <div class="box-header">
                <h2>{{ "transaction"|trans }} : {{ objet_data.idtransaction }}</h2>
            </div>
            <div class="float-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('supprimer',{'id_transaction':objet_data.idtransaction,'tooltip':false}) }}
                </div>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal descriptif">
                    <dt>{{ 'date_enregistrement'|trans }}</dt>
                    <dd>{{ objet_data.dateTransaction|format_datetime('medium', 'none',  locale='fr') }}</dd>
                    {% if suc('multientite') %}
                        <dt>{{ 'entite'|trans }}</dt>
                        <dd>{{ objet_data.entite.nom }}</dd>
                    {% endif %}
                    <dt>{{ 'mode_paiement'|trans }}</dt>
                    <dd>{{ objet_data.modePaiement }}</dd>
                    <dt>{{ 'individu'|trans }}</dt>
                    {% if objet_data.qui is not null %}
                        <dd>{{ objet_data.qui|raw }}</dd>
                    {% endif %}
                    <dt>{{ 'montant'|trans }}</dt>
                    <dd>{{ objet_data.Montant }}</dd>
                    <dt>{{ 'type'|trans }}</dt>
                    <dd>{{ objet_data.type }}</dd>
                    <dt>{{ 'qui'|trans }}</dt>
                    <dd>{{ objet_data.qui|raw }}</dd>
                    <dt>{{ 'servicerendu'|trans }}</dt>
                    <dd>{{ objet_data.details|raw }}</dd>
                    <dt>{{ 'cree_le'|trans }}</dt>
                    <dd>{{ objet_data.createdAt|format_datetime('medium', 'none',  locale='fr') }}</dd>
                    <dt>{{ 'modifie_le'|trans }}</dt>
                    <dd>{{ objet_data.updatedAt|format_datetime('medium', 'none',  locale='fr') }}</dd>
                </dl>

                {% if objet_data.statut=='validation' %}
                    <ul class="list-inline">
                    <li class="list-inline-item"><a href="{{ path('transaction_valider',{'idTransaction':objet_data.primaryKey}) }}" class="btn btn-success"><i class="fa fa-check"></i> Valider  l'inscription</a></li>
                        <li class="list-inline-item"><a href="{{ path('transaction_refuser',{'idTransaction':objet_data.primaryKey}) }}" class="btn btn-danger"><i class="fa fa-ban"></i> Refuser l'inscription</a></li>
                    </ul>
                {% endif %}
                {% if objet_data.statut=='attente' %}
                    <a href="{{ path('transaction_receptionner',{'idTransaction':objet_data.primaryKey}) }}" class="btn btn-success modal-form"><i class="fa fa-inbox"></i> Reception du chèque</a>
                {% endif %}
            </div>
        </div>
    {#{% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}#}
  </div>
    <div id="contenu" class="col-md-8">

     </div>


{% endblock %}


