{% extends 'base.html.twig' %}

{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        <div class="info-box">

                <div class="info-box-image bg-green">
                    <span class="info-box-icon">
                    <i class="fa fa-money-bill-wave"></i>
                        </span>
                </div>
                <div class="info-box-content">
                    <div class="float-right">
                        <div class="btn-group-vertical" role="group" aria-label="...">
                            {{ bouton('modifier', {'id_tresor':objet_data.idTresor,'class_cplt':'modal-form','redirect': url_courante(),'tooltip':false}) }}
                            {{ bouton('supprimer',{'id_tresor':objet_data.idTresor,'tooltip':false}) }}
                        </div>
                    </div>
                <h3>{{  objet_data.nom }}</h3>



                    <dl class="dl-horizontal descriptif">
                        <dt>{{ 'nomcourt'|trans }} :</dt>
                        <dd>{{ objet_data.Nomcourt }}</dd>
                        <dt>{{ 'Code transaction'|trans }} :</dt>
                        <dd>{{ objet_data.nomTransaction }}</dd>
                        {% if  objet_data.compteDebit %}
                        <dt>{{ 'compte_debit'|trans }} :</dt>
                        <dd> {{ objet_data.compteDebit.nom }}</dd>
                        {% endif %}
                        {% if  objet_data.compteCredit %}
                        <dt>{{ 'compte_credit'|trans }} :</dt>
                        <dd>{{ objet_data.compteCredit.nom }} </dd>
                        {% endif %}
                        {% if  objet_data.activiteDebit %}
                        <dt>{{ 'activite_debit'|trans }} :</dt>
                        <dd> {{ objet_data.activiteDebit.nom }}</dd>
                        {% endif %}
                        {% if  objet_data.activiteCredit %}
                        <dt>{{ 'activite_credit'|trans }} :</dt>
                        <dd>{{ objet_data.activiteCredit.nom }} </dd>
                        {% endif %}
                        {% if  objet_data.journal %}
                        <dt>{{ 'Journal'|trans }} </dt><dd>{{ objet_data.journal.nom }} </dd>
                        {% endif %}
                        {% if  suc('entite_multi') %}
                             <dt>{{ 'entite'|trans }} :</dt><dd>{{ objet_data.entite }} {{ objet_data.entite.nom}}</dd>
                        {% endif %}
                        <dt>{{ 'remise_prochaine'|trans }} :</dt>
                        <dd>{{ objet_data.remise }}</dd>
                        {#<dt>{{ 'nombre_par_depot'|trans }} :</dt><dd>{{ objet_data.nombre_par_depot }}</dd>#}
                        <dt>{{ 'actif'|trans }} :</dt>
                        <dd>{{ objet_data.actif }}</dd>
                        <dt>{{ 'nature'|trans }} :</dt>
                        <dd>{{ objet_data.nature }}</dd>
                    </dl>

                {% if objet_data.observation is not empty %}
                    <div class="box box-secondary informations">
                        <div class="box-header">
                            <h4> {{ 'informations'|trans }}</h4>
                            <dl class="dl-horizontal">
                                {% if objet_data.observation %}
                                    <dt>{{ 'observation'|trans }}</dt>
                                    <dd>{{ objet_data.observation }}</dd>
                                {% endif %}
                                {#todo ajouté la ged#}
                            </dl>
                        </div>
                    </div>
                {% endif %}
                <div class="box-secondary retour">
                    <div class="back">
                        <a href='{{ path('piece_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }}
                            des {{ 'pieces'|trans }}</a>
                        <a href='{{ path('compte_index') }}' class="btn btn-secondary"> des {{ 'comptes'|trans }}</a>
                        <a href='{{ path('journal_index') }}' class="btn btn-secondary"> des {{ 'journals'|trans }}</a>
                    </div>

                </div>


                </div>

        </div>
    </div>
    <div id="contenu" class="col-md-8">

        {% for nom,datas in databases %}
            {% include('inclure/table_bloc.html.twig') with{'titre':nom,'objet_bloc':datas.objet,'datatable':datas.datatable,'redirect':url_courante() } only %}
        {% endfor %}


    </div>

{% endblock %}


