{% extends 'objet/index.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block menu_page_droite %}
    <li class="list-inline-item">
        {{ bouton('ajouter',{'bt_texte':true,'page':'membre_liaison_individu' }) }}
    </li>
{% endblock %}

{% block index_navbar %}
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
                <a href="{{ path('statistique',{objet:'membre','selection':'courante'}) }}" class="navbar-btn btn" id="btn_stat"><i class="fa fa-chart-bar" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
                <a href="{{ path('carte',{objet:'membre','selection':'courante'}) }}" class="navbar-btn btn btn-modal modal-large" id="btn_carte"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item dropdown btn-group">

                <a href='{{ path('preference_edit',{'pref':'membre|export','redirect': path('membre_export')}) }}'
                   class="navbar-btn btn btn modal-form">
                    <span class="fa fa-file-download"></span> Exportation
                </a>
                <a href="#" class="nav-btn btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                        <a href='{{ path('preference_edit',{'pref':'membre|export_vcf','redirect':path('membre_vcard')}) }}'
                           class="dropdown-item modal-form">
                            <span class="fa fa-file-download"></span>Vcard simple
                        </a>
                </div>

        </li>
        <li class="nav-item btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-print" aria-hidden="true"> </i> Imprimer
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                    <a href="{{ path('carte_adherent',{'objet':'membre'}) }}" class="btn modal-form dropdown-item">
                        Imprimer les cartes d'adhérents
                    </a>
                    <a href="{{ path('etiquette',{'objet':'membre'}) }}" class="btn modal-form dropdown-item">
                        Imprimer les étiquettes
                    </a>
                    <a href="{{ path('etiquette_imprimer_a4',{'objet':objet_bloc}) }}" class="dropdown-item">
                        Imprimer les étiquettes au format A4
                    </a>

            </div>
        </li>
        {% if autoriser('OBJET_generique_MOD') %}
            <li class="btn-group">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-list" aria-hidden="true"></i> Actions
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="{{ path('membre_sortir_en_masse') }}" class="modal-form dropdown-item">
                        Sortir les adhérents
                    </a>
                </div>
            </li>
        {% endif %}
    </ul>
{% endblock %}





    {% block scripts_footer_cplt %}
        <script>
            $(document).ready(function(){
                initialisation_champs_autocomplete_geo($('#super_tableau_{{ objet_bloc }}'),'toto');
                initialisation_selection();
            })
        </script>
    {% endblock %}

