{% extends 'base'~layout_cplt()~'.html.twig' %}
{% set id= objet_data.idMembre %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}

 {% block menu_page_droite %}
     {% if autoriser('OBJET_generique_MOD') %}
         {% if tab('prestationlot') is not empty %}
             <li class="list-inline-item">
                 {{ bouton('ajouter',{'bt_texte':true,'bouton_id':'lien_sr_servicerendu_ajouter','nom':'Ajout d\'un lot de prestation','objet':'servicerendu','url':path('servicerendu_new',{lot:true,'idMembre':objet_data.IdMembre})}) }}
             </li>
         {% endif %}

             <li class="list-inline-item">
                 {{ bouton('ajouter',{'bt_texte':true,'page':'membre_liaison_individu' ,redirect:sac('url_courante')}) }}
             </li>
             <li class="list-inline-item">
                 {{ bouton('modifier',{'bt_texte':true}) }}
             </li>
    {% endif %}
 {% endblock %}

{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <div class="fiche_membre">

                    <div class="float-right btn-group-vertical" role="group" >
                        {% if autoriser('OBJET_generique_MOD') %}
                        {{ bouton('modifier', {'id_membre':id,'class_cplt':'modal-form'}) }}

                        <button data-toggle="dropdown" class="btn btn-secondary dropdown-toggle" type="button">

                        </button>
                        <div class="dropdown-menu dropdown-menu-right">

                                {{ bouton('supprimer',{'id_membre':id,'nom':'Supprimer le membre','bt_texte':true,'bt_texte_gauche':'true','class':'force-tooltip dropdown-item'}) }}

                            <li class="text-right">
                                {% set titre = 'membre_fusion'|trans~' : '~objet_data.nom~' '~id~'avec'|trans %}
                                {{ bouton('fusion',{'idMembre':id,'title':titre,'bt_texte_gauche':'true','bt_texte':true,'redirect':sac('url_courante'),'class':'force-tooltip dropdown-item'}) }}
                            </li>
                            <li class="text-right">
                                {% if  objet_data_ext.estSorti %}
                                    <span class="badge badge-danger">Sorti le {{ objet_data.dateSortie|date('d/m/Y') }}</span>
                                    {% if autoriser('OBJET_generique_MOD') %}
                                        <a data-href="{{ path('membre_reprendre',{'idMembre':objet_data.idMembre,'redirect':url_courante()}) }}"
                                           data-confirm="{{ 'texte_modal_reprendre'|trans }}"
                                           class="force-tooltip"
                                           title="{{ 'membre_reprendre'|trans }}">
                                            <i class="fa fa-sign-in-alt"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a class="force-tooltip modal-form modal-form dropdown-item" href="{{ path('membre_sortir',{'idMembre':objet_data.idMembre,'redirect':url_courante()}) }}" title="" id="lien_membrind_sortir" data-original-title="Sortir l'adherent de la liste">
                                         Sortir de la liste <i class="fa fa-sign-out-alt"></i>
                                    </a>
                                {% endif %}
                            </li>

                        </div>
                        {% endif %}
                </div>
                <span class="info-box-text">
                    {% set tab_id_mot = objet_data_ext.getIdMots() %}
                    {% set carte_adherent = tab_id_mot|carte_adherent_etat %}
                    {% if conf('carte_adherent.actif') and conf('carte_adherent.objet')=='membre' %}
                        <a class="carte_adherent carte_adherent_mini"
                           data-href="{{ path('carte_adherent_changer_etat',{'id':id }) }}"
                           title="{{ ('carte_adh_'~carte_adherent)|trans }}" data-toggle="tooltip">
                            <span class="badge badge-sm label-carte{{ carte_adherent }}">
                                <i class="fa fa-id-card" aria-hidden="true"></i></span></a>
                            <a href="{{ path('carte_adherent',{'objet':'membre','id_objet':id}) }}" class="btn modal-form btn-sm">
                                <i class="fa fa-print" aria-hidden="true"></i>
                            </a>

                    {% endif %}

                    {{ objet_data.IdMembre }}
                    {% if objet_data.civilite %} - {{ objet_data.civilite }}{% endif %}
                </span>


                <h4 class="box-title">{{ objet_data.nom }}</h4>
                {% if objet_data.estSorti %}
                    <span class="badge badge-danger">Sorti le {{ objet_data.dateSortie|date('d/m/Y') }}</span>
                {% endif %}
                <div>

                        {% if tab('module.adhesion')=='oui' and pref('adhesion.affichage')=='oui' %}
                            <strong> {{ 'etat'|trans }}</strong>
                            {% if objet_data.etatAdhesion %}
                                {{ 'Adherent'|trans }}
                            {% else %}
                                {{ 'Non adherent'|trans }}
                            {% endif %}
                        {% endif %}

                        <div class="el cotisation">
                            <strong> {{ 'cotisation'|trans }}</strong>
                            {% if objet_data_ext.etatCotisation %}<span class="badge badge-success">OK</span>{% else %}<span class="badge badge-danger">Echu</span>{% endif %}
                        </div>
                        <div class="el balance">
                        <strong>{{ 'servicerendu'|trans }}</strong> {{ objet_data_ext.servicerenduMontant|number_format(2, '.', ' ') }}
                        € depuis
                        le {{ conf('solde.amj_servicerendu').format('d/m/Y') }}<br/>
                        <strong>{{ 'paiement'|trans }}</strong> {{ objet_data_ext.paiementMontant|number_format(2, '.', ' ') }}
                        € depuis
                        le {{ conf('solde.amj_paiement').format('d/m/Y') }}<br/>
                        {% if (objet_data_ext.servicerenduMontant - objet_data_ext.paiementMontant>=0.01) %}
                            {{ 'solde'|trans }}: {{ (objet_data_ext.paiementMontant-objet_data_ext.servicerenduMontant)|number_format(2, '.', ' ') }}
                            <br/>
                        {% endif %}
                        {% if ( objet_data_ext.servicerenduMontant - objet_data_ext.paiementMontant >=0.01) %}
                            {{ 'soldenegatif'|trans }} : {{ ((objet_data_ext.servicerenduMontant-objet_data_ext.paiementMontant)|number_format(2, '.', ' ')) }}€
                            <br/>
                        {% endif %}
                        </div>


                </div>

                {% set mot_cle = objet_data_ext.mots %}
                <div class="el mot">
                    {% if autoriser('OBJET_generique_MOD') %}
                    <div class="float-right">
                        {{ bouton('taguer',{
                            'action':'taguer',
                            'id_objet': objet_data.IdMembre ,
                            'objet': 'membre',
                            'class_cplt':'btn-sm',
                            'redirect': sac('url_courante'),
                            'bt_texte':true}) }}
                    </div>
                    {% endif %}
                    <strong> {{ 'mot'|trans }} </strong>:
                    {% if mot_cle is not empty %}
                        {{mot_cle|join(', ') }}
                    {% else %}
                        Aucun
                    {% endif %}
                </div>

                {% if objet_data.observation is not empty %}
                    <div class="remarque">
                        <strong>{{ 'observation'|trans }}</strong> :
                        {{ objet_data.observation|raw }}
                    </div>
                {% endif %}

                </div>
            </div>
        </div>

{#        <div class="box box-secondary informations">#}
{#            <div class="box-header">#}
{#                <h4> {{ 'informations'|trans }}</h4>#}
{#            </div>#}
{#            <dl class="dl-horizontal">#}
{#                {% if objet_data.identifiantInterne %}#}
{#                    <dt>{{ 'identifiant_interne'|trans }}:</dt>#}
{#                    <dd>{{ objet_data.identifiantInterne }}</dd>#}
{#                {% endif %}#}
{#            </dl>#}
{#        </div>#}
        {% include('inclure/historique.html.twig') with {objet_data :objet_data,data_url:path('membre_histo',{'idMembre':objet_data.primaryKey})} only %}

        <div class="back">
            <a href='{{ path('membre_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }}</a>
        </div>

    </div>


    <!-- Colonne principal-->
    <div id="contenu" class="col-md-8">
        <div class="box box-secondary">
            <div class="box-header">
                {% if autoriser('OBJET_generique_MOD') %}
                <div class="btn-group float-right" role="group" aria-label="...">
                    {{ bouton('ajouter',{'bt_texte':true,'page':'membre_liaison_individu','nom':'Ajouter un individu','cle':'id_membre','id':objet_data.IdMembre,redirect:sac('url_courante')}) }}
                    <div class="btn-group " role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item btn" href="{{ path('membre_recopier_adresse',{'idMembre':objet_data.idMembre,'redirect':sac('url_courante')}) }}">Recopier l'adresse du titulaire</a>


                            {% if conf('carte_adherent.actif') and conf('carte_adherent.objet')=='individu' %}
                                <a href="{{ path('carte_adherent',{'objet':'individu','id_objet':objet_data.IdIndividusEnCours}) }}" class="btn modal-form btn-sm">
                                    <i class="fa fa-print" aria-hidden="true"></i> Imprimer les cartes de tous les individus de ce membre
                                </a>
                            {% endif %}

                        </div>
                    </div>

                </div>
                {% endif %}
                <h3 class="box-title">{{ 'individu_liste'|trans }}</h3>
            </div>

            <div class="box-body">
                {% set tab_infolettre=tab('infolettre') %}
                <div class="row">

                    {% for ind in individus %}
                        <div class="col-md-6">
                            <div class="info-box">
                                <div class="info-box-image">
                                    {% include('inclure/logo.html.twig') with { 'objet':'individu', 'ico':'fa fa-user','has_logo' : ind['individu_ext'].hasImage,'objet_data':ind['individu'],'redirect':url_courante() } only %}
                                </div>
                                <div class="info-box-content">
                                    {% include('asso/individu/fiche.html.twig')with{'individu':ind['individu'],'individu_ext':ind['individu_ext'],'membre':objet_data,'tab_infolettre':tab_infolettre} only %}
                                 </div>
                            </div>
                        </div>
                        {% if loop.index % 2 == 0 %}
                            <div class="clearfix"></div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include('inclure/table_bloc_servicerendu.html.twig')with{'objet_bloc':'membre','id':objet_data.IdMembre,'data_sr':servicerendu} only %}

        {% for ob,dat in datatables %}
            {% include('inclure/table_bloc.html.twig') with{'datatable':dat,'objet_bloc':ob} only %}
        {% endfor %}

        <div class="box box-secondary">

            <div class="box-header">



                    {% set objet_liste = 'courrier_liste' %}
                <h3 class="box-title">  {{ objet_liste|trans }} </h3>
            </div>
            <div class="box-body">

                    {% include('inclure/table_sta.html.twig') with{'objet_bloc':'courrier','datatable':courriers} only %}


                {% if conf('courrier_cotisation.actif') and conf('courrier_cotisation.objet')=='membre' %}

                <div class="courrier_accueil">


                        <a class="courrier_accueil courrier_accueil_mini btn btn-success btn-ajax-switch"
                           href="{{ path('courrier_accueil_ajout',{'id':id,'type':'accueil' }) }}">
                            Ajout courrier d'accueil
                        </a>



                    <a class="courrier_accueil courrier_accueil_mini btn btn-success btn-ajax-switch"
                       href="{{ path('courrier_accueil_ajout',{'id':id,'id':id,'type':'renouvelement' }) }}">
                        Ajout courrier de renouvellement
                    </a>


                </div>
                {% endif %}

        </div>
        </div>





        {% include('inclure/liste_document.html.twig') with{'documents':documents} only %}


    </div>
    <script type="application/javascript">
        $('document').ready(function () {
            initialisation_membre();
            {% if declencheur is defined and declencheur is not empty  %}
                $('#lien_sr_{{ declencheur }}_ajouter').trigger('click');
            {% endif %}
        });
    </script>

{% endblock %}
