{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block title %}Sortir adhérent en masse{% endblock %}

{% block content %}
<div class='box'>
<div class='box-header'>
	<h3>Sortir adhérent en masse</h3>
</div>	<div class="box-body">
	
<div class="col-md-3">	

	
    		
                  {% block formulaire %}
                  <div class="panel panel-secondary" id="formulaire_sortir_massif">
    				<div class="panel-body">
                  	<p class="indication">Nombre d'adhérents selectionnés à sortir : {{ nb_initial }}</p>
                  
            	   {{ include('inclure/form.html.twig') }}
            	   	      </div>
        	</div>
            	   
                        	   
        		<script type="application/javascript">
            		function retour_ajout(data){
            
            			
            			 if (data.ok){
                			  {% if layout_cplt() %}
                			        $('#formulaire_sortir_massif form').after(data.html);
                			        $('#formulaire_sortir_massif .indication').slideUp();
                			        $('#formulaire_sortir_massif form').slideUp();
                			     {% else %}
                			        $('#contenu').append(data.html);
                			        $('#formulaire_sortir_massif input').disabled();
            			        {% endif %}
            			    }
            			    else{
            			        toastr.error(data.message,'', {timeOut: 3000,progressBar:true,positionClass:'toast-bottom-left',newestOnTop:true});
            			    	var options = {
            			                dataType:  'json',
            			                data: { json: '1' },
            			             
            			            };
            			            $('#formulaire_sortir_massif form').ajaxForm(options);
            			        
            			    }
            			 
            	
            			
            			}
            
            		$('document').ready(function(){
            		 		
            			var options = {
            	                dataType:  'json',
            	                data: { json: '1' },
            	                success: retour_ajout
            	            };
            	            $('#formulaire_sortir_massif form').ajaxForm(options);
            
            		});
            
            		</script>
                        
            	   
                {% endblock %}
             
    </div>

    	<div class="col-md-9" id='contenu'>	



    	    </div>
</div>
</div>
{% endblock %}