{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        <div class="box box-secondary">
            <div class="box-header">
                <h2>{{ page|trans }}</h2>
            </div>
            <div class="box-body">
                {% if tab.action is defined  %}
                    {% for actio,nb in tab.action %}
                        {% set titre = 'etatgestion_'~actio %}
                        <p> {{ nb }} {{ 'servicerendu'|trans }} {{ titre|trans }}  </p>
                    {% endfor %}
                {% endif %}
                <a class="modal-form btn btn-success" href="{{ path('recette',{'action':'comptabilise'}) }}">{{ 'comptabiliser'|trans }}</a>
            </div>
        </div>
    </div>
    {% block contenu %}
        <!-- Colonne principal-->
        <div id="contenu" class="col-md-8">
            {% for action,entite in tab.data %}
                {% include('assc/recette_action.html.twig') with {'tableau':tab.data[action],'action':action,'nom':tab.nom[action]} only %}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}

