<h3>{% trans %}recette{% endtrans %} : pour la période {{ periode_comptabilise }}</h3>
--{% trans %} piece {% endtrans %} {{ id_piece }}
--{% trans %}etat_precompta : {% endtrans %} {{ etat_precomptadestination }}
--{% trans %}etat_gestion : {% endtrans %} {{ etat_gestiondestination }}

<div>
{% set presta = tab('prestation.'~id_prestation~'.nom') %}
    {{ nb_ligne_total }} {% trans %}servicerendu{% endtrans %}  {% trans %} pour un montant de {% endtrans %} {{ montant_texte }}
  {% trans %}enregistré par{% endtrans %}  {{ id_individu|getNomIndividu }}
</div>
<div>
    {% trans %}entite{% endtrans %} : <strong>{{ id_entite|getNomEntite }}</strong>
</div>
<div>
    {% trans %}comptabilise{% endtrans %} le {{ date_ecriture_enclair }} - -
    {% trans %}journal{% endtrans %} : <strong>{{ id_journal|getNomJournal }}</strong>
    {% trans %}compte{% endtrans %} -> <strong>{{ id_compte_debit|getNomIntitule }}</strong>
</div>

<table>
    <tr>
        <th>{{ 'date comptable'|trans }}</th>
        <th>{{ 'date_enregistrement'|trans }}</th>
        <th>{{ 'nom'|trans }} </th>
        <th>{{ 'prestation'|trans }} </th>
        <th>{{ 'debut'|trans }}</th>
        <th>{{ 'fin'|trans }}</th>
        <th>{{ 'prix_unitaire'|trans }}</th>
        <th>{{ 'quantité'|trans }}</th>
        <th>{{ 'montant_quantite'|trans }}</th>
        {#<th>{{ 'tva'|trans }}</th>#}
        <th>{{ 'identifiant'|trans }}</th>
        <th>{{ 'observation'|trans }}</th>
    </tr>
    {% for d in tab_data %}
    <tr>
        <td>{{ d.date }}</td>
        <td>{{ d.date_enregistrement }}</td>
        <td>{{ d.nom }} </td>
        <td>{{ d.id_prestation|getNomPrestation }}</td>
        <td>{{ d.date_debut }}</td>
        <td>{{ d.date_fin }}</td>
        <td>{{ d.montant }}</td>
        <td>{{ d.quantite }}</td>
        <td>{{ d.montant_quantite }}</td>
        {#<td>{{ d.id_tva|getNomTva }}</td>#}
        <td>{{ d.id_servicerendu }}</td>
        <td>{{ d.observation }}</td>
    </tr>
    {% endfor %}
</table>
<div>{% trans %}Liste établie le{% endtrans %} : <strong>{{ maintenant|format_datetime('medium', 'short',  locale='fr') }}</strong></div>
