{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        <div class="box box-secondary">
            <div class="box-header">
                <h2>{{ page|trans }}</h2>
            </div>
            <div class="box-body">
                {% block formulaire %}
                    <div>
                        {% include('inclure/form.html.twig') %}
                        <hr />
                        <div class="depliable">
                            <div class="gachette">Paramètrage pour enregistrement en compta</div>
                            <div class="depliant">
                                {% include('inclure/form.html.twig') with {'form':form_pref} only  %}
                            </div>
                        </div>

                        <script type="application/javascript">
                            $(document).ready(function(){
                                $('input[name=form_comptabilise\\\[tous_les_entites\\\]]').change(function(){
                                    tous_les_entites= $('input[name=form_comptabilise\\\[tous_les_entites\\\]]:checked').val();

                                    if(tous_les_entites==1){
                                        $('input[name=form_comptabilise\\\[id_entite\\\]').eq(0).parents('.form-group').hide();
                                    }else{
                                        $('input[name=form_comptabilise\\\[id_entite\\\]').eq(0).parents('.form-group').slideDown();
                                    }
                                }).trigger('change');


                                $('input[name=form_comptabilise\\\[tous_les_prestations\\\]]').change(function(){
                                    tous_les_prestations= $('input[name=form_comptabilise\\\[tous_les_prestations\\\]]:checked').val();

                                    if(tous_les_prestations==1){
                                        $('input[name=form_comptabilise\\\[id_prestation\\\]').eq(0).parents('.form-group').hide();
                                    }else{
                                        $('input[name=form_comptabilise\\\[id_prestation\\\]').eq(0).parents('.form-group').slideDown();
                                    }
                                }).trigger('change');

                                initialisation_depliable();
                            });
                        </script>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
