<div class="box box-secondary">
    {% set recet = 'recettes'|trans %}
    {% for id_entite,individus in tableau %}
    {% if suc('entite_multi')  %}
        <h2> {{ tab('entite.'~id_entite~'.nom')  }} </h2>
    {% endif %}
    <div class="box-header">
            {% for individu,pieces in individus %}
            <div class="col-md-12">
            {% set titre = action %}
                <h3>{{ titre|trans }} --  {{ tab('operateur.'~individu) }}  </h3>
                {% for piece,annees in pieces %}
                    <div class="col-md-6">
                            {% for annee, moiss in annees %}
                                {% for mois,recettes in moiss %}
                                    <dt>
                                       {{ recettes.annee }} {{ recettes.mois_M }}
                                               {{ recettes.nb_ligne }} {{ recet }} pour {{ recettes.montant_quantite }} Euros
                                {% if recettes.id_piece > 0 %}

                                      <a href="{{ path('recette',{ 'action':'ged','id_piece':recettes.id_piece}) }}">
                                       <i class="far fa-file-pdf"></i>
                                                                recette n° {{ recettes.id_piece }}--
                                                            </a>
                                           </dt>
                                        {% endif %}
                                   {% endfor %}
                                {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>