{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
 {% block menu_header_suppl %}
<a href="{{ path('zonegroupe_lier',{'idZonegroupe':objet_data.IdZonegroupe}) }}" class="btn btn-success">Relier</a>
 {% endblock %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">

        {#<div id="contenu" >#}
        <div class="box box-secondary">
            <div class="box-header">
                <div class="float-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('modifier', {'class_cplt':'modal-form'}) }}
                        {{ bouton('supprimer') }}
                    </div>
                </div>
                {% set zonegroupe_nom =  tab('zonegroupe.'~objet_data.idZonegroupe) %}
                <dl class="dl-horizontal">
                    <span class="info-box-number">{{ objet_data.IdZonegroupe }}</span>
                    <span class="info-box-text"> {{ objet_data.nom }}</span>

                </dl>
            </div>
        </div>
       {# {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %} #}

        <div class="back">
            <a href='{{ path('zonegroupe_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }}</a>
        </div>



    </div>
    <div id="contenu" class="col-md-8">
        <div class="box box-secondary">
            <div class="box-header"><h4>Emprise spaciale</h4></div>
            <div class="box-body">

                    {% include 'inclure/carte_zonegroupe_geo.html.twig' %}
            </div>
        </div>

        <div class="box box-secondary">
            <div class="box-header">
                <h4>Liste des zones</h4>
                <div class="float-right">
                    {{ bouton('ajouter',{'objet':'zone','id':'','args':{'id_zonegroupe':objet_data.idZonegroupe},'redirect':url_courante(),'bt_texte':true,'class_cplt':'modal-large'}) }}
                </div>
            </div>
            <div class="box-body">
                    {% include('inclure/table_sta.html.twig') with{'objet_bloc':'zone','datatable':zone_table,'redirect':url_courante() } only %}
        
            </div>
        </div>


    </div>

{% endblock %}
