{% set mode_saisie = 'tortue' %}{% if pref(objet_en_cours()~'.form.mode_saisie')==1 %}{% set mode_saisie = 'lievre' %}{% endif %}
<div class="formulaire {{ mode_saisie }}">
    <div class="en_haut_a_droite option_form">
    	{% if pref_exist(objet_en_cours()~'|form') %}
        <a href="{{ path('preference_edit',{'pref':objet_en_cours()~'|form','redirect': ''}) }}"   class="btn btn-sm btn-secondary modal-form">
            <i class="fa fa-cog"></i>
        </a>
        {% endif %}
    </div>
 {{ include('inclure/form.html.twig', {'form':form,'button_label': button_label}) }}
</div>
