{% extends 'base.html.twig' %}
{% block menu_header_suppl %}
    {{ bouton('ajouter',{'objet':'motgroupe','bt_texte':true,'url_redirect':url_courante()}) }}
{% endblock %}
{% block content %}
    <div id="aside" class="col-sm-2">
        <nav id="navbar-spy" class="sticky-top navbar navbar-light bg-light" data-spy="affix" data-offset-top="60"
                 data-offset-bottom="200">
            <nav class="nav nav-pills flex-column">
                    {% for k,nom  in choix %}
                       <a href="#motgroupe{{ k }}" class="nav-link">{{ nom }}</a>
                    {% endfor %}
            </nav>
        </nav>
    </div>
    <!-- Colonne principal-->
    <div id="contenu" data-spy="scroll" class="col-sm-10">
        <div data-spy="scroll" data-target="#navbar-spy" data-offset="0">
        {% for k,nom  in choix %}
            {% set mg = tab('motgroupe.'~k) %}
            <div class="box">
                <div class="box-header">
                    <div class="float-right">
                        <div class="btn-group" role="group" aria-label="...">
                            {{ bouton('modifier', {'objet':'motgroupe','id' :k,'class_cplt':'modal-form'}) }}
                            {{ bouton('supprimer',{'objet':'motgroupe','id':k}) }}
                        </div>
                    </div>

                    <h3 id="motgroupe{{ k }}" class="panel-title">{{ nom }}</h3>
                </div>
                <div class="box-body">

                    {% include('asso/motgroupe/fiche.html.twig') with  { 'mg': mg } only %}

                </div>
            </div>
        {% endfor %}
        </div>
        {% if tab_mots_orphelins is not empty %}
        <div class="box panel-secondary">
            <div class="panel-heading">
                <h3 id="mots_orphelins" class="panel-title">Mots orphelins</h3>
            </div>
            <div class="box-body">
                <ul class="list-inline groupe_mot">
                    {% for id_mot  in tab_mots_orphelins %}
                        {% set mot = tab('mot.'~id_mot) %}
                        <li class="list-inline-item"><a href="{{ path('mot',{'id_mot':id_mot}) }}">{{ mot['nom'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <script type="application/javascript">
            $("document").ready(function () {
                /*Scroll Spy*/
                $('body').scrollspy({target: '#navbar-spy', offset: 80});
            });
        </script>
    </div>
{% endblock %}