{% extends 'base.html.twig' %}



{% block content %}

            <div id="aside" class="col-md-4">
                <div id="contenu" class="box">
                    <div class="box-body">
                        <div class=" float-right">
                            {{ bouton('modifier') }}
                            {{ bouton('supprimer') }}
                        </div>
                        <div class="numero">{{ objet_data.primaryKey }}</div>
                        <div class="nom h2">{{ objet_data.nom }}</div>
                        <dl class="dl-horizontal">

                        </dl>
                    </div>
                </div>


                <a href="{{ path(objet_en_cours()~'_index') }}" class="btn btn-secondary"><i class="fa fa-backward"></i> back to list</a>
            </div>

        <div class="col-md-8">

            <div class="box">

                <div class="box-header">
                    <h3>Les inscrits</h3>
                </div>
                <div class="box-body">
                    {% include('inclure/table_bloc.html.twig') with{'datatable':inscrits,'objet_bloc':'infolettre_inscrit'} only %}
                </div>
            </div>

        </div>






{% endblock %}