{% extends 'base.html.twig' %}

{% block title %}HelloAsso{% endblock %}

{% block content %}

    <div class="box" id="contenu">
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <p>Date derniere consultation: {{ date_derniere_consultation }}</p>
                    <div id="recaptitulatif">
                        <a href="{{ path('helloasso_recuperer') }}"
                           class="btn btn-lg btn-block btn-primary ajax-remplace"
                           title="modifier" data-cible="#recaptitulatif" data-placement="bottom" id="lien_modify">

                            <i class="fa fa-redo fa-3x"></i><br/>
                            Consulter HelloAsso
                        </a>
                    </div>
                </div>
                <div class="col-md-9">

                    <h2>Dernière importation depuis Helloasso</h2>

                {% if tab_derniere_import is defined %}
                    <table class="table">

                        <thead>
                        <tr>
                            <th>Date de l'import</th>
                            <th>Période couverte</th>
                            <th>Nombre de paiements</th>
                            <th>Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for importation in tab_derniere_import %}
                            <tr>
                                <td>{{ importation.createdAt.format('d/m/Y H:i') }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>{% else %}
                        Aucune importation
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
