<p>{{ nb_ligne_paiement }} nouvelles lignes à récuperer.</p>


    <a href="{{ path('helloasso_importation') }}"
       class="btn btn-lg btn-block btn-success ajax-remplace"
       title="modifier" data-cible="#recaptitulatif" data-placement="bottom" id="lien_modify">
        <i class="fa fa-chevron-down fa-3x"></i><br/>
        <i class="fa fa-inbox fa-3x"></i><br/>
        Lancer l'importation
    </a>