{% extends 'base'~layout_cplt()~'.html.twig' %}



{% block body %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-3">
        {% if objet_action is defined and objet_action is not empty %}

        <div class="back">
            <a href='{{  path(page) }}' class="btn btn-secondary">{{'retour_liste'|trans }}</a>
        </div>
            {% else %}
                <a href='{{  path('homepage')}}' class="btn btn-secondary">{{'retour'|trans }}</a>
        {% endif %}
    </div>

    {% block contenu %}
	<!-- Colonne principal-->
	<div id="contenu" class="col-md-8">
	    <div class="box box-secondary">
		<div class="box-header">
		    <h2>{{ page|trans }}</h2>
		</div>
		<div class="box-body">
		    {% block formulaire %}

				{% include('inclure/form.html.twig') %}


				<hr />
				<div class="depliable">
					<div class="gachette">Réglage d'impression</div>
					<div class="depliant">
						{% include('inclure/form.html.twig') with {'form':form_pref} only  %}
					</div>
				</div>

				<script type="application/javascript">
					$(document).ready(function(){

						ul_select_redirect();
						initialisation_depliable();
						$('#etiquette_avec_individu').on('switchChange.bootstrapSwitch', function (event, state) {
							$('#etiquette_ajout_nom_membre').bootstrapSwitch('state', false, true);
							$('#etiquette_champs_nom_membre').bootstrapSwitch('state', false, true);
							if (state){
								$('#etiquette_ajout_nom_membre').parents('div.form-group').slideDown();
								$('#etiquette_champs_nom_membre').parents('div.form-group').slideDown();
							}else
							{
								$('#etiquette_ajout_nom_membre').parents('div.form-group').hide();
								$('#etiquette_champs_nom_membre').parents('div.form-group').hide();

							}

						});


					});
				</script>

			{% endblock %}
		</div>
	    </div>
	</div>



    {% endblock %}
{% endblock %}


