{% extends 'base'~layout_cplt()~'.html.twig' %}



{% block content %}

		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">{{ 'Reçu fiscal'|trans }}</h3>
			</div>
			<div class="box-body">
				<div class="row-fluid">
					<div class="col-md-4">

							<h4>En Attente de génération</h4>
							<a href="{{ path('recu_fiscal_generations') }}" class="modal-form btn btn-secondary">Générer tous les reçus en attente</a>

					</div>
					<div class="col-md-8">
						{% for annee,paiements in tab_paiement %}
						<h4>{{ annee }}</h4>
							<table class="table">
								<thead>
								<tr>
									<th>Date</th>
									<th>Individu</th>
									<th>Montant</th>
									<th>Action</th>
								</tr>
								</thead>
								<tbody>
							{% for p in paiements %}
								<tr>
									<td>{{ p.date }}</td>
									<td>{{ p.nom }}</td>
									<td>{{ p.montant }}</td>
									<td>
										{% if p.id_document %}
											<a href="{{ path('pdf',{'id_document':p.id_document}) }}" class="btn btn-info">télécharger</a>
										{% else %}
											<a href="{{ path('recu_fiscal_generation',{'id_paiement':p.id_paiement}) }}" class="btn btn-info">generer</a>
											<a href="{{ path('recu_fiscal_apercu',{'id_paiement':p.id_paiement}) }}" class="btn btn-info">apercu</a>

										{% endif %}
											</td>
								</tr>
							{% endfor %}
								</tbody>
							</table>




						{% endfor %}
					</div>
				</div>
			</div>
		</div>
{% endblock %}


