<div class="box box-secondary">
    {% set recet = 'recettes'|trans %}
    {% for id_entite,individus in tableau %}
    <div class="box-header">
        {% for id_entite,id_tresors in tableau %}
        {% set titre = action|trans %}
        {% if suc('entite_multi') %}
            <h1> {{ tab('entite.'~id_entite~'.nom') }} </h1>
        {% endif %}
        <h2>{{ ('remise_en_banque_'~titre)|trans }}</h2>
    </div>
    <div class="box-body">
        {% for id_tresor,individus in id_tresors %}
        <h3>{{ tab('tresor.'~id_tresor~'.nom') }}</h3>
        {% for individu,annees in individus %}
            <h4>{{ tab('operateur.'~individu) }}</h4>
            {% for annee,moiss in annees %}
                <h4>{{ annee }}</h4>
                <div class="container-fluid">
                    {% for mois,remises in moiss %}
                        <div class="col-md-6">
                        <h5>{{ mois }}</h5>

                        {% for rangremise,remise in remises %}
                            {% if remise.nb_ligne > 1 %}
                                {% set pluriel = 'paiements' %}
                            {% else %}
                                {% set pluriel = 'paiement' %}
                            {% endif %}
                            {{ remise.nb_ligne }} {{ pluriel }} pour {{ remise.montant }} Euros
                            {% if action != 'attente' %}
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="{{ path('remise_en_banque_document',{'id_tresor':id_tresor,'remise':remise.remise}) }}"><i
                                                    class="fas fa-file-pdf"></i>
                                            Pdf remise n° {{ remise.remise }}
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{ path('remise_en_banque_tableur',{ 'remise':remise.remise, 'id_tresor':id_tresor}) }}">
                                            <i class="fas fa-file-csv"></i>
                                            Exporter tableur
                                        </a>
                                    </li>
                                </ul>
                                {% if action=='propose' %}
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="{{ path('remise_en_banque_validation',{ 'remise':remise.remise, 'id_tresor':id_tresor}) }}"
                                               class="btn btn-sm btn-success">
                                                <i class="fa fa-check-circle"></i>
                                                Valider la proposition
                                            </a>
                                            <a href="{{ path('remise_en_banque_supprimer_remise',{ 'remise':remise.remise, 'id_tresor':id_tresor}) }}"
                                               class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}


