{% extends 'base'~layout_cplt()~'.html.twig' %}



{% block body %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        <div class="box box-secondary">
            <div class="box-header">
                <h2>{{ 'Depot'|trans }}</h2>
            </div>
            <div class="box-body">
                {% block formulaire %}
                    <div id="formualire_impression_carte">
                        {% include('inclure/form.html.twig') %}
                        <hr />
                        <div class="depliable">
                            <div class="gachette">Paramètrage pour enregistrement en compta</div>
                            <div class="depliant">
                                {% include('inclure/form.html.twig') with {'form':form_pref} only  %}
                            </div>
                        </div>

                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

