<div class="petite_police">
<h3>{% trans %}paiement_remise_en_banque{% endtrans %} :  pour la période {{ periode_depot }}</h3>

{% if conf('module.pre_compta') %}
  {% trans %} piece {% endtrans %} {{ id_piece }}
  {% trans %}etat_precompta{% endtrans %} {{ etat_precomptadestination|trans }}
{% endif %}

{% if etat_gestiondestination !='valide' %}
{{ ('etatgestion_'~etat_gestiondestination)|trans }} -
{% endif %}
{% if remise is defined %}
{% trans %}Numéro de remise{% endtrans %} : {{ remise }}
{% endif %}

{% if  nb_ligne != 1  %}
<div> {{ nb_ligne }} {% trans %}paiements{% endtrans %} {% trans %}pour un montant de{% endtrans %} {{ montant_texte }}</div>
{% else %}
<div> {{ nb_ligne }} {% trans %}paiement{% endtrans %} {% trans %}pour un montant de{% endtrans %} {{ montant_texte }}</div>
{% endif %}

{% if montant_total is defined %}
    <div>  {{ nb_total }} {% trans %}paiements{% endtrans %} {% trans %}pour un montant de{% endtrans %} {{ montant_total }}</div>
{% endif %}

<div>
    {% trans %}entite{% endtrans %} : <strong>{{ tab('entite.'~id_entite~'.nom') }}</strong> - -
    {% trans %}tresor{% endtrans %} : <strong>{{ tab('tresor.'~id_tresor~'.nom') }}</strong>
    {% trans %}Compte bancaire n°{% endtrans %} : <strong>{{ tab('tresor.'~id_tresor~'.numero_compte') }}</strong>
    {% if conf('module.pre_compta') %}
        {% if viban is defined %}  {{ viban  }}    {% endif %}
    {% endif %}
</div>
{% if conf('module.pre_compta') %}
    <div> {% trans %}date_ecriture{% endtrans %} {{ date_ecriture_enclair }}
        {% trans %}journal{% endtrans %} : <strong>{{ vjournal }}</strong>
        {% trans %}compte{% endtrans %} : <strong>{{ vcompte }}</strong>
    </div>
{% endif %}

{{ tab_data|array2htmltable({'th':1,'largeur':tab_data_largeur})|raw }}

<div>{% trans %}Liste établie le{% endtrans %} : <strong>{{ maintenant|format_datetime('medium', 'short',  locale='fr') }}</strong></div>

    <div class="recap">
        <table class="table">
        <tbody>
            {% for prestation,info in tab_recap %}
            <tr><td>{{ prestation }}</td><td width="50px" class="texte_a_droite">{{ info.nb }}</td><td width="100px" class="texte_a_droite">{{ info.montant }}€</td></tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>