<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->

<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{ app.name|trans }} - Installation</title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css"
              title="Main CSS"
              media="screen"/>
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" type="text/css" title="Main CSS"
              media="screen"/>

        <script src="{{ asset('assets/js/scripts.js') }}" type="text/javascript"></script>





    {% endblock %}
</head>
<body class="hold-transition skin-green layout-top-nav">
<div class="wrapper">


    <!--[if lt IE 9]><p class=chromeframe>Votre navigateur est <em>vétuste!</em> <a href="http://browsehappy.com/">Optez
        pour un navigateur récent</a> pour une meilleure expérience.</p><![endif]-->


    <div class="content-wrapper">
        <div class="container-fluid">

            <section class="content-header">

                {% block header %}
                    <div class="row">
                        <div class="text-center">
                            <h1>Installation de Simplasso</h1>
                        </div>
                    </div>
                {% endblock %}

            </section>


            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
            {% for alert in alertTypeAvaillable %}
                {% for message in app.session.getFlashBag.get(alert) %}
                    <div class="alert alert-{{ alert }}">
                        <button class="close" data-dismiss="alert">×</button>
                        {{ message|trans|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="row-fluid">

                {% block content %}

                    <div class="col-md-12">
                        <div class="modal-dialog" style="margin-bottom:0">
                            <div class="modal-content">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ titre }}</h3>
                                </div>
                                <div class="panel-body">
                                    {% if form is defined %}
                                        {% form_theme form with ['form_large.html.twig'] %}
                                        {{ form(form) }}
                                    {% endif %}
                                    {% if message is defined %}
                                        {{ message|raw }}
                                        {% if etape is defined and etape ==3 %}
                                        <div id="progression" class="progression progress active ">
                                            <div id="etat_progression">{{ message }}</div>
                                            <div id="barre_progression"
                                                 class="progress-bar progress-bar-success progress-bar-striped"
                                                 role="progressbar"
                                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 0%;">
                                                0 %
                                            </div>
                                        </div>
                                        <script type="application/javascript">
                                            function lancer_traitement(adresse) {
                                                $.ajax({
                                                    dataType: "json",
                                                    url: adresse,
                                                    success: function (msg) {

                                                        $('#barre_progression')
                                                                .css("width", msg["progression_pourcent"] + "%")
                                                                .text(msg["progression_pourcent"] + "%");
                                                        $('#message_progression').html(msg["message"]);
                                                        if (msg["message_permanent"])
                                                            $('#message_permanent').prepend(msg["message_permanent"]+"<br>");
                                                        if (msg["progression_pourcent"] == 100) {
                                                            setTimeout(function () {
                                                                redirection('{{ url_redirect }}');
                                                            }, 500);
                                                        } else {
                                                            lancer_traitement(adresse);
                                                        }

                                                    }
                                                });
                                            }

                                            $(document).ready(function () {
                                                var adresse = '{{ url|raw }}';

                                                lancer_traitement(adresse);
                                                $('#progression').after('<div id="message_progression"></div><hr/><div id="message_permanent"></div>');

                                            });

                                        </script>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endblock %}

            </div>
        </div>

    </div>
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="container-fluid">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> {{ version }}
        </div>
        <strong>{{ application_nom }}</strong> Logiciel Libre
        <small>porté par <a href="http://www.declic3000.com" target="_blank">Déclic 3000</a>.</small>
    </div>
</footer>


{% block scripts_footer %}
    <script src="{{ asset('assets/js/scripts_footer.js') }}"></script>
    {% block scripts_footer_cplt %}{% endblock %}
{% endblock %}
</body>
</html>
