{% set objet_en_cours = _self|trouverObjet %} {% if tab_enfant is not defined %}{% set tab_enfant = false %}{% endif %}
<table class="table table-striped super_tableau">
    <thead>
    <tr>
        {#<th>{{ 'id'|trans }}</th>#}
        <th>{{ 'nomcourt'|trans }}</th>
        <th>{{ 'nom'|trans }}</th>
        <th>{{ 'observation'|trans }}</th>
        {% if  entite_multi %}
            <th>{{ 'entité'|trans }}</th>
        {% endif %}
        <th></th>
    </tr>
    </thead>

     {% for objet_data in charger_tab_objet({'objet':objet_en_cours,'tab_enfant':tab_enfant}) %}
        <tr>
            {#<td>{{ activite.idActivite }}</td>#}
            <td>{{ objet_data.Nomcourt }}</td>
            <td>{{ objet_data.Nom }}</td>
            <td>{{ objet_data.Observation }}</td>
            {% if  entite_multi %}
                <td>{{ objet_data.idEntite|getNomEntite }}</td>
            {% endif %}
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">


                    {{ bouton('voir',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('modifier',{ objet:objet_en_cours,'id':objet_data.primaryKey}) }}

                    {{ bouton('supprimer',{objet:objet_en_cours,'id':objet_data.primaryKey}) }}
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

