<tr id="ligne{{tab_servicerendu.0}}">
  <td>
  <a href="{{url_adherent}}">
  	{{membre.id}}
  </a> - <strong>{{membre.nom}}</strong><br/>
  {{membre.adresse}}<br/>
  {{membre.codepostal}} {{membre.ville}}
  </td>
  <td>
  {{prestation.nom}} <br>
  {{prestation.periode}}
  </td>
  <td>
  	{{reglement.montant}} <br>
  	{{reglement.tresor}}
  </td>
  <td>
  <a data-href="{{url_supprimer}}" class="btn btn-danger bt_sup">supprimer</a>
  </td>  
 </tr>