<div class="grid-item">
    <div class="item">
        <div class="panel">
            <div class="panel-heading">


                <div class="info-box">

                    {{#has_image}}
                    <div class="info-box-image">
                        <img src="{{url_image}}{{idIndividu}}" alt="{{ nom }} " class="img-thumbnail"/>
                    </div>
                    {{/has_image}}
                    {{^has_image}}

                    <span class="info-box-icon"><i class="fa fa-user"/></i></span>
                    {{/has_image}}

                    <div class="info-main">

                        <div class="float-right text-right">
                            <div class="">
                                {{#bt_show_url}}
                                <a class="btn btn-sm btn-default" href="{{bt_show_url}}">
                                    <i class="fa fa fa-eye"></i>
                                </a>
                                {{/bt_show_url}}
                                {{#bt_edit_url}}
                                <a class="btn_modif btn btn-sm btn-default modal-form" href="{{bt_edit_url}}">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                {{/bt_edit_url}}
	                        </div>
                            <div class="text text-{{class_cotisation}}"><i class="fa {{icone_cotisation}}"></i>
                                {{cotisation}}
                            </div>

                        </div>

                        <div>
                            <span class='identifiant'>{{idIndividu}}</span>
                            {{#civilite}}
                            <span class='civilite'> - {{civilite}}</span>
                            {{/civilite}}
                        </div>

                        <div class='nom'>
                            {{#decede}}
                            <i class="ico ico-ruban-noir"></i>
                            {{/decede}}
                            {{nom}}
                            {{#organisme}}
                            - {{organisme}}<br/>
                            {{/organisme}}
                        </div>


                        {{#dateSortie}}
                        <div class='badge badge-danger'>
                            Sorti le {{dateSortie}}
                        </div>
                        {{/dateSortie}}

                        <div class='adresse'>
                            {{adresse}}<br/>
                            {{#adresseCplt}}
                            {{adresseCplt}}<br/>
                            {{/adresseCplt}}
                            {{codepostal}} {{ville}}
                            {{#pays}}
                            <br/>{{pays}}
                            {{/pays}}
                        </div>


                    </div>

                </div>
            </div>
            <div class="panel-body">


                <div class="col-lg-12">


                    <div class='telephone'>

                        {{#telephone}}
                        <i class="fa fa-phone"></i> {{telephone}}<br/>
                        {{/telephone}}
                        {{#mobile}}
                        <i class="fa fa-mobile-alt"></i> {{mobile}}<br/>
                        {{/mobile}}
                        {{#telephonePro}}
                        <i class="fa fa-phone"></i> {{telephonePro}}<br/>
                        {{/telephonePro}}

                    </div>


                    <div class='email'>
                        {{#email}}
                        <i class="fa fa-envelope"></i> <a href="mailto:{{email}}">{{email}}</a>
                        {{/email}}
                    </div>

                </div>


                {{#bio}}
                <div class="col-lg-12">
                    <p class="bio">{{bio}}</p>
                </div>
                {{/bio}}
                <div class="col-lg-12">
                    <i class="fa fa-tags"></i>
                    {{^motsIndividu}}Aucun{{/motsIndividu}}

                    {{#motsIndividu}}

                    {{nom}}

                    {{/motsIndividu}}

                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

