<div class="notification_progress" class="{{ class }}">
    <div class="message">
    {{#icon}} <i class="fa fa-icon"></i>   {{/icon}} {{ message }}
        <div class="progress progress-bar-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60%
            </div>
        </div>
    </div>

    <div class="action">
        <a class="btn btn-danger btn-sm force-tooltip "  title="supprimer" data-placement="bottom" id="lien_supprimer">
        <i class="fa fa-trash-alt"></i>
    </a>
    </div>
</div>