<li data-value="{{num}}" data-name="{{ nom }}" class="clearfix">
    <div class="action float-right">
        <a class="btn btn-warning btn-sm ajax-remplace"  href="{{url_form}}{{num}}" title="modifier" data-cible="#formulaire_query" data-placement="bottom" id="lien_modify">
            <i class="fa fa-pencil-alt"></i>
        </a>
        <a class="btn btn-danger btn-sm force-tooltip" data-confirm-supprimer="{{ message }}" data-href="{{url_delete}}{{num}}" href="#"  data-js-callback-remove="#liste_query li[data-value={{num}}]" title="supprimer" data-placement="bottom" id="lien_supprimer">
            <i class="fa fa-trash-alt"></i>
        </a>
    </div>
    <div class="message">
    {{ nom }}
    </div>
</li>

