<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->

<head>
    {% include 'inclure/head.html.twig' with {'title': application_nom~'-'~(sac('page')|trans) } only %}
    <script src="{{ path('vars_js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/scripts.js') }}" type="text/javascript"></script>
    {% if js_suppl is defined %}
        <script src="{{ app.request.basepath }}/assets/js/{{ js_suppl }}.js"></script>
    {% endif %}
    {% block head_cplt %}{% endblock %}
</head>

<body class="hold-transition skin-green layout-top-nav">
<div class="wrapper">


    <!--[if lt IE 9]><p class="firefoxframe">Votre navigateur est <em>vétuste!</em> <a href="http://browsehappy.com/">Optez
        pour un navigateur récent</a> pour une meilleure expérience.</p><![endif]-->

    {% block menu %}
        {% include 'menu.html.twig' %}
    {% endblock %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <section class="content-header">
                {% block header %}

                        {% block menu_header %}
                            <div id="menu_page_droite" class="float-right">

                                    {% block menu_header_suppl %}{% endblock %}
                                    {% block menu_page_droite %}
                                        {% for lignefil in menu_page_droite() %}
                                          {% include('inclure/lien.html.twig') with lignefil only %}
                                        {% endfor %}
                                    {% endblock %}
                                    {% block documentation %}
                                        <a href="{{ documentation_lien() }}" class="btn btn-secondary modal-iframe"><i class="fa fa-life-ring" aria-hidden="true"></i></a>
                                    {% endblock %}

                            </div>
                        {% endblock %}

                        <div id="fil_ariane">
                            {% block breadcrumb %}
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{{ path('accueil') }}"><i
                                                    class="fa fa-home"></i> {{ 'accueil'|trans }}</a></li>
                                    {% for lignefil in menu_page_gauche() %}
                                        {% if lignefil['url'] is defined %}
                                            {% if lignefil['url'] is null %}
                                                <li class="breadcrumb-item">{{ lignefil['nom']|raw }}</li>
                                            {% else %}
                                                <li class="breadcrumb-item"><a href="{{ lignefil['url'] }}">{{ lignefil['nom']|raw }} </a></li>
                                            {% endif %}
                                        {% else %}
                                            {% if lignefil['nom'] is defined %}
                                                <li class="breadcrumb-item">{{ lignefil['nom']|raw }}</li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </nav>
                            {% endblock %}
                        </div>
                {% endblock %}
            </section>


            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
            {% for alert in alertTypeAvaillable %}
                {% for message in app.session.getFlashBag.get(alert) %}
                    <div class="alert alert-{{ alert }}">
                        <button class="close" data-dismiss="alert">×</button>
                        {{ message|trans|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="container-fluid">
                <div class="row">
                    {% block content %}
                        {% block formulaire %}
                        {% endblock %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'inclure/footer.html.twig' only %}
{% block scripts_footer %}
    <script src="{{ asset('assets/js/scripts_footer.js') }}"></script>
    {% block scripts_footer_cplt %}{% endblock %}
  {% if tache_a_executer() %}
    {% include 'inclure/robot.html.twig' only %}
  {% endif %}
{% endblock %}
</body>
</html>
