{% extends 'bootstrap_4_horizontal_layout.html.twig' %}
 {% block form_label_class -%}
     col-sm-3
 {%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}

{% block form_help -%}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'data-help' %}
            <span class="help-block" data-toggle="tooltip" data-placement="right"  title="{{ attrvalue|trans }}"><i class="fa fa-info-circle"></i></span>
        {% endif %}
    {% endfor %}
{%- endblock form_help %}



{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form is not rootform %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li class="list-item"><span class="fa fa-exclamation"></span> {{ error.message }}</li>
        {%- endfor -%}
        </ul>
        {% if form is not rootform %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}