<nav id='barre_navigation' class="navbar navbar-expand-lg navbar-light"
     role="navigation">

    <!--partie gauche simplasso-->

    {% include('inclure/entete_logo.html.twig') %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barre_navigation_content"
            aria-controls="barre_navigation_content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="barre_navigation_content">
        <ul class="navbar-nav">
            {% for key, item in menu_general() %}
                {% set autoriser = false %}
                {% if item.autorisation is defined %}
                        {% set autoriser = autoriser or autoriser(item.autorisation) %}
                {% endif %}
                {% if autoriser %}
                    {% if item['menu'] is defined %}

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-expanded="false">
                                {% if item['label'] is defined %}
                                    {{ item['label']|trans }}
                                {% else %}
                                    {{ key|trans }}
                                {% endif %}</a>
                            <div class="dropdown-menu" role="menu">
                                {% for k,i in item['menu'] %}
                                    {% if k|slice(0,1)=='#' %}
                                        <div class="dropdown-divider"></div>
                                    {% else %}

                                        {% if k|slice(0,4)=='http' %}
                                            <a href="{{ k }}" class="dropdown-item">{{ i|trans }}</a>
                                        {% else %}
                                            <a href="{{ path(k) }}" class="dropdown-item">{{ i|trans }}</a>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path(key) }}" role="button" aria-expanded="false" class="nav-link">
                                {% if item['label'] is defined %}
                                    {{ item['label']|trans }}
                                {% else %}
                                    {{ key }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <!-- fin menu général -->
        <!-- acces direct recherche-->
        <form class="form-inline my-2 my-lg-0" role="search" action="{{ path('recherche') }}"
              method="get">
            <div class="input-group">
                <input type="text" class="form-control" id="navbar-search-input"
                       placeholder="{{ 'Nom, numéro adhérent'|trans }}"
                       name="recherche"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-arrow-circle-right"></i> </button>
                </div>
            </div>
        </form>
        <!-- fin acces direct -->
        <!-- affichage et selection entite -->
        {% set  entite_id = pref('en_cours.id_entite')%}
        {% set  entite_nom = tab('entite.'~entite_id~'.nom') %}
        {% if pref('entite_multi') %}
            <ul class="nav navbar-nav navbar">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% set  entite_multi =true %}
                        &#123;&#35;{{ 'entite'|trans }} &#35;&#125;
                        {{ entite_id }} {{ entite_nom }}
                    </a>

                    <div class="dropdown-menu">
                        {% for id_entite in suc('entite') %}
                            {% if  id_entite != entite_id %}
                                <a  data-confirm="Voulez vous basculer vers l'entité : {{ id_entite }} {{ tab('entite.'~id_entite~'.nom') }} "
                                    data-href="{{ path('accueil',{action:'choisir','id_entite':id_entite}) }}"
                                    href="#">
                                    {{ id_entite }} {{ tab('entite.'~id_entite~'.nom') }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>
        {% endif %}
        {#<!-- fin de partie entite -->#}

        <!-- fin de la partie centrale -->

        <!-- partie droite -->

        {% set  id_operateur = suc('operateur.id') %}
        <ul class="nav navbar-nav ml-md-auto">
            {% set tab_notifications = suc('notifications') %}
            <li class="nav-item dropdown notifications-menu" id="notifications_panel">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">{{ 'Vous avez nb notifications'|trans({nb:tab_notifications|length}) }}</div>
                    <ul class="menu"></ul>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link " data-toggle="dropdown"  aria-expanded="false">
                    <i class="fa fa-user"></i>

                    {% set nom_operateur =  suc('operateur.nom') %}
                    {% if nom_operateur is empty %}
                        {{ suc('operateur.pseudo') }}
                    {% else%}
                        {{ nom_operateur }}
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header user-header">

                        {#{{ image_mini('individu',id_operateur,"User Image")|raw  }}#}
                        {% set fonction =  suc('operateur.nom') %}
                        {% if fonction is not empty %}
                            <small>
                                fonction : {{ suc('operateur.profil') }}
                            </small>
                        {% endif %}

                    </div>
                    <!-- Menu Body -->

                    <!-- Menu Footer-->
                    <div class="dropdown-footer user-footer">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="{{ path('moi') }}" class="btn btn-secondary btn-block btn-flat"
                                   title="{{ 'Votre profil'|trans }}"><span
                                            class="fa fa-user"></span>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="{{ path('preferences',{'idIndividu':id_operateur }) }}"
                                   class="btn btn-secondary btn-block btn-flat"
                                   title="{{ 'preferences'|trans }}"><span
                                            class="fa fa-asterisk"></span>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="{{ path('app_logout') }}" class="btn btn-secondary btn-flat btn-block"
                                   title="{{ 'Se déconnecter'|trans }}"><span
                                            class="fa fa-sign-out-alt"></span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!-- /.navbar-collapse -->
    </div>
</nav>



<script type="application/javascript">
    data_notifications = {{ tab_notifications|json_encode()|raw }};
</script>

