{% set mot_cle = individu_ext.getMotsSysteme %}
{% set carte_adherent = mot_cle|keys|carte_adherent_etat %}
{% set conf_membrind = conf('general.membrind') %}
{% set objet_traite = 'individu' %}
{% if conf_membrind %}
    {% set objet_traite = 'membrind' %}
{% endif %}


<div class="fiche_individu">

    <div class="float-right">
        <div class="btn-group-vertical" role="group" aria-label="...">
            {% if not (conf_membrind  or sac('page') == 'individu_show') %}
                {{ bouton('voir',{ 'objet':objet_traite,'id':individu.IdIndividu,'tooltip':false}) }}
            {% endif %}

            {% if autoriser('OBJET_generique_MOD') %}
            {{ bouton('modifier', {'objet':objet_traite,'id':individu.IdIndividu,'class_cplt':'modal-form','redirect': sac('url_courante'),'tooltip_placement':'left'}) }}
            {#{{ bouton('supprimer',{'id':individu.IdIndividu,'tooltip':false}) }}#}
            {#todo supprimer le bouton supprimer car on ne voit pas les prestion lier directement a l'individu#}
            {{ bouton('changer_mdp',{class_cplt:'modal-form','objet':'individu','id':individu.IdIndividu,'redirect': sac('url_courante'),'tooltip_placement':'left'}) }}

            <button data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"
                    type="button"><span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                {% if  (conf_membrind) %}
                    <li class="dropdown-item text-right">
                        {{ bouton('supprimer',{'objet':'membrind','id':individu.IdIndividu,'nom':'Supprimer l\'adhérent','bt_texte':true,'bt_texte_gauche':'true','class':'force-tooltip'}) }}
                    </li>
                {% else %}
                    <li class="dropdown-item text-right">
                        {{ bouton('supprimer',{'objet':'individu','id':individu.IdIndividu,'nom':'Supprimer l\'individu','bt_texte':true,'bt_texte_gauche':'true','class':'force-tooltip'}) }}
                    </li>
                {% endif %}
                {% if membre is defined %}

                    {% set titulaire = individu.estTitulaireDuMembre(membre.idMembre) %}
                    {% if not titulaire %}
                        <li class="dropdown-item text-right">
                            <a href="{{ path('membre_titulariser',{'idMembre':membre.IdMembre,'idIndividu':individu.IdIndividu,'redirect':url_courante()}) }}">
                                Rendre titulaire <i class="fa fa-crown"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if not titulaire %}
                        <li class="dropdown-item text-right">
                            <a href="{{ path('membre_detacher_individu',{'idIndividu':individu.IdIndividu,'idMembre':membre.idMembre,'redirect':url_courante()}) }}"
                               data-modal="Etes vous certain de vouloir détacher {{ individu.nom }} de ce membre ?">
                                Détacher l'individu <i class="fa fa-unlink"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if autoriser(['OBJET_generique_MOD']) %}
                    <li class="dropdown-item text-right">
                        <a class="modal-form"
                           href="{{ path('individu_npais',{'idIndividu':individu.IdIndividu ,redirect:url_courante()}) }}"
                           title="Signaler une coordonnée invalide (postal, email ...)"
                           id="lien_retour_courrier">
                            Coordonnée invalide <i class="fa fa-exclamation-triangle"></i>
                        </a>
                    </li>
                {% endif %}
                {% if conf('carte_adherent.actif') and conf('carte_adherent.objet')=='individu' %}
                    <li class="dropdown-item text-right">
                        <a class="carte_adherent carte_adherent_maxi"
                           data-href="{{ path('carte_adherent_changer_etat',{'id':individu.IdIndividu,'etat':'' }) }}"
                           title="{{ ('carte_adh_'~carte_adherent)|trans }}">
                                    <span class="badge badge-sm label-carte{{ carte_adherent }}">
                                        {{ decode('carte',carte_adherent)|trans }}
                                    </span>&nbsp;
                            Carte d'adhérent <i class="fa fa-id-card" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="dropdown-item text-right">
                        <a href="{{ path('carte_adherent',{'objet':'individu','id_objet':individu.IdIndividu}) }}"
                           class="modal-form">
                            <i class="fa fa-print" aria-hidden="true"></i> Imprimer la carte de membre de cet individu
                        </a>
                    </li>
                {% endif %}
                {% if autoriser('OBJET_generique_MOD') %}
                    {% if individu_ext.estDecede %}
                        <li class="dropdown-item text-right">
                            <a href="{{ path('individu_dcd',{'idIndividu':individu.IdIndividu,'redirect':url_courante() }) }}">
                                L'individu a été enregistré comme décédé par erreur <i class="ico ico-ruban-noir"
                                                                                       aria-hidden="true"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown-item text-right">
                            <a href="{{ path('individu_dcd',{'idIndividu':individu.IdIndividu,'redirect':url_courante() }) }}">
                                Enregistrer l'individu comme décédé <i class="ico ico-ruban-noir" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="dropdown-item text-right">
                    {% set titre = 'membrind_fusion'|trans~' : '~individu.nom~' '~individu.IdIndividu~'avec'|trans %}

                    {{ bouton('fusion',{'objet':objet_traite,'idIndividu':individu.primaryKey,'title':titre,'bt_texte_gauche':'true','bt_texte':true,'redirect':sac('url_courante'),'class':'force-tooltip'}) }}
                </li>

            </ul>
            {% endif %}
        </div>
    </div>
    {% if membre is defined and individu.estTitulaireDuMembre(membre.idMembre) %}

        <span class="badge badge-warning"><i
                    class="fa fa-crown"></i></span>
    {% endif %}


    {% if conf('carte_adherent.actif') and conf('carte_adherent.objet')=='individu' %}
        <a class="carte_adherent carte_adherent_mini"
           data-href="{{ path('carte_adherent_changer_etat',{'id':individu.IdIndividu }) }}"
           title="{{ 'carte_adh_'~carte_adherent }}" data-toggle="tooltip">
                                            <span class="badge badge-sm label-carte{{ carte_adherent }}"><i
                                                        class="fa fa-id-card" aria-hidden="true"></i></span>
        </a>
        <a href="{{ path('carte_adherent',{'objet':'individu','id_objet':individu.IdIndividu}) }}" class="modal-form">
            <i class="fa fa-print" aria-hidden="true"></i>
        </a>
    {% endif %}
    &nbsp;{{ individu.IdIndividu }}

    {% if individu.civilite %} - {{ individu.civilite }}{% endif %}

    <h4 class="box-title">
        {% if individu.nomFamille is empty %}
            {{ individu.nom }}
        {% else %}
            {{ individu.nomFamille }} {{ individu.prenom }}
        {% endif %}
        {% if individu_ext.estDecede %}
            <i class="ico ico-ruban-noir"></i>
        {% endif %}
        {% if individu.organisme is not empty %}
            {% if individu.nomFamille is not empty %} <br>{% endif %}
            <small>{{ individu.organisme }}</small>
        {% endif %}
    </h4>
    {% if individu.service is not empty %}
        <br> {{ individu.service }}
    {% endif %}
    {% if individu.fonction is not empty %}
        <br> {{ individu.fonction }}
    {% endif %}

    {% if individu.ville %}
        {% if conf('module.geo_zonage') %}
            <div class="float-left">
                <a href="{{ path('carte_positionner',{objet:'individu','id': individu.IdIndividu,'redirect':url_courante()}) }}"
                   class="btn modal-form modal-large{% if not individu.estGeoreference %} text-danger{% endif %}"
                   id="btn_carte{{ individu.IdIndividu }}"><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i></a>
            </div>
        {% endif %}
        <div class="el npai">
            {% include('inclure/npai.html.twig') with { 'type':'adres', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
            {% if individu.adresseCplt %}{{ individu.adresseCplt }}<br/>{% endif %}
            {{ individu.adresse }}<br/>
            {% if individu.bpLieudit %}{{ individu.bpLieudit }}<br/>{% endif %}
            {{ individu.codePostal }} {{ individu.ville }}
            {% if individu.pays and individu.pays != conf('general.pays') %}<br/>{{ individu.pays|getPays() }}{% endif %}
        </div>
    {% endif %}


    {% if conf('module.geo_zonage') %}
        {% set tab_zone = individu.zones %}

        {% if tab_zone is not empty %}
            <div class="el zonage">
            <i class="fa fa-street-view"></i>
            {% for zone in tab_zone %}
                {{ zone.nom }}
                {% if not loop.last%} - {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    {% if individu.email %}
        <div class="el npai">
            <i class="far fa-envelope" aria-hidden="true"></i> {{ individu.email|lien_courriel }}
            {% include('inclure/npai.html.twig') with { 'type':'email', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
        </div>
    {% endif %}
    {% if individu.telephone %}
        <div class="el npai">
            <i class="fa fa-phone" aria-hidden="true"></i> {{ individu.telephone|afficher_telephone }}
            {% include('inclure/npai.html.twig') with { 'type':'telep', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
        </div>
    {% endif %}
    {% if individu.mobile %}
        <div class="el npai">
            <i class="fa fa-mobile-alt" aria-hidden="true"></i> {{ individu.mobile|afficher_telephone }}
            {% include('inclure/npai.html.twig') with { 'type':'mobil', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
        </div>
    {% endif %}
    {% if individu.telephonePro %}
        <div class="el npai">
            <i class="fa fa-phone" aria-hidden="true"></i> {{ individu.telephonePro|afficher_telephone }}
            {% include('inclure/npai.html.twig') with { 'type':'tele2', 'id' : individu.IdIndividu,'mots':mot_cle } only %}
        </div>
    {% endif %}
    {% if individu.fax %}
        <div class="el">
            <i class="fa fa-phone" aria-hidden="true"></i> {{ individu.fax|afficher_telephone }}
        </div>
    {% endif %}
    {% if individu.profession is not empty %}
        <div class="el profession"> Profession : {{ individu.profession }}</div>
    {% endif %}
    {% if individu.naissance and conf('champs.individu.naissance') %}
        <div class="el naissance">
            {% if conf('adherent.annee_naissance') %}
                Année de naissance : {{ individu.naissance.format('Y') }} ( {{ individu.age-1 }}  ou {{ individu.age }} ans )
                {% else %}
                Date de naissance : {{ individu.naissance.format('d/m/Y') }} (soit {{ individu.age }} ans )
                {%  if individu.joyeuxAnniversaire %}
                    <span class="joyeux_anniversaire" title="Joyeux anniversaire"><i class="fa fa-gift"></i></span>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    {% if conf('module.infolettre') and tab_infolettre is not empty and individu.email %}
        {% set tab_inscription = individu_ext.getIdInfolettreInscrit %}
        <div class="el infolettre">
            {% if tab_infolettre|length > 3 %}
                <div class="float-right">
                    <a class="btn btn-secondary btn-sm"
                       data-infolettre="{{ tab_inscription|join(',') }}"
                       data-href="{{ path('infolettre_changer_inscription_email',{'email':individu.email,'redirect':url_courante()}) }}">
                        <i class="far fa-newspaper"></i> Modifier
                    </a>
                </div>
                <i class="far fa-newspaper"></i>
                {% if tab_infolettre is not empty %}
                    {{ tab_inscription|length }} infolettres
                {% else %}
                    aucune infolettre
                {% endif %}
            {% else %}
                <i class="far fa-newspaper"></i>
                <div class="btn-group">
                    {% for id,infolettre in tab_infolettre %}
                        {% set estInscrit = (id in tab_inscription) %}
                        {% include('inclure/bouton_inscription.html.twig') with{'id':id,'nom':infolettre.nom,'estInscrit':estInscrit,'idIndividu':individu.idIndividu} only %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="el mot">
        <i class="fa fa-tag" aria-hidden="true"></i>
        {% set mot_cle_ind = individu_ext.mots %}
        {% if mot_cle_ind is not empty %}
            {{mot_cle_ind|join(', ') }}

        {% else %}
            Aucun
        {% endif %} {% if autoriser('OBJET_generique_MOD') %}
        <div class="float-right">
            {{ bouton('taguer',{
                'action':'taguer',
                'id_objet': individu.IdIndividu ,
                'objet': 'individu',
                'class_cplt':'btn-sm',
                'redirect': sac('url_courante'),
                'bt_texte':true}) }}
        </div>
        {% endif %}
    </div>

    {% if sac('page') == 'membre_show'  %}
    {% include('inclure/rgpd-compact.html.twig') with {'objet_data' :individu,'objet_data_ext' :individu_ext} only %}
    {% endif %}
    <div class="clearfix"></div>
</div>