{% extends 'objet/index.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block index_navbar %}

        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a href="{{ path('carte',{objet:'individu','selection':'courante'}) }}"
                   class="btn btn-modal nav-link modal-large" id="btn_carte"><i class="fa fa-globe"
                                                                       aria-hidden="true"></i></a>
            </li>
            <li class="nav-item dropdown btn-group">
                    <a href='{{ path('preference_edit',{'pref':'individu|export','redirect': path('individu_export')}) }}'
                       class="btn modal-form nav-link">
                        <span class="fa fa-file-download"></span> Exportation
                    </a>
                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </a>

                <div class="dropdown-menu dropdown-menu-right">

                        <a href='{{ path('preference_edit',{'pref':'individu|export_vcf','redirect':path('individu_vcard')}) }}'
                           class="modal-form dropdown-item">
                            <span class="fa fa-file-download"></span> Vcard simple
                        </a>

                </div>
            </li>
            <li class="divider-vertical hidden-sm  d-none d-sm-block"></li>
            <li class="nav-item dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-print" aria-hidden="true"> </span> Imprimer

                </a>
                <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{ path('etiquette',{'objet':'individu'}) }}" class="dropdown-item modal-form">
                            Imprimer les étiquettes
                        </a>
                        <a href="{{ path('etiquette',{'action':'imprimer_a4','objet':'individu'}) }}" class="dropdown-item">
                            Imprimer les étiquettes au format A4
                        </a>
                </div>
            </li>
            <li class="nav-item dropdown">

                <a href="#" class="nav-link  dropdown-toggle " data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-list" aria-hidden="true"> </span> Actions
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                </div>
            </li>
        </ul>

{% endblock %}

    {% block scripts_footer_cplt %}
        <script>
            $(document).ready(function(){
                initialisation_champs_autocomplete_geo($('#super_tableau_{{ objet_bloc }}'),'toto');
                initialisation_selection();
            })
        </script>
    {% endblock %}
