{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}

    <!-- Colonne principal-->
    <div id="contenu" class="col-md-8">
    <div class="box-header"></div>
    <div class="box-body">
    {% block contenu %}



                {% block formulaire %}
                    {% set mode_saisie = 'tortue' %}{% if pref('membre.form_liaison.mode_saisie')==1 %}{% set mode_saisie = 'lievre' %}{% endif %}
                    <div class="formulaire {{ mode_saisie }}">

                        <div class="en_haut_a_droite option_form">
                                <a href="{{ path('preference_edit',{'pref': 'membre|form_liaison'}) }}"    class="btn btn-sm btn-secondary modal-form">
                                    <i class="fa fa-cog"></i>
                                </a>
                        </div>


                    {% form_theme form with ['form_large.html.twig'] %}
                    {{ form_start(form, {style: 'horizontal','label_col': 3, 'widget_col': 9 }) }}

                    {% set onglet_actif = pref('membre.form_liaison.mode_saisie_individu') %}
                    <ul class="nav nav-tabs" id="tab_mode_individu">
                        <li class="nav-item " data-value="existant" role="presentation">
                            <a data-toggle="tab" href="#existant" class="nav-link{% if onglet_actif!='nouvel' %} active{% endif%}">{{ 'individu_existant'|trans }}</a>
                        </li>
                        <li class="nav-item nouvel" data-value="nouvel" role="presentation">
                            <a data-toggle="tab" href="#nouvel" class="nav-link{% if onglet_actif=='nouvel' %} active{% endif%}">{{ 'individu_nouvel'|trans }}</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="tab_content_mode_individu">
                        <div id="existant" class="tab-pane fade{% if onglet_actif!='nouvel' %} show active{% endif%}">
                            {{ form_widget(form.individu_selection) }}


                        </div>
                        <div id="nouvel" class="tab-pane fade{% if onglet_actif=='nouvel' %} show active{% endif%}">
                            {{ form_widget(form.individu) }}
                        </div>
                    </div>

                    {% if nouveau_membre %}
                    <div class="form-group">
                        {{ form_widget(form.membre) }}
                    </div>
                    {% endif %}


                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ form_label(form.submit) }}
                        </div>
                        {% if  nouveau_membre %}
                            <div class="col-sm-6">
                                {{ form_widget(form.submit) }}
                                {% if nouveau_membre %}
                                    {% set enchainement =  pref('membre.form_liaison.enchainement') %}
                                    {% if enchainement=='sr_cotisation' and conf('module.cotisation') %}
                                        {{ form_widget(form.submit_cotisation) }}
                                    {% elseif enchainement=='sr_adhesion' and conf('module.adhesion') %}
                                        {{ form_widget(form.submit_adhesion) }}
                                    {% elseif enchainement=='servicerendu' %}
                                        {{ form_widget(form.submit_servicerendu) }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

                    {{ form_end(form) }}


                        {{ include('inclure/form_js.html.twig') }}
                        <div class="clearfix"></div>
                    </div>
                {% endblock %}


    {% endblock %}
    </div>
    </div>
{% endblock %}