{% extends 'base'~layout_cplt()~'.html.twig' %}
{% set id= objet_data.idIndividu %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">

        <div class="info-box">
            {% set tab_infolettre=tab('infolettre') %}
            <div class="info-box-image">
                {% include('inclure/logo.html.twig') with { 'objet':'individu', 'ico':'fa fa-user','has_logo' : objet_data_ext.hasImage,'objet_data':objet_data,'redirect':url_courante() } only %}
            </div>
            <div class="info-box-content">
                {% include('asso/individu/fiche.html.twig')with{'individu':objet_data,'individu_ext':objet_data_ext,'tab_infolettre':tab_infolettre} only %}
            </div>
        </div>





        <div class="box box-secondary informations">
            <div class="box-header">
                <h4> {{ 'informations'|trans }}</h4>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    {% if objet_data.observation %}
                        <dt>{{ 'observation'|trans }}</dt>
                        <dd>{{ objet_data.observation }}</dd>
                    {% endif %}
                    {% if objet_data.url %}
                        <dt>{{ 'URL'|trans }} :</dt>
                        <dd>{{ objet_data.url }}</dd>
                    {% endif %}

                </dl>
            </div>
        </div>


        {% include('inclure/rgpd.html.twig') with {objet_data :objet_data} only %}






        {#{% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}#}

        <div class="back">
            <a href='{{ path('individu_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }}</a>
        </div>

    </div>

    <!-- Colonne principal-->
    <div id="contenu" class="col-md-8">

        <div class="box box-secondary">
            <div class="box-header">
                <div class="btn-group btn-group-sm float-right" role="group">
                    {% if membres is empty %}
                        <a class="btn btn-success bt-sm" href="{{ path('individu_devenir_membre',{'idIndividu': objet_data.idIndividu,'redirect':sac('url_courante') }) }}">{{ 'membre_ajouter_titularise'|trans }}</a>
                    {% endif %}
                    <a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-secondary"><i class="fa fa-life-ring" aria-hidden="true"></i></a>
                </div>
                <h3 class="box-title">{{ 'membre_index'|trans }}</h3>
            </div>

            <div class="box-body">
                <div class="container_fluid">
                    {% if membres is not empty %}
                        {% for membre_ext in membres %}
                             {% set membre = membre_ext.Membre %}
                            {#{% set mot_cle = membre.afficheMots() %}#}
                            <div class="col-md-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
                                    <div class="info-box-content">
                                        <div class="row">
                                        <div class="col-md-5">
                                            membre : {{ membre.IdMembre }}
                                            {% if membre.civilite %} - {{ membre.civilite }}{% endif %}</span>
                                            <span class="info-box-number">{{ membre.nom }}</span>
                                            {% if conf('prestation.adhesion') and pref('adhesion.affichage')%}
                                                {% if membre.estSorti %}
                                                    Sorti le {{ membre.dateSortie|date('d/m/Y') }}
                                                {% endif %}
                                            {% endif %}
                                            <div>
                                                {% if tab('prestation.adhesion')=='oui' and pref('adhesion.affichage')=='oui' %}
                                                <strong> {{ 'etat'|trans }}</strong>
                                                {% if membre.etatAdhesion %}{{ 'Adherent'|trans }}
                                                {% else %}{{ 'Non adherent'|trans }}
                                                {% endif %}
                                                {% endif %}<br/>

                                                <strong> {{ 'cotisation'|trans }}</strong> {% if membre_ext.etatCotisation %}OK{% else %}Echu{% endif %}
                                                <br/>
                                                <strong>{{ 'servicerendu'|trans }}</strong> {{ membre_ext.servicerenduMontant|number_format(2, '.', ' ') }}
                                                € depuis
                                                le {{ conf('solde.amj_servicerendu').format('d/m/Y') }}<br/>
                                                <strong>{{ 'paiement'|trans }}</strong> {{ membre_ext.paiementMontant|number_format(2, '.', ' ') }}
                                                € depuis
                                                le {{ conf('solde.amj_paiement').format('d/m/Y') }}<br/>
                                                {% if (membre_ext.servicerenduMontant - membre_ext.paiementMontant>=0.01) %}
                                                    {{ 'solde'|trans }}: {{ (membre_ext.paiementMontant-membre_ext.servicerenduMontant)|number_format(2, '.', ' ') }}
                                                    <br/>
                                                {% endif %}
                                                {% if ( membre_ext.servicerenduMontant - membre_ext.paiementMontant >=0.01) %}
                                                    {{ 'soldenegatif'|trans }} : {{ ((membre_ext.servicerenduMontant-membre_ext.paiementMontant)|number_format(2, '.', ' ')) }}€
                                                    <br/>
                                                {% endif %}
                                            </div>

                                            {% set mot_cle = membre.getMots() %}
                                            <div class="el mot">

                                                <strong> {{ 'mot'|trans }} </strong>:
                                                {% if mot_cle is not empty %}
                                                    <ul class="list-inline inline">
                                                        {% for mot in mot_cle %}
                                                            <li class="list-inline-item">{{ mot.nom }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    Aucun
                                                {% endif %}
                                                {{ bouton('taguer',{'action':'taguer','id_objet': membre.IdMembre ,'objet': 'membre','redirect':url_courante()}) }}
                                            </div>


                                        </div>
                                        <div class="col-md-6">

                                            {% set tab_ind = membre.individus %}
                                            <table class="table table-striped">
                                                <caption>{{ tab_ind|length }} individus</caption>

                                                {% for ind in tab_ind %}
                                                    {% if ind == membre.individuTitulaire %}
                                                        {% set id_titulaire = membre.individuTitulaire %}
                                                        {% set statut_titulaire = 'Titulaire' %}
                                                    {% else %}
                                                        {% set id_titulaire = 0 %}
                                                        {% set statut_titulaire = ' ' %}
                                                    {% endif %}

                                                    <tr><td><a href="{{path('individu_show',{idIndividu:ind.IdIndividu})  }}">{{ ind.IdIndividu }}-{{ ind.Nom }}</a> {{ statut_titulaire }}</td></tr>
                                                {% endfor %}
                                            </table>

                                            {% set tab_stat = membre_ext.Stat %}
                                            <ul>
                                                {% for type,nb in tab_stat %}
                                                    {#{% if conf('prestation.'~type) %}#}
                                                    <li>{{ nb }} {{ type }}</li>
                                                    {#{% endif %}#}
                                                {% endfor %}
                                            </ul>

                                        </div>

                                        <div class="col-md-1">
                                            <div class="btn-group-vertical" role="group">
                                                {% set id_titulaire = 0 %}
                                                {% for ind in tab_ind %}
                                                    {% if ind == membre.individuTitulaire %}
                                                        {% set id_titulaire = membre.individuTitulaire.idIndividu %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ bouton('voir', {'objet':'membre', 'id':membre.idMembre}) }}
                                                {{ bouton('ajouter',{'objet':'individu' ,'cle':'id_membre','id':membre.idMembre,'title':'membre_ajouter_individu'|trans,redirect:url_courante() }) }}
                                                {{ bouton('modifier', {'objet':'membre','id':membre.idMembre,'class_cplt':'modal-form','redirect':url_courante()}) }}
                                                {{ bouton('supprimer',{'objet':'membre','id':membre.idMembre,'redirect':url_courante(),'token': csrf_token('delete-membre-' ~ membre.idMembre)}) }}
                                                {% if conf('prestation.adhesion') %}
                                                    {% if not membre.estSorti %}
                                                        {{ bouton('sortir',{'action':'sortir','id_membre':membre.idMembre,'class_cplt':'modal-form'}) }}
                                                    {% else %}
                                                        <a href="{{ path('membre_reprendre',{'idMembre':membre.idMembre}) }}"
                                                           data-confirm="{{ 'texte_modal_reprendre'|trans }}"
                                                           class="btn btn-success force-tooltip"
                                                           title="{{ 'membre_reprendre'|trans }}">
                                                            <i class="fa fa-sign-in-alt"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    {% else %}
                        Cet individu n'est pas adhérent
                    {% endif %}
                </div>
            </div>
        </div>




        {% include('inclure/table_bloc_servicerendu.html.twig')with{'objet_bloc':'individu','id':objet_data.IdIndividu,'data_sr':servicerendu} only %}

        {% for ob,dat in datatables %}
            {% include('inclure/table_bloc.html.twig') with{'datatable':dat,'objet_bloc':ob} only %}
        {% endfor %}


        {% if autorisations is defined %}
            {% include('inclure/table_bloc_autorisation.html.twig')with{'autorisations':autorisations,'objet_data':objet_data} only %}
        {% endif %}



    </div>
    <script type="application/javascript">
        $('document').ready(function () {
            initialisation_modal_infolettre();
            initialisation_infolettre();
            initialisation_npai();
            initialisation_carte_adherent();
        })
    </script>
{% endblock %}

