<div class="float-right">
    <div class="btn-group">
        {{ bouton('voir', {'objet':'voteproposition','id':prop.idVoteproposition,class_cplt:'btn-sm'}) }}
        {% if not voteClot %}
        {{ bouton('modifier', {'objet':'voteproposition','id':prop.idVoteproposition,'redirect':url_courante(),class_cplt:'btn-sm modal-form'}) }}
        {{ bouton('supprimer', {'objet':'voteproposition','id':prop.idVoteproposition,'redirect':url_courante(),class_cplt:'btn-sm'}) }}
        {% endif %}
    </div>
</div>
<div class="titre">{{ prop.nom }}</div>
<div class="prop">
    <div class="texte">
        {{ prop.texte|raw }}
        <div class="choix">
            Choix :
            <ul class="list-inline">
                {% for choix in prop.choix %}
                    <li class="list-inline-item">
                        {{ choix.nom }}
                        <small>{{ choix.texte|raw }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
<div class="clearfix"></div>