<div id="contenu" class="box">
    <div class="container">
        <div class="box-header">
            <div class="box-title">
                Résultat de la votation {{ objet_data.idVotation }} : {{ objet_data.nom }}
            </div>
        </div>

        <div class="box-body">

            <div class="row  py-5">
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>Date de début</dt>
                        <dd>
                            {% if objet_data.dateDebut %}
                                {{ objet_data.dateDebut.format('d/m/Y à H:i') }}
                            {% endif %}
                        </dd>
                        <dt>Date de fin</dt>
                        <dd>
                            {% if objet_data.dateFin %}
                                {{ objet_data.dateFin.format('d/m/Y à H:i') }}
                            {% endif %}
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>Nombre d'inscrits</dt>
                        <dd>{{ nb_inscrit }}</dd>
                        <dt>Votes exprimés</dt>
                        <dd>{{ nb_vote_exprime_valide }} votes comptabilisables
                            {% if nb_vote_exprime_non_valide >0 %}
                                et  {{ nb_vote_exprime_non_valide }} non comptabilisable
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
            {% set groupe_en_cours='' %}
            {% for r in result %}
                {% if r.prop.groupe!=groupe_en_cours %}
                    <h4>{{ r.prop.groupe }}</h4>
                    {% set groupe_en_cours=r.prop.groupe %}
                {% endif %}

                <h5>{{ r.prop.nom }}</h5>
                <div class="row py-5">
                    <div class="col-lg-7">

                        <p class="texte">{{ r.prop.texte|raw }}</p>
                        <p>
                            Vainqueur : <strong>{{ r.resultat.winner|join(', ') }}</strong>
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <table class="table table-striped">
                            {% for choix,nb_suffrages  in r.resultat.stats %}
                                <tr>
                                    <td>{{ r.choix[choix].nom }}</td>
                                    <td class="text-right">{{ nb_suffrages }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <hr/>
            {% endfor %}

        </div>
    </div>
</div>

