{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}

    {% block formulaire %}
    {% if objet_data.etat == 2  %}
        {{ objet_data.resultat|raw }}
    {% else %}
        {% include('vote/votation/resultat_export.html.twig')  %}
    {% endif %}
    {% endblock %}
    <a href="{{ path('votation_show',{'idVotation':objet_data.primaryKey}) }}" class="btn btn-secondary"><i
                class="fa fa-backward"></i> Retour à la fiche</a>
{% endblock %}