{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/wysi.css') }}"/>
    <script src="{{ asset('assets/js/wysi.js') }}"></script>
{% endblock %}
{% block content %}
        <div id="aside"class="col-md-4">

                <div id="contenu" class="box">
                    <div class="box-body">
                        <div class=" float-right">
                            {{ bouton('modifier') }}
                            {{ bouton('dupliquer') }}
                            {{ bouton('supprimer') }}
                        </div>
                        <div class="numero">{{ objet_data.primaryKey }}</div>
                        <div class="nom h2">{{ objet_data.nom }}</div>
                        <div class="texte">{{ objet_data.texte }}</div>

                        <dl class="dl-horizontal">
                            <dt>État</dt>
                            <dd>
                                {% if objet_data.estEnPreparation  %}
                                    <span class="badge badge-info">En préparation</span>
                                {% elseif objet_data.estClot %}
                                    <span class="badge badge-danger">Clot</span>
                                {% else %}
                                    {% if objet_data.dateDebut %}
                                            {% if objet_data.estFini %}
                                                <span class="badge badge-warning">Fini</span>
                                            {% elseif objet_data.estPret %}
                                                <span class="badge badge-warning">Prêt</span>
                                            {% else %}
                                                    <span class="badge badge-success">En cours</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="badge badge-success">En cours</span>
                                    {% endif %}


                                {% endif %}
                            </dd>


                            <dt>Visibilité du vote</dt>
                            <dd>
                                {% if objet_data.selectionVisibleJson %}
                                    {{ objet_data.selectionVisibleJson.nom }}
                                    <div class="small">
                                    {{ nb_selection_visible }} adhérents
                                {% else %}
                                    Tous les adhérents
                                {% endif %}
                            </dd>
                            <dt>Inscrits aux votes</dt>
                            <dd>
                                {% if objet_data.selectionJson %}
                                    {{ objet_data.selectionJson.nom }}
                                    <div class="small">
                                    {{ nb_inscrit }} adhérents succeptibles de voter
                                    </div>
                                {% else %}
                                        Tous les adhérents
                                {% endif %}
                            </dd>
                            {% if not (objet_data.dateDebut == null and  objet_data.dateFin== null)  %}
                                <dt>Date de début</dt>
                                <dd>
                                    {% if objet_data.dateDebut %}
                                        {{ objet_data.dateDebut.format('d/m/Y à H:i') }}
                                    {% endif %}
                                </dd>
                                <dt>Date de fin</dt>
                                <dd>
                                    {% if objet_data.dateFin %}
                                        {{ objet_data.dateFin.format('d/m/Y à H:i') }}
                                    {% endif %}
                                </dd>
                            {% endif %}
                        </dl>

                            {% if objet_data.estEnPreparation  %}
                                <a href="{{ path('votation_ouvrir',{'idVotation':objet_data.idVotation}) }}" class="btn btn-sm btn-success ajaxjson-redirect">Ouvrir la votation</a>
                            {% elseif not objet_data.estClot %}
                                <a href="{{ path('votation_retour_preparation',{'idVotation':objet_data.idVotation}) }}" class="btn btn-sm btn-info ajaxjson-redirect">Retour en prépration</a>
                                <a href="{{ path('votation_clore',{'idVotation':objet_data.idVotation}) }}" class="btn btn-sm btn-danger ajaxjson-redirect">Cloturer la votation</a>
                            {% else %}
                                <a href="{{ path('votation_ouvrir',{'idVotation':objet_data.idVotation}) }}" class="btn btn-sm btn-success ajaxjson-redirect">Réouvrir la votation</a>
                            {% endif %}

                    </div>
                </div>
                <div class="box">

                    <div class="box-body">

                        {% if not objet_data.estClot %}
                        <dl class="dl-horizontal">
                            <dt>Nombre d'inscrits</dt>
                            <dd>{{ nb_inscrit }}</dd>
                            <dt>Votes exprimés</dt>
                            <dd>{{ nb_vote_exprime }}</dd>
                        </dl>
                        <a href="{{ path('votation_resultat',{"idVotation" : objet_data.idVotation}) }}"
                           class="btn btn-success btn-block">Calculer les resultats</a>
                        {% else %}
                            <a href="{{ path('votation_resultat',{"idVotation" : objet_data.idVotation}) }}"
                               class="btn btn-success btn-block btn-modal">Voir les resultats</a>
                        {% endif %}
                    </div>
                </div>
                <a href="{{ path(objet_en_cours()~'_index') }}" class="btn btn-secondary"><i class="fa fa-backward"></i>
                    back to list</a>
            </div>

        <div id="contenu" class="col-md-8">

            <div class="box">
                <div class="box-header">
                    {% if not objet_data.estClot %}
                    <div class="float-right">
                        <a href="{{ path('voteproposition_new',{'idVotation':objet_data.primaryKey,'redirect':url_courante()}) }}"
                           class="btn btn-success modal-form"><i class="fa fa-plus"></i> Ajouter une proposition</a>
                        <a href="{{ path('votepropositiongroupe_new',{'idVotation':objet_data.primaryKey,'redirect':url_courante()}) }}"
                           class="btn btn-success modal-form"><i class="fa fa-plus"></i> Ajouter un groupe</a>
                        <a href='{{ path('preference_edit',{'pref':'votation|voteproposition','redirect': url_courante()}) }}'
                           class="btn btn-secondary modal-form"><i class="fa fa-cog"></i></a>
                    </div>
                    {% endif %}
                    <div class="box-title">Liste des propositions</div>

                </div>
                <div class="box-body">
                    <ul id="voteproposition" class="list-group sortable"
                        data-href="{{ path('votation_trier_proposition',{'idVotation':objet_data.getIdVotation}) }}">
                        {% for id_elt,elt in objet_data_ext.listeProposition %}

                            {% if elt.info is defined %}
                                <li class="list-group-item" data-id="{{ id_elt }}">
                                    <div class="float-left">
                                        <div class="btn drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="float-right">
                                        {% if not objet_data.estClot %}
                                        <div class="btn-group">
                                        {{ bouton('ajouter', {'objet':'voteproposition','bt_texte':true,'args':{'idVotation':objet_data.idVotation,'groupe':elt.info.primaryKey,'redirect':url_courante()},class_cplt:'btn-sm'}) }}
                                        </div>
                                        <div class="btn-group">
                                            {{ bouton('modifier', {'objet':'votepropositiongroupe','id':elt.info.idVotepropositiongroupe,'redirect':url_courante(),class_cplt:'btn-sm modal-form'}) }}
                                            {{ bouton('supprimer', {'objet':'votepropositiongroupe','id':elt.info.idVotepropositiongroupe,'redirect':url_courante(),class_cplt:'btn-sm'}) }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="titre">{{ elt.info.nom }} <span class="badge badge-secondary">Groupe</span></div>
                                    <div class="groupe">

                                        <div class="texte">{{ elt.info.texte|raw }}</div>

                                        <div class="props">
                                            <ul class="list-group">
                                                {% for prop in elt.props %}
                                                    <li class="list-group-item">
                                                        {% include('vote/votation/prop.html.twig') with{'prop':prop.prop,voteClot:objet_data.estClot  } only %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            {% else %}
                                <li class="list-group-item" data-id="{{ id_elt }}">
                                    <div class="float-left">
                                        <div class="btn drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                    </div>
                                    {% include('vote/votation/prop.html.twig') with{'prop':elt.prop,voteClot:objet_data.estClot } only %}
                                    <div class="clearfix"></div>
                                </li>

                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>



            {% set objet_bloc = 'votant' %}
            {% set datatable = datatable_votant %}
            {% set options_js = {} %}
            <div class="box">
                <div class="box-header">
                    <div class="float-right">
                        <a href="{{ path('votation_export_non_votant',{'idVotation':objet_data.primaryKey}) }}"
                           class="btn btn-secondary"> Lister les non votants</a>
                        {% if not objet_data.estClot %}
                        <a href="{{ path('votation_demo',{'idVotation':objet_data.primaryKey}) }}"
                           class="btn btn-primary modal-form"><i class="fa fa-star"></i> Ajouter un vote</a>
                        {% endif %}
                    </div>
                    <div class="box-title">Liste des votants</div>
                </div>
                <div class="box-body">
                    {% include('inclure/table_dyn.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}

                </div>
            </div>


            {% set objet_bloc = 'votationprocuration' %}
            {% set datatable = datatable_votationprocuration %}
            {% set options_js = {} %}
            <div class="box">
                <div class="box-header">
                    {% if not objet_data.estClot %}
                    <div class="float-right">
                        <a href="{{ path('votationprocuration_new',{'idVotation':objet_data.primaryKey,'redirect':url_courante()}) }}"
                           class="btn btn-success modal-form">Ajouter une procuration</a>
                    </div>
                    {% endif %}
                    <div class="box-title">Liste des procurations</div>
                </div>
                <div class="box-body">
                    {% include('inclure/table_dyn.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
                </div>
            </div>

        </div>






{% endblock %}