{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block content %}
    <div id="contenu" class="col-md-12">
        <div class="box">
            <div id="super_tableau_{{ objet }}">
                <nav class="navbar navbar-secondary ">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                {% set pref = objet ~ '|export' %}
                                <a id="pref_{{ objet }}"
                                   href="{{ path('preferences',{'pref': pref,'redirect':  path(objet~'_liste',{'action':'export'~objet})}) }}"
                                   class="btn modal-form">
                                    <span class="fa fa-file-download"></span> Exportation vers tableur
                                </a>
                            </li>
                        </ul>
                        {% include('inclure/barre_filtre.html.twig') with{'objet':objet,'tab_filtres':tab_filtres,'selection':1} only %}
                    </div>
                </nav>
                <div class="haut_de_table">
                    {#{% include('inclure/trier_par.html.twig') with{'objet':objet,'tab_trier_par':tab_trier_par} only %}#}
                    {% include('inclure/nb_resultat.html.twig') with{'objet':objet} only %}
                </div>
                <div id="filtre_en_cours">
                    <div class="titre">Filtre en cours :</div>
                    <ul class="list-inline">

                    </ul>

                </div>
                {% include('inclure/table_col.html.twig') with{'tab_col':tab_col,class : 'ajaxdatatable'} only %}
            </div>
            {% if tri is not defined %}{% set tri = donneTabTri(objet) %}{% endif %}
            {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet,'tab_col':tab_col,'tab_filtres':tab_filtres,'tri':tri} only %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            initialisation_champs_autocomplete_geo($('#super_tableau_{{ objet }}'), 'toto');
            initialisation_selection();
        })
    </script>
{% endblock %}
