{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set objet_data = charger_objet() %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-3">
        <div class="info-box">
            <div class="box-header">
                {#<span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>#}

                {#<div class="info-box-content">#}
                    <div class="float-right">
                        <div class="btn-group-vertical" role="group" aria-label="...">
                            {{ bouton('modifier', {'id_compte':objet_data.idCompte,'class_cplt':'modal-form','redirect': url_courante,'tooltip':false}) }}
                            {{ bouton('supprimer',{'id_compte':objet_data.idCompte,'tooltip':false}) }}

                        </div>
                    </div>
                    <div>
                        <dl class="dl-horizontal">
                            <dt>{{ 'compte'|trans }}:</dt>
                            <dd>{{ objet_data.Ncompte }}</dd>
                            <dt>{{ 'nom'|trans }}:</dt>
                            <dd> {{ objet_data.nom }}</dd>
                            <dt>{{ 'numero'|trans }} :</dt>
                            <dd>{{ objet_data.idCompte }} </dd>
                            <dt>{{ 'nomcourt'|trans }} :</dt>
                            <dd>{{ objet_data.Nomcourt }} :</dd>
                            <dt>{{ 'poste'|trans }} :</dt>
                            <dd>{{ objet_data.getPoste.getNomcourt() }}</dd>
                            <dt>{{ 'type_op'|trans }} :</dt>
                            <dd>{{ objet_data.typeOp|getTypeOp }}</dd>

                            {% if  (objet_data.soldeAnterieur !=0) %}
                                <dt>{{ 'solde_anterieur'|trans }} :</dt>
                                <dd>
                                    {{ objet_data.soldeAnterieur }}
                                    {{ 'date_anterieure'|trans }} :
                                    {% if  (objet_data.dateAnterieure is defined) %}
                                        {{ objet_data.dateAnterieure|date("d/m/Y") }}
                                    {% else %}
                                        {{ 'à corriger' }}
                                    {% endif %}
                                </dd>
                            {% endif %}

                            <dt>{{ 'entite'|trans }} :</dt>
                            <dd>{{ objet_data.idEntite|getNomEntite }}</dd>
                        </dl>
                    </div>

                </div>
            </div>
            {% if objet_data.observation is not empty %}
                <div class="box box-secondary informations">
                    <div class="box-header">
                        <h4> {{ 'informations'|trans }}</h4>
                        <dl class="dl-horizontal">
                            {% if objet_data.observation %}
                                <dt>{{ 'observation'|trans }}</dt>
                                <dd>{{ objet_data.observation }}</dd>
                            {% endif %}
                            {#todo ajouté la ged#}
                        </dl>
                    </div>
                </div>
            {% endif %}
            {% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}
            <div class="box-secondary retour">
                <div class="back">
                    <a href='{{ path('piece_liste') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }}  {{ 'pieces'|trans }}</a>
                    <a href='{{ path('compte_liste') }}' class="btn btn-secondary">  {{ 'comptes'|trans }}</a>
                    <a href='{{ path('journal_liste') }}' class="btn btn-secondary">  {{ 'journals'|trans }}</a>
                </div>

            </div>
        </div>
    </div>
    <div id="contenu" class="col-sm-9">
        {% set id_compte  = objet_data.idCompte %}
        {% include('inclure/table_bloc.html.twig') with{'dyn':true,'charger_data' : true,'objet_bloc':'ecriture','tab_col':donneTabCol('ecriture'),'tab_filtres':donneTabFiltre('ecriture'),'filtres_statiques':{ id_compte: objet_data.IdCompte}} only %}
    </div>

{% endblock %}

