{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}
     <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        <div id="contenu" class="box">
            <div class="box-body">
                <div class=" float-right">
                    {{ bouton('modifier') }}
                    {{ bouton('supprimer') }}
                </div>
                <div class="btn-group-horizontal">
                    <dl class="dl-horizontal">
                    <dt>{{ 'Comte'|trans }} :</dt><dd>{{ objet_data.primaryKey }} - {{ objet_data.Nom }}
                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }}</dd>
                    <dt>{{ 'ncompte'|trans }} :</dt>
                    <dd>{{ objet_data.ncompte }}</dd>
                    <dt>{{ 'typeop'|trans }} :</dt>
                    {#todo a faire fonctionner listeTypeOp'#}
                    {#<dd>{{ getListeTypeOp(objet_data.typeOp) . "     ".decode('typeOp',objet_data.typeOp)}} -- {{ objet_data.typeOp }} </dd>#}
                    <dd>{{  decode('typeOp',objet_data.typeOp)}} -- {{ objet_data.typeOp }} </dd>
                    <dt>{{ 'poste'|trans }} :</dt>
                    <dd>{{ objet_data.poste.primaryKey }} - {{ objet_data.poste.nom }}</dd>
                    <dt>{{ 'entite'|trans }} :</dt>
                    <dd>{{ objet_data.entite.primaryKey }} - {{ objet_data.entite.nom }}</dd>
                    </div>
                </div>
               </div>
                {% if objet_data.observation is not empty %}
                    <div class="box box-secondary informations">
                        <div class="box-header">
                            <h4> {{ 'informations'|trans }}</h4>
                            <dl class="dl-horizontal">
                                {% if objet_data.observation %}
                                    <dt>{{ 'observation'|trans }}</dt>
                                    <dd>{{ objet_data.observation }}</dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>
                {% endif %}
                <div class="box-secondary retour">
                    <div class="back">
                        <a href='{{ path('piece_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }} des {{ 'pieces'|trans }}</a>
                        <a href='{{ path('compte_index') }}' class="btn btn-secondary"> des {{ 'comptes'|trans }}</a>
                        <a href='{{ path('journal_index') }}' class="btn btn-secondary"> des {{ 'journals'|trans }}</a>
                        <a href='{{ path('activite_index') }}' class="btn btn-secondary"> des {{ 'activites'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
 			<div class="box box-secondary">
            <div class="box-header">
                <h4>Liste des ecritures du  {{ 'compte'|trans }} : {{ objet_data.Nom }}</h4>
                <div class="float-right">
                    {{ bouton('ajouter',{'objet':'piece','id':'','args':{'id_compte':objet_data.primaryKey},'redirect':url_courante(),'bt_texte':true,'class_cplt':'modal-large'}) }}
                </div>
            </div>
            <div class="box-body">
                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'ecriture','datatable':ecriture_table,'redirect':url_courante() } only %}
            </div>
        </div>
        </div>
    </div>





{% endblock %}