
<div id="progression" class="progression progress active">
        <div id="barre_progression"
         class="progress-bar progress-bar-success progress-bar-striped"
         role="progressbar"
         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
         style="width: 0%;">
        0 %
    </div>
</div>
<div id="etat_progression">{{ message }}</div>
<script type="application/javascript">
    function lancer_traitement(adresse) {
        $.ajax({
            dataType: "json",
            url: adresse,
            success: function (msg) {

                $('#barre_progression')
                    .css("width", msg["progression_pourcent"] + "%")
                    .text(msg["progression_pourcent"] + "%");
                $('#message_progression').html(msg["message"]);
                if (msg["message_permanent"])
                    $('#message_permanent').prepend(msg["message_permanent"]+"<br>");
                if (msg["progression_pourcent"] == 100) {
                    setTimeout(function () {
                        redirection('{{ url_redirect }}');
                    }, 500);
                } else {
                    lancer_traitement(adresse);
                }

            }
        });
    }

    $(document).ready(function () {
        var adresse = '{{ url|raw }}';

        lancer_traitement(adresse);
        $('#progression').after('<div id="message_progression"></div><hr/><div id="message_permanent"></div>');

    });

</script>
