{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block body %}

        <h2>{{ 'carte'|trans }}</h2>
        {% block formulaire %}
            <div id="map_pos" class="map carte"></div>
            {% form_theme form with ['form_large.html.twig'] %}
            {{ form(form) }}
            <style>
                #map_pos {
                    width: 100%;
                    height: 400px;
                }
            </style>



            <script type="text/javascript">

                $(document).ready(function(){

                    {% include('geo/init_carte.js.twig') with{'id_map':'_pos'} %}


                    lat = $('#carte_lat').val();
                    lon= $('#carte_lon').val();
                    zoom=10;
                    if (lat == '' || lon == ''){
                        {% set geo_position= conf('geo.position')  %}
                        lat = {{ geo_position.lat }};
                        lon= {{ geo_position.lon }};
                    }
                    lat_lon = new L.latLng(lat, lon);
                    map_pos.setView([lat, lon], zoom);

                    var marker = new L.marker(lat_lon, {draggable: true});
                    map_pos.addLayer(marker);
                    marker.on('dragend', function (event) {

                        var marker = event.target;
                        var result = marker.getLatLng();
                        $('#carte_lat').val(result.lat);
                        $('#carte_lon').val(result.lng);
                    });


                });

            </script>



        {% endblock %}

{% endblock %}

