{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block content %}

    <h2>{{ 'carte'|trans }} {{ objetxy|trans }}</h2>
    {% block formulaire %}
        <style>
            #map {
                width: 100%;
                height: 500px;
            }
        </style>
        <div id="map"></div>

        <script type="text/javascript">

            $(document).ready(function () {
                var sites = {{ tab_gis|json_encode|raw }};

                {% include('geo/init_carte.js.twig') %}

                var markers = L.markerClusterGroup();

                var greenIcon = L.icon({
                    iconUrl: '{{ asset('assets/images/perso_ok.png')}}',
                    iconSize: [30, 30],
                    iconAnchor: [15, 15],
                    popupAnchor: [-2, -16]
                });

                var redIcon = L.icon({
                    iconUrl: '{{ asset('assets/images/perso_error.png')}}',
                    iconSize: [30, 30],
                    iconAnchor: [15, 15],
                    popupAnchor: [-2, -16]
                });

                var orangeIcon = L.icon({
                    iconUrl: '{{ asset('assets/images/perso_warning.png')}}',
                    //shadowUrl: '{{ asset('assets/images/leaf-shadow.png')}}',
                    iconSize: [30, 30],
                    //    shadowSize: [50, 64],
                    iconAnchor: [15, 15],
                    //  shadowAnchor: [4, 20],
                    popupAnchor: [-2, -16]
                });

                var markerIcon = L.icon({
                    iconUrl: '{{ asset('assets/images/marker-icon.png')}}',


                    iconSize: [40, 60], // taille de l'icone
                    // shadowSize: [50, 60], // taille de l'ombre
                    iconAnchor: [20, 30], // point de l'icône qui correspondra à l'emplacement du marqueur
                    shadowAnchor: [4, 62],  // le même pour l'ombre
                    popupAnchor: [0, -20] // point à partir duquel la fenêtre contextuelle doit s'ouvrir par rapport à l'icône
                });

                var Icon = L.icon({
                    iconUrl: '{{ asset('assets/images/marker-icon.png')}}',

                    iconSize: [30, 50], // size of the icon
                    popupAnchor: [-3, -25] // point from which the popup should open relative to the iconAnchor
                });


                for (var i = 0; i < sites.length; i++) {
                    var a = sites[i];
                    var b = Icon;

                    if (a[5] == 'membre1') b = redIcon;
                    if (a[5] == 'membre2') b = orangeIcon;
                    if (a[5] == 'membre') b = greenIcon;
                    if (a[5] == 'individu') b = redIcon;
                    if (a[5] == 'entite') b = markerIcon;
                    var marker = L.marker(new L.LatLng(a[3], a[4]), {title: a[1], icon: b});

                    marker.bindPopup('<strong>' + a[1] + ' ' + a[2] + ' <a href="{{ url_objet}}' + a[0] + '">voir la fiche</a>');
                    markers.addLayer(marker);
                }

                map.addLayer(markers);
            });
        </script>

    {% endblock %}

{% endblock %}

