{% extends 'base.html.twig' %}

{% block title %}Géographie{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
           <div class="box-title">Géographie</div>
        </div>
        <div class="box-body">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ path('region_index') }}" class="nav-link">Régions</a></li>
                <li class="nav-item"><a href="{{ path('departement_index') }}" class="nav-link">Départements</a></li>
                <li class="nav-item"><a href="{{ path('arrondissement_index') }}" class="nav-link">Arrondissements</a></li>
                <li class="nav-item"><a href="{{ path('commune_index') }}" class="nav-link">Communes</a></li>
                <li class="nav-item"><a href="{{ path('codepostal_index') }}" class="nav-link">Code postaux</a></li>
            </ul>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="{{ path('geo_init') }}" class="btn btn-secondary">importer les codes officiels géographiques français</a></li>
                    <li class="nav-item"><a href="{{ path('geo_liaison_commune_individu',{'total':1}) }}" class="btn btn-secondary">Effacer et recréer les liens entre les individus et les communes</a></li>
                    <li class="nav-item"><a href="{{ path('geo_liaison_commune_individu') }}" class="btn btn-secondary">Créer les liens entre les individus et les communes</a></li>

                </ul>

        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <div class="box-title">Géo-référencement</div>
        </div>
        <div class="box-body">
           {{ form(form_adresse) }}
        </div>
        <a href="{{ path('inspecteur',{'action':'individu_sans_coords_avec_adresse'}) }}" class="btn btn-secondary">Voir la liste des adhérents non-référencées</a>
        <a href="{{ path('geo_referencement_massif') }}" class="btn btn-warning">Géoréferencer</a>

        <script type="application/javascript">


            function autocomplete_adresse(data){

                return ' <div><strong>' +data.nom + '</strong> '+ data.city +"</div>";

            }

            function autocomplete_identify2 (obj) {
                return obj.id;
            }


            $(document).ready(function(){


        </script>

    </div>


{% endblock %}
