{% set geo_position= conf('geo.position')  %}
{% if id_map is not defined %}{% set id_map='' %}{% endif %}
var map{{ id_map }} = L.map('map{{ id_map }}',{fullscreenControl: true}).setView([{{ geo_position.lat }}, {{ geo_position.lon }}], {{ geo_position.zoom }});
{% set geo_fournisseur= conf('geo.fournisseur')  %}
L.tileLayer('{{ geo_fournisseur['url']|replace({ '--TOKEN--': geo_fournisseur.accessToken }) }}',
	{
	attribution: '{{ geo_fournisseur.attribution|raw }}',
	maxZoom: {{ geo_fournisseur.max_zoom }},
	{% if geo_fournisseur.id is defined %}
		id: '{{ geo_fournisseur['id'] }}',
	{% endif %}
	{% if geo_fournisseur.accessToken is defined %}
		accessToken: '{{ geo_fournisseur.accessToken }}'
	{% endif %}
	}
).addTo(map{{ id_map }});


