{% extends 'base.html.twig' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4">
            <div class="box box-solid" id="presentation">
                <div class="box-body">
                    <div class="float-right">
                        <img src="{{ asset('assets/images/simplasso_logo_400.png')}}" alt=""
                             class="img-responsive" width="190"/>
                    </div>
                    <h2>{{ 'simplasso_nom'|trans }}<br/>
                        <small> {{ 'simplasso_slogan'|trans }}</small>
                    </h2>
                    <p>{{ 'simplasso_presentation'|trans }} </p>
                    <hr/>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <strong>{{ 'Liens'|trans }} :</strong>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://simplasso.org" target="_blank">{% trans %}
                                Site du logiciel{% endtrans %}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ documentation_lien() }}" target="_blank">{% trans %}
                                Documentation en ligne{% endtrans %}</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="box box-solid" id="actualiste">
                <div class="box-header"><h2>Actualités</h2></div>
                <div class="box-body" id="actu-rss">

                </div>
                <script>
                    $(document).ready(function () {

                                $.getFeed({
                                    url: 'rss',
                                    success: function (feed) {
                                        tmp = '<ul class="list-unstyled">';
                                        nb = Math.min(feed.items.length, 5);
                                        for (i = 0; i < nb; i++) {
                                            item = feed.items[i];

                                            var date = moment(item['updated']);
                                            tmp += "<li><div class=\"badge badge-secondary float-right\">Publié le " + date.calendar() + "</div><div class=\"titre\"> <a href=\"" + item['link'] + "\">" + item['title'] + "</a></div><div class=\"texte\"> "+ item['description'] + "</div></li>"
                                        }
                                        tmp += "</ul>";
                                        $("#actu-rss").html(tmp);
                                        $("#actu-rss .texte a[rel=directory]").remove();
                                        $("#actu-rss .texte").each(function(){
                                            texte_rss = $(this).text()
                                            $(this).text(texte_rss.substr(0,texte_rss.length-8));
                                        })
                                    }
                                });

                            }
                    )

                </script>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="box " id="raccourci">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'Raccourcis'|trans }}</h3>
                </div>
                <div class="box-body">
                
                {% if conf('general.membrind') %}
                	<a class="btn btn-app" href="{{ path('membrind_index') }}">
                        <div><i class="fa fa-users fa-3x"></i></div>{{ 'membrind'|trans }}
                    </a>
                {% else %}
                    <a class="btn btn-app" href="{{ path('membre_index') }}">
                        <div><i class="fa fa-users fa-3x"></i></div>{{ 'membres'|trans }}
                    </a>
                    <a class="btn btn-app" href="{{ path('individu_index') }}">
                        <div><i class="fa fa-user fa-3x"></i></div>{{ 'individus'|trans }}
                    </a>
                {% endif %}
                    {% if autoriser('OBJET_generique_MOD') %}
                    <a class="btn btn-app" href="{{ path('statistique') }}">
                        <div><i class="fa fa-chart-bar fa-3x"></i></div>{{ 'statistique'|trans }}
                    </a>
                    <a class="btn btn-app" href="{{ path('paiement_index') }}">
                        <div><i class="fa fa-euro-sign fa-3x"></i></div>{{ 'paiements'|trans }}
                    </a>
                    {% endif %}
                    {% if autoriser('admin') %}
                        <a class="btn btn-app" href="{{ path('document_index') }}">
                           <div><i class="fa fa-file fa-3x"></i></div>{{ 'documents'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if pref('accueil.stat.afficher') and stat_adh is defined %}
                <div class="info-box bg-green">
                    <span class="info-box-icon "><i class="fa fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text"></span>
                            <span class="info-box-number">{{ stat_adh.nb_ok }} {{ 'membres'|trans }}
                                {{ 'stat_msg1'|trans }} {{ stat_adh.nb }} {{ 'stat_msg2'|trans }}
                            </span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" style="width: {{ stat_adh.nb_ok_pourcentage }}%" aria-valuenow="{{ stat_adh.nb_ok_pourcentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                            <span class="progress-description">{{ 'stat_msg3'|trans }}
                                {{ stat_adh.nb_ok_pourcentage }}% {{ 'stat_msg4'|trans}}</span>

                    </div>
                </div>
            {% endif %}
        </div>

    <div class="col-sm-4">
        <div class="box">
            <div class="box-header with-border">
                <div class="float-right">
                    {% include('inclure/lien.html.twig') with {'action': 'pref','url' : path('preference_edit', {'pref' : 'timeline.accueil', 'redirect':url_courante()})} only %}
                </div>
                <h3 class="box-title">{{ 'Dernières opérations'|trans }}</h3>
            </div>
            <div class="box-body">
                {% include('inclure/timeline.html.twig') %}
                <a class="btn btn-block btn-success" href="{{ path('timeline') }}">Voir tout l'historique</a>
            </div>
        </div>



    </div>
    
    </div>
</div>


{% endblock %}


