{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <div class="box">

        <div class="box-body">
            <div class="col-md-1 col-lg-offset-1">
                <i class="fa fa-4x fa-rocket"></i>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <p>Cette application a été initié et soutenu actuellement par la société <a href="https://www.declic3000.com">Déclic3000</a>
                        <p>Les contributeurs sont pour le moment :  
                        <ul>
                            <li>Guillaume Wauquier</li>
                            <li>Claude Wauquier</li>
                        </ul>
                        </p>
                        <h3>Remerciements</h3>
                        <p>Merci à tous les contributeurs des Logiciels des Libres de toute sorte et en particulier aux développeurs des dépendances utilisés par le logiciel Simplasso.</p>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-body">

                        version : {{ version }}

                    </div>
                </div>


            </div>


        </div>
    </div>


{% endblock %}
