{% extends 'base.html.twig' %}


{% block content %}

<div class="box">
    <div class="box-body">

<nav class="navbar navbar-expand-lg navbar-light">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="{{ path('inspecteur') }}" class="nav-link active"><i class="fa fa-stethoscope"></i></a>
            </li>

            <li role="presentation" class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="drop_servicerendu" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Qui
                </a>
                <div class="dropdown-menu" aria-labelledby="drop_servicerendu">

                        <a href="{{ path('inspecteur',{'action':'sans_operateur'}) }}" class="dropdown-item">{{ 'sans_operateur'|trans }}</a>

                        <a href="{{ path('inspecteur',{'action':'operateur_multiple'}) }}" class="dropdown-item>{{ 'operateur_multiple'|trans }}</a>

                </div>
            </li>

            <li role="presentation" class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="drop_servicerendu" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Service rendu
                </a>
                <div class="dropdown-menu" aria-labelledby="drop_servicerendu">

                        <a href="{{ path('inspecteur',{'action':'servicerendu_sans_paiement'}) }}">{{ 'servicerendu_sans_paiement'|trans }}</a>

                </div>
            </li>
            <li role="presentation" class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" id="drop_paiement" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Paiement
                </a>
                <div class="dropdown-menu" aria-labelledby="drop_paiement">

                        <a href="{{ path('inspecteur',{'action':'paiement_sans_membre'}) }}" class="dropdown-item">{{ 'paiement_sans_membre'|trans }}</a>

                        <a href="{{ path('inspecteur',{'action':'paiement_sans_affectation'}) }}" class="dropdown-item">{{ 'paiement_sans_affectation'|trans }}</a>

                </div>
            </li>
            <li role="presentation" class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" id="drop_mot" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    mot obligatoire
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop_mot">

                        <a href="{{ path('inspecteur',{'action':'obligatoire_membre_sans_mot'}) }}" class="dropdown-item">{{ 'obligatoire_membre_sans_mot groupe 1'|trans }}</a>

                        <a href="{{ path('inspecteur',{'action':'obligatoire_ajoute_mot'}) }}" class="dropdown-item">{{ 'obligatoire_ajoute_mot 3 groupe 1'|trans }}</a>

                </ul>
            </li>
            <li role="presentation" class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" id="drop_geo" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Géographie
                </a>
                <div class="dropdown-menu" aria-labelledby="drop_geo">

                        <a href="{{ path('inspecteur',{'action':'individu_sans_coords_avec_adresse'}) }}" class="dropdown-item">{{ 'individu non georeferencé avec adresse'|trans }}</a>

                        <a href="{{ path('inspecteur',{'action':'individu_sans_coords'}) }}" class="dropdown-item">{{ 'individu non georeferencé'|trans }}</a>

                        <a href="{{ path('inspecteur',{'action':'individu_sans_ville'}) }}" class="dropdown-item">{{ 'individu sans ville'|trans }}</a>

                        <a href="{{ path('inspecteur',{'action':'individu_sans_cp'}) }}" class="dropdown-item">{{ 'individu sans code postal'|trans }}</a>

                        <a href="{{ path('inspecteur',{'action':'individu_ville_inconnue'}) }}" class="dropdown-item">{{ 'individu ville inconnue'|trans }}</a>

                        <a href="{{ path('inspecteur',{'action':'individu_email_invalide'}) }}" class="dropdown-item">{{ 'individu email invalide'|trans }}</a>

                        <a href="{{ path('inspecteur',{'action':'individu_sans_nom'}) }}" class="dropdown-item">{{ 'individu sans nom'|trans }}</a>

                </div>
            </li>
            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle nav-link" id="drop_" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    infolettre
                </a>
                <div class="dropdown-menu" aria-labelledby="drop_">

                        <a href="{{ path('inspecteur_infolettre_ovh') }}" class="dropdown-item">{{ 'Comparatif infolettre OVH'|trans }}</a>
                        <a href="{{ path('inspecteur_infolettre_spip') }}" class="dropdown-item">{{ 'Comparatif infolettre SPIP'|trans }}</a>

                </div>
            </li>

        </ul>
    </nav>


        {% block tableau %}

            {% set action2 = action|split('_') %}

        {% if datatable is defined %}
            <h3 class="box-title">  {{ action|trans }}   </h3>


            <script type="application/javascript">

                $(document).ready(function () {

                    $('#filtres select').change(function () {
                                redirection('{{ url_courante() }}&' + $(this).attr('name') + '=' + $(this).val());
                                return false;
                            }
                    );

                    $('#filtres input[type=checkbox]').change(function () {

                                redirection('{{ url_courante() }}&' + $(this).attr('name') + '=' + $(this).val());
                                return false;
                            }
                    );

                    $('#filtres input[type=text]').change(function () {
                                redirection('{{ url_courante() }}&' + $(this).attr('name') + '=' + $(this).val());
                                return false;
                            }
                    );

                })


            </script>

        {% endif %}

            {% if action2[0]  =='individu' %}
				
                {% include('inclure/table_dyn.html.twig') with{'objet_bloc':'membrind','datatable':datatable } only %}

            {% elseif action  == 'servicerendu_sans_paiement' %}

                {% set tab_col_exclure= [] %}
                {% set tri =[['date_fin','desc']] %}
                {#% set tab_col = donneTabCol('servicerendu')|exclure_cles(tab_col_exclure) %#}
                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'servicerendu','charger_data':false,'data':tab,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}

            {% elseif action  == 'paiement_sans_membre' %}
                {% set tab_col_exclure= [] %}
                {% set tri =[['date_enregistrement','desc']] %}
                {#% set tab_col = donneTabCol('paiement')|exclure_cles(tab_col_exclure) %#}
                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'paiement','charger_data':false,'data':tab,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}
            {% elseif action  == 'paiement_sans_affectation' %}
                {% set tab_col_exclure= [] %}
                {% set tri =[['date_enregistrement','desc']] %}
                {#% set tab_col = donneTabCol('paiement')|exclure_cles(tab_col_exclure) %#}
                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'paiement','charger_data':false,'data':tab,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}
            {% elseif action  == 'obligatoire_membre_sans_mot' %}
                {% set tab_col_exclure= [] %}
                {% set tri =[['nom','desc']] %}
                {#% set tab_col = donneTabCol('mot')|exclure_cles(tab_col_exclure) %#}
                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'mot','charger_data':false,'data':tab,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}


            {% endif %}




        {% endblock %}
      


    </div>
</div>
{% endblock %}
