{% extends 'base'~layout_cplt()~'.html.twig' %}
{% set id= objet_data.idIndividu %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">

        <div class="info-box">
            {% set mot_cle = objet_data_ext.getMotsSysteme %}
            {% set carte_adherent = mot_cle|keys|carte_adherent_etat %}

            {% if objet_data_ext.hasImage %}
                <div class="info-box-image">
                    <img src="{{ path('image',{'type':'miniature','objet':'individu','id_objet':objet_data.primaryKey,'crop':1}) }}"
                         alt="{{ objet_data.nom }} "  class="img-thumbnail" />
                </div>
            {% else %}
                <span class="info-box-icon"><i class="fa fa-user" /></i></span>
            {% endif %}

            <div class="info-box-content">
                <div class="float-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {% if sac('objet') != 'individu' and sac('objet') != 'membrind' %}
                            {{ bouton('voir',{ 'objet':'individu','id':objet_data.IdIndividu,'tooltip':false}) }}
                        {% endif %}
                        {{ bouton('modifier', {'objet':'individu','id':objet_data.IdIndividu,'class_cplt':'modal-form','redirect': sac('url_courante'),'tooltip':false}) }}
                        {{ bouton('changer_mdp',{class_cplt:'modal-form','objet':'individu','id':objet_data.IdIndividu,'redirect': sac('url_courante'),'tooltip_placement':'right'}) }}
                        <button data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"
                                type="button"><span class="caret"></span></button>
                    </div>
                </div>
                {% if membre is defined and objet_data.estTitulaireDuMembre(membre.idMembre) %}

                    <span class="badge badge-warning"><i
                                class="fa fa-crown"></i></span>
                {% endif %}



                &nbsp;{{ objet_data.IdIndividu }}

                {% if objet_data.civilite %} - {{ objet_data.civilite }}{% endif %}

                <h4 class="box-title">
                    {% if objet_data.nomFamille is empty %}
                        {{ objet_data.nom }}

                    {% else %}
                        {{ objet_data.nomFamille }} {{ objet_data.prenom }}
                    {% endif %}
                    {% if objet_data_ext.estDecede %}
                        <i class="ico ico-ruban-noir"></i>
                    {% endif %}
                    {% if objet_data.organisme is not empty %}
                        <br>
                        <small>{{ objet_data.organisme }}</small>
                    {% endif %}
                </h4>
                {% if objet_data.service is not empty %}
                    <br> {{ objet_data.service }}
                {% endif %}
                {% if objet_data.fonction is not empty %}
                    <br> {{ objet_data.fonction }}
                {% endif %}


                {% if objet_data.ville %}
                    <div class="float-left">
                        <a href="{{ path('carte_positionner',{objet:'individu','id': objet_data.IdIndividu,'redirect':url_courante()}) }}"
                           class="btn modal-form modal-large{% if not objet_data.estGeoreference %} text-danger{% endif %}"
                           id="btn_carte{{ objet_data.IdIndividu }}"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
                    </div>
                    <div class="el npai">
                        {% include('inclure/npai.html.twig') with { 'type':'adres', 'id' : objet_data.IdIndividu,'mots':mot_cle } only %}
                        {% if objet_data.adresseCplt %}{{ objet_data.adresseCplt }}<br/>{% endif %}
                        {{ objet_data.adresse }}<br/>
                        {% if objet_data.bpLieudit %}{{ objet_data.bpLieudit }}<br/>{% endif %}
                        {{ objet_data.codePostal }} {{ objet_data.ville }}
                        {% if objet_data.pays and objet_data.pays != conf('general.pays') %}<br/>{{ objet_data.pays|getPays() }}{% endif %}
                    </div>
                {% endif %}

                {% set tab_zone = objet_data.zones %}

                {% if tab_zone is not empty %}
                    <div class="el">
                        <i class="fa fa-street-view"></i>
                        {% for zone in tab_zone %}
                            {{ zone.nom }}
                            {% if not loop.last%} - {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if objet_data.email %}
                    <div class="el npai">
                        <i class="fa fa-envelope" aria-hidden="true"></i> {{ objet_data.email|lien_courriel }}
                        {% include('inclure/npai.html.twig') with { 'type':'email', 'id' : objet_data.IdIndividu,'mots':mot_cle } only %}
                    </div>
                {% endif %}
                {% if objet_data.telephone %}
                    <div class="el npai">
                        <i class="fa fa-phone" aria-hidden="true"></i> {{ objet_data.telephone|afficher_telephone }}
                        {% include('inclure/npai.html.twig') with { 'type':'telep', 'id' : objet_data.IdIndividu,'mots':mot_cle } only %}
                    </div>
                {% endif %}
                {% if objet_data.mobile %}
                    <div class="el npai">
                        <i class="fa fa-mobile-alt" aria-hidden="true"></i> {{ objet_data.mobile|afficher_telephone }}
                        {% include('inclure/npai.html.twig') with { 'type':'mobil', 'id' : objet_data.IdIndividu,'mots':mot_cle } only %}
                    </div>
                {% endif %}
                {% if objet_data.telephonePro %}
                    <div class="el npai">
                        <i class="fa fa-phone" aria-hidden="true"></i> {{ objet_data.telephonePro|afficher_telephone }}
                        {% include('inclure/npai.html.twig') with { 'type':'tele2', 'id' : objet_data.IdIndividu,'mots':mot_cle } only %}
                    </div>
                {% endif %}
                {% if conf('module.infolettre') and tab_infolettre is not empty and objet_data.email %}
                    {% set tab_inscription = objet_data_ext.getIdInfolettreInscrit %}
                    <div class="el">
                        {% if tab_infolettre|length > 3 %}
                            <div class="float-right">
                                <a class="btn btn-secondary btn-xs"
                                   data-infolettre="{{ tab_inscription|join(',') }}"
                                   data-href="{{ path('infolettre_changer_inscription_email',{'email':objet_data.email,'redirect':sac('url_courante')}) }}">
                                    Modifier
                                </a>
                            </div>
                            <i class="fa fa-newspaper-o"></i>
                            {% if tab_infolettre is not empty %}
                                {{ tab_inscription|length }} infolettres
                            {% else %}
                                aucune infolettre
                            {% endif %}
                        {% else %}
                            <i class="fa fa-newspaper-o"></i>
                            <div class="btn-group">
                                {% for id,infolettre in tab_infolettre %}
                                    {% set estInscrit = (id in tab_inscription) %}
                                    {% include('inclure/bouton_inscription.html.twig') with{'id':id,'nom':infolettre.nom,'estInscrit':estInscrit,'idIndividu':objet_data.idIndividu} only %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}



                <div class="clearfix"></div>
            </div>


        </div>

        <div class="box box-secondary informations">
            <div class="box-header">
                <h4> {{ 'informations'|trans }}</h4>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    {% if objet_data.observation %}
                        <dt>{{ 'observation'|trans }}</dt>
                        <dd>{{ objet_data.observation }}</dd>
                    {% endif %}
                    {% if objet_data.url %}
                        <dt>{{ 'URL'|trans }} :</dt>
                        <dd>{{ objet_data.url }}</dd>
                    {% endif %}

                </dl>
            </div>
        </div>

        {#{% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}#}

        <div class="back">
            <a href='{{ path('individu_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }}</a>
        </div>

    </div>

    <!-- Colonne principal-->
    <div id="contenu" class="col-md-8">


        {% if autorisations is defined %}
            {% include('inclure/table_bloc_autorisation.html.twig')with{'autorisations':autorisations,'objet_data':objet_data} only %}
        {% endif %}


        {% for ob,dat in datatables %}
            {% include('inclure/table_bloc.html.twig') with{'datatable':dat,'objet_bloc':ob} only %}
        {% endfor %}
    </div>

{% endblock %}

