{% extends 'base.html.twig' %}

{% block menu_header_suppl %}
    {% if default == 1 %}
        <a class="btn btn-primary" href="{{ url('preferences') }}">Mes preférences </a>
    {% else %}
        <a class="btn  btn-primary" href="{{ url('preferences',{'default':1}) }}">Preférence par défaut</a>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="box">
    <div class="box-body">
        <div class="row">


         <div  class="col-sm-3" >

             <h3>
             {% if default == 1 %}
                 Preférence par défaut
             {% else %}
                    Mes préferences
             {% endif %}
             </h3>
             <nav id="spy" class=" hidden-print hidden-sm d-none d-sm-block" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                 <ul class="nav nav-pills nav-stacked  flex-column left-menu">
                        {% for k  in tab_entree %}
                            <li class="nav-item"><a href="{{ url('preferences',{'pref':k}) }}{% if default == 1 %}&default=1{% endif %}" class="nav-link">{{ k|trans }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>

             </div>


            <!-- Colonne principal-->
            <div class="col-sm-9">
                <div class="panel panel-secondary">
                {% if form is defined %}

                        <div class="panel-heading">
                            <h3 class="panel-title">{{ nom_form|trans }}</h3>
                        </div>
                        <div class="panel-body">
                            {% form_theme form with ['form_large.html.twig'] %}
                            {{ form(form) }}
                        </div>

                {% endif %}
                </div>
                <script type="application/javascript">

                    $("document").ready(function () {
                        initialisation_composant_form('form[name=preferences]');

                        /*Menu-toggle*/
                        $("#menu-toggle").click(function(e) {
                            e.preventDefault();
                            $("#wrapper").toggleClass("active");
                        });

                        /*Scroll Spy*/
                        $('body').scrollspy({ target: '#spy', offset:80});

                        /*Smooth link animation*/
                        $('a[href*=#]:not([href=#])').click(function() {
                            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                                var target = $(this.hash);
                                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                                if (target.length) {
                                    $('html,body').animate({
                                        scrollTop: target.offset().top
                                    }, 1000);
                                    return false;
                                }
                            }
                        });

                    });

                </script>
            </div>
        </div>

    </div>
    </div>
{% endblock %}
