{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block content %}

    <h3>Construire sa requête</h3>
    {% block formulaire %}
        <div id="modal_querybuilder">

            <div id="liste_query">
                <ul class="list-unstyled"></ul>
            </div>

            <div class="margin">
        <a href="{{ path('querybuilder_ajouter',{'objet':objet}) }}" class="btn btn-success ajax-remplace" data-cible="#formulaire_query">Ajouter une requête</a>

                <div class="panel">
                <div class="panel-body">
                   <div id="formulaire_query"></div>
                    </div>
                </div>
            </div>

        <div id="result" class="d-none"></div>


        <link rel="stylesheet" href="{{ asset('assets/css/querybuilder.css') }}" type="text/css" media="screen"/>
        <script src="{{ asset('assets/js/querybuilder.js') }}" type="text/javascript"></script>

        <script type="application/javascript">

            function initialisation_formulaire_query(){

                var options_q = querybuilder_options;
                options_q['filters'] = {{ filtres|json_encode|raw }};


                // init

                $('#query_query').before('<div id="builder"></div>');
                $('#builder').queryBuilder(options_q);


                // get rules
                $('#query_submit').on('click', function () {
                    $('#result').removeClass('hide')
                            .html(JSON.stringify(
                                    $('#builder').queryBuilder('getRules', {
                                        get_flags: true,
                                        skip_empty: true
                                    }),
                                    undefined, 2
                            ));

                    $('#query_query')
                            .val(JSON.stringify(
                                    $('#builder').queryBuilder('getRules', {
                                        get_flags: true,
                                        skip_empty: true
                                    }),
                                    undefined, 2
                            ));
                });


                var options = {
                    dataType:  'json',
                    success: modal_reaction_ajaxform,
                    clearForm: true
                };

                $('.modal-body form',modal-form).ajaxForm(options);

            }

            function rafraichir_liste_query(args){
                charge_liste_query(args.tab_query);
            }
            function charge_liste_query(tab_query){
                liste='';
                for (var i in tab_query){

                    liste += Mustache.render(window['templates']['query.html'](),
                            {   'num':i,
                                'url_form':'{{ path('querybuilder_ajouter',{'objet':objet,'num':''})|raw }}',
                                'url_delete':'{{ path('querybuilder_supprimer',{'objet':objet,'num':''})|raw }}',
                                'message':'{{ 'confirmation_suppression'|trans }}',
                                'nom':tab_query[i]['nom']
                            }
                    );
                }
                $('#liste_query ul').html(liste);
                initialisation_modal_confirm_supprimer('#liste_query');
                initialisation_ajax_remplace('#liste_query');
               $('#liste_query li').click(function(){

                    $('#query_num').val($(this).attr('data-value'))
                            .attr('data-name','{{ 'requete'|trans }}')
                            .attr('data-value',$(this).attr('data-name'));
                    $('#query_nom').val($(this).attr('data-name'));
                    $('#modal_jquerybuilder_modal').modal('hide');
                    $('#filtre_recherche').trigger('keyup');
                });

            }


            $('document').ready(function () {

                initialisation_ajax_remplace('#modal_querybuilder');
                charge_liste_query({{ tab_query|raw }});

            });



        </script>
        </div>
    {% endblock %}


{% endblock %}