{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}

  <div class="box box-secondary">
            <div class="box-header">
                    <h3>Recherche : {{ recherche }} </h3>
            </div>
            <div class="box-body">
            {% for nom_objet,datatable in tab_result %}
           		<div class="panel box-secondary">
                	{% if  datatable.dyn %}
                    	<div class="panel-header">
                        <h3>{{ nom_objet~'_liste'|trans }} </h3>
                    	</div>
                    	<div class="panel-body">
                        {% include('inclure/table_dyn.html.twig') with{'objet_bloc':nom_objet,'datatable':datatable} only %}
                         </div>
    				{% else %}
    					<div class="panel-header">
                        <h3>{{ nom_objet~'_liste'|trans }} <span class="small">{{ datatable.nb }}</span></h3>
                    	</div>
        				<div class="panel-body">
        				{% include('inclure/table_sta.html.twig') with{'objet_bloc':nom_objet,'datatable':datatable} only %}
        				 </div>
    				{% endif %}
                </div>

            {% endfor %}
            </div>

{% endblock %}

