{% extends 'base'~layout_cplt()~'.html.twig' %}


{% block menu_header_suppl %}
    <li><a href='{{ path('preference_edit',{'pref':'statistique','redirect':'statistique'}) }}'
           class="btn btn-secondary modal-form">
            <span class="fa fa-asterisk"></span> Options des statitisques
        </a></li>
{% endblock %}

        {% block content %}
            <div class="box box-secondary">
                <div class="box-header">
                    <h1><i class="fa fa-chart-bar"></i> Statistiques</h1>
                </div>
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-2">

                            {% include 'inclure/menu_stat.html.twig' with {'tab_prestationtype': tab_prestationtype,'selection':''} %}

                        </div>
                        <div class="col-sm-10">


                        </div>
                    </div>
                </div>
            </div>




        {% endblock %}

