chemin_root ='{{ path('accueil') }}';
chemin_web ='{{ app.request.basepath }}';
url_preference_edit ='{{ path('preference_edit_value',{'pref':'++++'}) }}';



function getValeur(tab,id,champs){
if(typeof(id)!= "undefined"){
if(typeof(tab[id])!= "undefined"){

    if(typeof(champs)!= "undefined"){
    	if(typeof(tab[id][champs])!= "undefined") {
    		return tab[id][champs];
    }
    else {
    	return '';
    	}
    }
    else {
    	return tab[id];
    	}
    }
    else
    return '';
    }
return tab;
}


function getListeRegle(id,champs){
    tab={{decode('regle')|json_encode|raw}};
    return getValeur(tab,id);
}


function getMot(id,champs){
    tab={{tab('mot')|json_encode|raw}};
    return getValeur(tab,id);
}


function getActivite(id,champs){
    tab={{tab('activite')|json_encode|raw}};
    return getValeur(tab,id);
}

function getCompte(id,champs){
    tab={{tab('compte')|json_encode|raw}};
    return getValeur(tab,id);
}

function getEntite(id,champs){
    tab={{tab('entite')|json_encode|raw}};
    return getValeur(tab,id);
}

function getJournal(id,champs){
    tab={{tab('journal')|json_encode|raw}};
    return getValeur(tab,id);
}

function getPoste(id,champs){
    tab={{tab('poste')|json_encode|raw}};
    return getValeur(tab,id);
}

function getPrestation(id,champs){
    tab={{tab('prestation')|json_encode|raw}};
    return getValeur(tab,id);
}

function getPrestationType(id){
    tab = {{tab('prestation_type')|json_encode|raw}};
    return getValeur(tab,id);
}

function getInfolettre(id,champs){
    tab = {{tab('infolettre')|json_encode|raw}};
    return getValeur(tab,id);
}

function getTresor(id,champs){
    tab = {{tab('tresor')|json_encode|raw}};
    return getValeur(tab,id);
}

function getZonegroupe(id,champs){
    tab = {{tab('zonegroupe')|json_encode|raw}};
    return getValeur(tab,id);
}

function getPays(id,champs){
    tab = {{tab('pays')|json_encode|raw}};
    return getValeur(tab,id);
}

function getCourrierCanal(id) {
    tab = {{ courrier_canal|json_encode|raw}};
    return getValeur(tab, id);
}

function getCourrierType(id) {
    tab = {{ courrier_type|json_encode|raw}};
    return getValeur(tab, id);
}


function getCarteAdherentEtat(id) {
    tab = {{ range(0, 4)|transtab('carte_adh_')|json_encode|raw }};
    return getValeur(tab, id);
}


function getCarteAdherentAction(id) {
    tab = {{ range(0, 4)|transtab('carte_adh_action_')|json_encode|raw }};
    return getValeur(tab, id);
}
