@font-face {
    font-family: "simplassofont";
    src: url('../fonts/simplassofont.eot');
    src: url('../fonts/simplassofont.eot?#iefix') format('eot'),
    url('../fonts/simplassofont.woff2') format('woff2'),
    url('../fonts/simplassofont.woff') format('woff'),
    url('../fonts/simplassofont.ttf') format('truetype'),
    url('../fonts/simplassofont.svg#simplassofont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico:before {
                     display: inline-block;
                     font-family: "simplassofont";
                     font-style: normal;
                     font-weight: normal;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.ico-lg {
                     font-size: 1.3333333333333333em;
                     line-height: 0.75em;
                     vertical-align: -15%;
                 }
.ico-2x { font-size: 2em; }
.ico-3x { font-size: 3em; }
.ico-4x { font-size: 4em; }
.ico-5x { font-size: 5em; }
.ico-fw {
                     width: 1.2857142857142858em;
                     text-align: center;
                 }

.ico-lievre:before { content: "\EA01" }
.ico-tortue:before { content: "\EA02" }
.ico-entite:before { content: "\EA03" }
.ico-ruban-noir:before { content: "\EA04" }
.ico-vote:before { content: "\EA05" }
.ico-lowercase:before { content: "\EA06" }
.ico-uppercase:before { content: "\EA07" }
.ico-sort:before { content: "\EA08" }
.ico-sort-up:before { content: "\EA09" }
.ico-sort-down:before { content: "\EA10" }