{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}
<!-- Colonne de gauche-->
<div id="aside" class="col-md-4">
    <div class="box">
        <div class="box-header">
            <div class="float-right">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{ bouton('modifier', {class_cplt:'modal-form'}) }}

                    {{ bouton('supprimer') }}
                </div>
            </div>
            {{ 'composition_numero'|trans }} : {{ objet_data.idComposition }}
            <h2>{{ objet_data.nom }}</h2>


        </div>

    </div>

</div>


<div id="contenu" class="col-md-8">


    <div class="box">
        <div class="box-header">
            <div class="float-right">
                <a href="{{ path('composition_ajout_bloc',{'idComposition':objet_data.idComposition,'canal':'E'}) }}"
                   class="btn btn-success modal-form">Ajout d'un bloc</a>
            </div>
            <h3>Courriel</h3>
        </div>
        <div class="box-body">
            <ul class="sortable list-unstyled"
                data-href="{{ path('composition_trier_bloc',{'canal':'E','idComposition':objet_data.getPrimaryKey}) }}">
                {% for bloc_id,bloc in objet_data_ext.blocsEmail %}
                    <li data-id="{{ bloc_id }}">
                        <div class="float-right">
                            <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            <a href="{{ path('compositionbloc_edit',{'idCompositionBloc':bloc_id,'redirect':url_courante()}) }}"
                               class="btn btn-sm btn-warning modal-form"><i class="fa fa-pencil-alt"></i>
                            </a>
                            <a href="{{ path('composition_supprimer_bloc',{'idCompositionBloc':bloc_id}) }}"
                               class="btn btn-sm btn-danger"><i class="fa fa-trash-alt"></i>
                            </a>
                        </div>
                        {{ bloc.nom }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="box">
        <div class="box-header">
            <div class="float-right">
                <a href="{{ path('composition_apercu',{'action':'apercu','idComposition':objet_data.idComposition,'canal':'L'}) }}"
                   class="btn btn-success">Apercu PDF</a>
                <a href="{{ path('composition_ajout_bloc',{'idComposition':objet_data.idComposition,'canal':'L'}) }}"
                   class="btn btn-success modal-form">Ajout d'un bloc</a>
            </div>
            <h3>Lettre</h3>
        </div>
        <div class="box-body">
        <ul class="sortable list-unstyled"
            data-href="{{ path('composition_trier_bloc',{'canal':'L','idComposition':objet_data.getPrimaryKey}) }}">
            {% for bloc_id,bloc in objet_data_ext.blocsLettre %}
                <li data-id="{{ bloc_id }}">
                    <div class="float-right">
                        <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        <a href="{{ path('compositionbloc_edit',{'idCompositionBloc':bloc_id,'redirect':url_courante()}) }}"
                           class="btn btn-sm btn-warning modal-form"><i class="fa fa-pencil-alt"></i>
                        </a>
                        <a href="{{ path('composition_supprimer_bloc',{'idCompositionBloc':bloc_id}) }}"
                           class="btn btn-sm btn-danger"><i class="fa fa-trash-alt"></i>
                        </a>
                    </div>
                    {{ bloc.nom }}
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>


    <div class="box">
        <div class="box-header">
            <div class="float-right">
                <a href="{{ path('composition_ajout_bloc',{'idComposition':objet_data.idComposition,'canal':'S'}) }}"
                   class="btn btn-success modal-form">Ajout d'un bloc</a>

            </div>
            <h3>SMS</h3>
        </div>
        <div class="box-body">
            <ul class="sortable list-unstyled"
                data-href="{{ path('composition_trier_bloc',{'canal':'S','idComposition':objet_data.getPrimaryKey}) }}">
                {% for bloc_id,bloc in objet_data_ext.blocsSMS %}
                    <li data-id="{{ bloc_id }}">
                        <div class="float-right">
                            <span class="drag-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            <a href="{{ path('compositionbloc_edit',{'idCompositionBloc':bloc_id,'redirect':url_courante()}) }}"
                               class="btn btn-sm btn-warning modal-form"><i class="fa fa-pencil-alt"></i>
                            </a>
                            <a href="{{ path('composition_supprimer_bloc',{'idCompositionBloc':bloc_id}) }}"
                               class="btn btn-sm btn-danger"><i class="fa fa-trash-alt"></i>
                            </a>
                        </div>

                        {{ bloc.nom }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


    {% endblock %}

