{% extends 'objet/index.html.twig' %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}


{% block index_navbar %}
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a href="{{ path('statistique',{objet:'membre','selection':'courante'}) }}" class="btn" id="btn_stat"><i class="fa fa-chart-bar" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a href="{{ path('carte',{objet:'individu','selection':'courante'}) }}"
               class="btn btn-modal modal-large" id="btn_carte"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </li>

        <li class="nav-item btn-group">
            <a href='{{ path('preference_edit',{'pref':'membrind|export','redirect': path('membrind_export')}) }}'
               class="btn modal-form">
                <span class="fa fa-file-download"></span> Exportation
            </a>
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                    <a href='{{ path('preference_edit',{'pref':'membrind|export_vcard','redirect':path('membrind_vcard')}) }}'
                       class="dropdown-item modal-form">
                        <span class="fa fa-file-download"></span> Vcard simple
                    </a>

            </div>
        </li>

        <li class="nav-item btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-print" aria-hidden="true"> </span> Imprimer
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                    <a href="{{ path('carte_adherent',{'objet':'membre'}) }}" class="dropdown-item  modal-form">
                        Imprimer les cartes d'adhérentss
                    </a>
                    <a href="{{ path('etiquette',{'objet':'individu'}) }}" class="dropdown-item  modal-form">
                        Imprimer les étiquettes
                    </a>
                    <a href="{{ path('etiquette_imprimer_a4',{'objet':'individu'}) }}" class="dropdown-item">
                        Imprimer les étiquettes au format A4
                    </a>
            </div>
        </li>
        {% if autoriser('OBJET_generique_MOD') %}
        <li class="nav-item dropdown btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-list" aria-hidden="true"> </span> Actions <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                    <a href="{{ path('cotisation_en_masse') }}" class="dropdown-item">
                        Saisie rapide des cotisations
                    </a>

                    <a href="{{ path('membre_sortir_en_masse',{objet:'individu'}) }}" class="dropdown-item btn-modal">
                        Sortir les adhérents
                    </a>

            </div>
        </li>
        {% endif %}
    </ul>
{% endblock %}


{% block scripts_footer_cplt %}
    <script>
        $(document).ready(function(){
            initialisation_champs_autocomplete_geo($('#super_tableau_{{ objet_bloc }}'),'toto');
            initialisation_selection();
        })
    </script>
{% endblock %}



