{% extends 'base'~layout_cplt()~'.html.twig' %}
{% set id= objet_data.idIndividu %}
{% block head_cplt %}
    <link rel="stylesheet" href="{{ asset('assets/css/carto.css') }}"/>
    <script src="{{ asset('assets/js/carto.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">

        <div class="info-box">
            {% set tab_infolettre=tab('infolettre') %}
            <div class="info-box-image">
                {% include('inclure/logo.html.twig') with { 'objet':'individu', 'ico':'fa fa-user','has_logo' : objet_data_ext.hasImage,'objet_data':objet_data,'redirect':url_courante() } only %}
            </div>
            <div class="info-box-content">
            {% include('asso/individu/fiche.html.twig')with{'individu':objet_data,'individu_ext':objet_data_ext,'tab_infolettre':tab_infolettre} only %}

            <div class="box-body ">
                {% if tab('module.adhesion')=='oui' and pref('adhesion.affichage')=='oui' %}
                    <strong> {{ 'etat'|trans }}</strong>
                    {% if objet_data.etatAdhesion %}
                        {{ 'Adherent'|trans }}
                    {% else %}
                        {{ 'Non adherent'|trans }}
                    {% endif %}
                {% endif %}

                {% if membre_ext is not empty %}
                {% if membre_ext.estAdherent %}
                    <strong> {{ 'cotisation'|trans }}</strong>
                    {% if membre_ext.etatCotisation %}OK{% else %}Echu{% endif %}
                    <br/>
                    <strong>{{ 'servicerendu'|trans }}</strong> {{ membre_ext.servicerenduMontant|number_format(2, '.', ' ') }}
                    € depuis
                    le {{ conf('solde.amj_servicerendu').format('d/m/Y') }}<br/>
                    <strong>{{ 'paiement'|trans }}</strong> {{ membre_ext.paiementMontant|number_format(2, '.', ' ') }}
                    € depuis
                    le {{ conf('solde.amj_paiement').format('d/m/Y') }}<br/>
                    {% if (membre_ext.servicerenduMontant - membre_ext.paiementMontant>=0.01) %}
                        {{ 'solde'|trans }}: {{ (membre_ext.paiementMontant-membre_ext.servicerenduMontant)|number_format(2, '.', ' ') }}
                        <br/>
                    {% endif %}
                    {% if ( membre_ext.servicerenduMontant - membre_ext.paiementMontant >=0.01) %}
                        {{ 'soldenegatif'|trans }} : {{ ((membre_ext.servicerenduMontant-membre_ext.paiementMontant)|number_format(2, '.', ' ')) }}€
                        <br/>
                    {% endif %}

                    {% if  membre_ext.estSorti %}
                        <span class="badge badge-danger">Sorti le {{ membre.dateSortie|date('d/m/Y') }}</span>
                        {% if autoriser('OBJET_generique_SUP') %}
                            <a data-href="{{ path('membre_reprendre',{'idMembre':id,'redirect':url_courante()}) }}"
                               data-confirm="{{ 'texte_modal_reprendre'|trans }}"
                               class="btn btn-sm btn-secondary force-tooltip"
                               title="{{ 'membre_reprendre'|trans }}">
                                <i class="fa fa-sign-in-alt"></i>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if autoriser('OBJET_generique_SUP') %}
                        <a class="btn btn-sm btn-secondary force-tooltip modal-form modal-form" href="{{ path('membre_sortir',{'idMembre':membre.idMembre,'redirect':url_courante()}) }}" title="" id="lien_membrind_sortir" data-original-title="Sortir l'adherent de la liste">
                            <i class="fa fa-sign-out-alt"></i> Sortir de la liste
                        </a>
                            {% endif %}


                    {% endif %}
                {% else %}
                    Cet individu n'a jamais cotisé ou adhéré
                {% endif %}
            </div>
        </div>
        </div>

        <div class="box box-secondary informations">
            <div class="box-header">
                <h4> {{ 'informations'|trans }}</h4>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    {% if objet_data.observation %}
                        <dt>{{ 'observation'|trans }}</dt>
                        <dd>{{ objet_data.observation }}</dd>
                    {% endif %}
                    {% if objet_data.url %}
                        <dt>{{ 'URL'|trans }} :</dt>
                        <dd>{{ objet_data.url }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>

        {% include('inclure/rgpd.html.twig') with {objet_data :objet_data} only %}

        {% include('inclure/historique.html.twig') with {objet_data :objet_data,data_url:path('membrind_histo',{'idIndividu':objet_data.primaryKey})} only %}

        <div class="back">
            <a href='{{ path('membrind_index') }}' class="btn btn-secondary">{{ 'retour_liste'|trans }}</a>
        </div>

    </div>

    <!-- Colonne principal-->
    <div id="contenu" class="col-md-8">

        {% if membre %}
            {% include('inclure/table_bloc_servicerendu.html.twig')with{'objet_bloc':'membre','id':membre.IdMembre,'data_sr':servicerendu} only %}
            {% for ob,dat in data %}
                {% include('inclure/table_bloc.html.twig') with{'datatable':dat,'objet_bloc':ob,'args_ajout':{'id_objet':membre.IdMembre,'objet':'membre'}} only %}
            {% endfor %}
        {% endif %}




        {% if tab_votation is defined and tab_votation is not empty %}
            <div class="box">
                <div class="box-header">
                    <div class="box-title">
                        Liste des votations
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                        {% for id_votation,votation in tab_votation  %}
                        <tr>

                            <td class="w-25">
                                <a href="{{ path('votation_show',{'idVotation':id_votation}) }}">{{ votation.nom }}</a>
                                {% if votation.dateDebut %}
                                    <div>Date de début : {{ votation.dateDebut.format('d/m/Y') }}</div>
                                {% endif %}

                                {% if votation.dateFin %}
                                    <div>Date de fin : {{ votation.dateFin.format('d/m/Y') }}</div>
                                {% endif %}

                            </td>
                            <td class="w-75 cell_procuration">


                                   {% if votation.estClot %}
                                       <span class="color-danger">Le vote est clot</span>
                                    {% else %}


                                        {% if votation.procuration_don %}
                                            A donner procuration à <a href="{{ path('membrind_show',{'idIndividu':votation.procuration_don.id_membre}) }}">{{ votation.procuration_don.nom }}</a>
                                        {% else %}
                                            <div  class="float-right bt_vote {% if votation.sest_prononce %}voted{% endif %}">
                                                {% if votation.sest_prononce %}
                                                    <span class="badge badge-success"><i class="fa fa-check-circle"></i> Vote enregistré</span>
                                                {% endif %}
                                            <a class="btn btn-warning modal-form" href="{{ path('votation_demo',{'idVotation':id_votation,'idMembre':objet_data.primaryKey,'redirect':url_courante()}) }}">
                                                {% if votation.sest_prononce %}
                                                    Modifier le vote
                                                {% else %}
                                                    Enregistrer le vote
                                                {% endif %}
                                            </a>
                                                {% if votation.sest_prononce %}

                                                    {{ bouton('supprimer', {'objet':'votant','id':votation.id_votant,'redirect':url_courante(),class_cplt:'btn-sm'}) }}
                                                {% endif %}
                                            </div>
                                            <div class="liste_procuration">
                                            <div class="titre">
                                                {{ votation.procuration_recu|length }} procuration reçue
                                            </div>

                                            {% for proc in votation.procuration_recu  %}
                                                <div class="float-right bt_vote {% if proc.sest_prononce %}voted{% endif %}">
                                                    {% if proc.sest_prononce %}
                                                        <span class="badge badge-success"><i class="fa fa-check-circle"></i> Vote enregistré</span>
                                                    {% endif %}
                                                    <a class="btn btn-warning modal-form" href="{{ path('votation_demo',{'idVotation':id_votation,'idMembre':proc.id_membre,'redirect':url_courante()}) }}">
                                                        {% if proc.sest_prononce %}
                                                            Modifier le vote
                                                        {% else %}
                                                            Enregistrer le vote
                                                        {% endif %}
                                                    </a>
                                                    {% if proc.sest_prononce %}
                                                        {{ bouton('supprimer', {'objet':'votant','id':proc.id_votant,'redirect':url_courante(),class_cplt:'btn-sm'}) }}
                                                    {% endif %}

                                                </div>
                                                <a href="{{ path('membrind_show',{'idIndividu':proc.id_membre}) }}">{{ proc.nom}}</a>
                                            {% endfor %}
                                            </div>
                                        {% endif %}

                                    {% endif %}

                                {% if not votation.peut_participer and not votation.estClot  %}
                                    <span class="text-danger">Non comptabilisable</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        {% endif %}

        {% include('inclure/liste_document.html.twig') with{'documents':documents} only %}

        {% if autorisations is defined %}
            {% include('inclure/table_bloc_autorisation.html.twig')with{'autorisations':autorisations,'objet_data':objet_data} only %}
        {% endif %}
    </div>

    <script type="application/javascript">
        $('document').ready(function () {
            initialisation_modal_infolettre();
            initialisation_infolettre();
            initialisation_npai();
            initialisation_carte_adherent();
            {% if declencheur is defined and declencheur is not empty  %}
                $('#lien_sr_{{ declencheur }}_ajouter').trigger('click');
            {% endif %}
        });
    </script>
{% endblock %}

