{% block sujet %}
    {{ prefixe_sujet }} Confirmation d'inscription à l'assocation
{% endblock %}

{% block contenu %}
<h3>Bienvenue {{ individu.prenom }} {{ individu.nomFamille }},</h3>

<p>
    Votre inscription à l'association a bien été pris en compte, nous vous en remercions.
</p>
<p>
    Vous pouvez dès maintenant vous connecter à votre espace adhérent  : <a href="{{ url_espace_adherent|raw }}">cliquer ici pour accèder à votre compte</a>.
</p>
<p>
    Bien cordialement,
</p>
    {% include('signature.html.twig') %}

{% endblock %}