{% block sujet %}
    {{ prefixe_sujet }} Reception de votre {{ transaction.type }}
{% endblock %}

{% block contenu %}

    <h3>Bonjour {{ individu.civilite }} {{ individu.nomFamille }} {{ individu.prenom }}</h3>
    <p>Nous venons d'enregister la réception de votre {{ mode_paiement }} de {{ transaction.montantRegle }}€.</p>
    <p>Votre {{ mode_paiement }} est donc validé.</p>

    {% if inscription %}
    <p>
        Vous pouvez dès maintenant vous connecter à votre espace adhérent  : <a href="{{ url_espace_adherent|raw }}">cliquer ici pour accèder à votre compte</a>.
    </p>
    {% endif %}

    <p>Merci. </p>
    <p>Cordialement,</p>

    {% include('signature.html.twig') %}

{% endblock %}