{% extends 'base'~layout_cplt()~'.html.twig' %}


    {% block menu_header_suppl %}
        <li><a href='{{  path('preference_edit',{'pref':'statistique','redirect':'statistique'})}}'
           class="btn btn-secondary modal-form">
            <span class="fa fa-asterisk"></span> Options des statitisques
        </a></li>
    {% endblock %}

        {% block content %}
        <!-- Colonne principal-->


            <div class="box box-secondary">
                <div class="box-header">
                    <h1><i class="fa fa-chart-bar" ></i> Statistiques</h1>
                </div>
                <div class="box-body">

            <div class="row" >
            <div class="col-sm-2" >

                {% include 'inclure/menu_stat.html.twig' with {'tab_prestationtype': tab_prestationtype,'selection':selection} %}

            </div>
            <div class="col-sm-10">


                <h2>Statistique sur les cotisations</h2>
                   <h3 id="title_{{ stat.identifiant  }}">{{ stat.titre  }}</h3>
                    {% if stat.donnees_charts is not empty %}
                    <canvas id="chart_{{ stat.identifiant  }}" width="1000" height="400"></canvas>
                    <script type="application/javascript">
                        $(document).ready(function() {
                            generer_graphe('chart_{{ stat.identifiant }}',[moment("{{ stat.donnees_charts|keys|join('"),moment("')|raw }}")],[{{ stat.donnees_charts|join(',') }}])
                        });
                    </script>

                    <div class="depliable">
                        <div class="gachette">Tableau</div>
                        <div class="depliant">
                            {{ stat.donnees|array2htmltable({th:true})|raw  }}
                        </div>
                    </div>
                    {% endif %}
                <hr />
                <h3>Sur la période de cotisation :
                    <select  class="ajax-remplace" data-cible="#stat_periode" data-href="{{ path('statistique_cotisation',{'partie':'periode','periode':''}) }}" >

                        {% for i,date in tab_periode %}
                            <option value="{{ i }}" {% if i == periode %}selected="selected"{% endif %}>{{ date.periode }}</option>
                        {% endfor %}
                    </select>
                </h3>
                <div id="stat_periode"></div>


                <h3>Sur l'année :
                    <select  class="ajax-remplace" data-cible="#stat_annuelle" data-href="{{ path('statistique_cotisation',{'partie':'annuelle','annee':''}) }}" >
                        {% for i,date in tab_annee %}
                            <option value="{{ i }}" {% if i == annee %}selected="selected"{% endif %}>{{ date.periode }}</option>
                        {% endfor %}
                    </select>
                </h3>
                <div id="stat_annuelle"></div>
             </div>
             </div>
             </div>
            </div>

            <script type="application/javascript">

                $("document").ready(function () {

                    $('select.ajax-remplace').each(function(){

                        $(this).trigger('change');
                    })
                });

            </script>



{% endblock %}

