{% extends 'base'~layout_cplt()~'.html.twig' %}


{% block menu_header_suppl %}
    <li><a href='{{  path('preference_edit',{'pref':'statistique','redirect':'statistique'})}}'
       class="btn btn-secondary modal-form">
        <span class="fa fa-asterisk"></span> Options des statitisques
    </a></li>
{% endblock %}

        {% block content %}
<div class="box box-secondary">
    <div class="box-header">
        <h1><i class="fa fa-chart-bar" ></i> Statistiques</h1>
    </div>
    <div class="box-body">

        <div class="row" >
            <div class="col-sm-2" >

                {% include 'inclure/menu_stat.html.twig' with {'tab_prestationtype': tab_prestationtype,'selection':selection} %}

            </div>
            <div class="col-sm-10">
                <h2>Statistique sur les dons</h2>
                <h4>Evolutions dans le temps</h4>
                    {% if stat.donnees_charts is not empty %}
                    <canvas id="chart_{{ stat.identifiant  }}" width="1000" height="400"></canvas>
                    <script type="application/javascript">
                        $(document).ready(function() {
                            generer_graphe('chart_{{ stat.identifiant }}',[moment("{{ stat.donnees_charts|keys|join('"),moment("')|raw }}")],[{{ stat.donnees_charts|join(',') }}])
                        });
                    </script>

                    <div class="depliable">
                        <div class="gachette">Tableau</div>
                        <div class="depliant">
                            {{ stat.donnees|array2htmltable({th:true})|raw  }}
                        </div>
                    </div>
                    {% endif %}




                <h3>Sur l'année :
                    <select  class="ajax-remplace" data-cible="#stat_annuelle" data-href="{{ path('statistique_don',{'partie':'annuelle','annee':''}) }}" >
                        {% for i,date in tab_annee %}
                            <option value="{{ i }}" {% if i == annee %}selected="selected"{% endif %}>{{ date.periode }}</option>
                        {% endfor %}
                    </select>
                </h3>
                <div id="stat_annuelle">


                </div>






                <script type="application/javascript">
                    $("document").ready(function () {
                        $('select.ajax-remplace').each(function(){

                            $(this).trigger('change');
                        })
                    });
                </script>
             </div>
             </div>
            </div>
        </div>




{% endblock %}

