<div id="stat_periode">
<p>Nombre total de cotisation : {{ stat_periode.nb }} pour un total de {{ stat_periode.montant }} €</p>

<div class="row">
    <div class="col-md-4">
        <h4>Répartition par type</h4>
        <canvas id="chart_type_{{ identifiant  }}" width="500" height="300"></canvas>
        <script type="application/javascript">
            $(document).ready(function() {
                generer_graphe_pie('chart_type_{{ identifiant }}',["{{ stat_periode.type.donnees_chart|keys|join('","')|raw}}"],[{{ stat_periode.type.donnees_chart|join(',')|raw }}])
            });
        </script>
        <div class="depliable">
            <div class="gachette">Tableau</div>
            <div class="depliant">
                {{ stat_periode.type.donnees|array2htmltable({th:true})|raw  }}
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <h4>Évolution par mois</h4>
        <canvas id="chart_mensuel_{{ identifiant  }}" width="600" height="300"></canvas>
        <script type="application/javascript">
            $(document).ready(function() {
                generer_graphe_bar('chart_mensuel_{{ identifiant }}',["{{ stat_periode.mensuel.donnees_chart|keys|join('","')|raw}}"],[{{ stat_periode.mensuel.donnees_chart|join(',')|raw }}])
            });
        </script>
        <div class="depliable">
            <div class="gachette">Tableau</div>
            <div class="depliant">
                {{ stat_periode.mensuel.donnees|array2htmltable({th:true})|raw  }}
            </div>
        </div>
    </div>
</div>
    <script type="application/javascript">
        $("document").ready(function () {
            initialisation_depliable($('#stat_periode'));
        });
    </script>
</div>