<div id="stat_annuelle">
    {% if stat_annuelle.nb is not defined %}
        Aucun don pour cette année
{% else %}

    <p>Nombre total de don : {{ stat_annuelle.nb }} pour un total de {{ stat_annuelle.montant }} €</p>

    <div class="row">
        <div class="col-md-4">
            <h4>Répartition par type</h4>

        </div>

        <div class="col-md-8">
            <h4>Évolution par mois</h4>
            <canvas id="chart_mensuel_{{ identifiant  }}" width="600" height="300"></canvas>
            <script type="application/javascript">
                $(document).ready(function() {
                    generer_graphe_bar('chart_mensuel_{{ identifiant }}',["{{ stat_annuelle.mensuel.donnees_chart|keys|join('","')|raw}}"],[{{ stat_annuelle.mensuel.donnees_chart|join(',')|raw }}])
                });
            </script>
            <div class="depliable">
                <div class="gachette">Tableau</div>
                <div class="depliant">
                    {{ stat_annuelle.mensuel.donnees|array2htmltable({th:true})|raw  }}
                </div>
            </div>
        </div>

    </div>
    <script type="application/javascript">
        $("document").ready(function () {
            initialisation_depliable($('#stat_annuelle'));
        });
    </script>

    {% endif %}

</div>